<nl-dlg dlgtitle='{{dlgtitle}}'>
<nl-dlg-content>
    <nl-dlg-row attr='title' data='data' help='help'>
        <nl-input fieldmodel='title' fieldtype='text' fieldCls='w100'></nl-input>
    </nl-dlg-row>
    <nl-dlg-row attr='desc' data='data' help='help'>
        <nl-textarea fieldmodel='desc' fieldcls='w100'></nl-textarea>
    </nl-dlg-row>
	<nl-dlg-row attr='resource' data='data' help='help'>
        <div class='row row-top row-wrap margin0 padding0'>
            <div ng-repeat="res in data.resources"
                class="nl-thumbnail-container">
                <div class="nl-thumbnail">
                    <div class='nl-thumbnail-img'>
                        <img ng-if='res.type == "img"' ng-src='{{res.url}}'/>
                        <img ng-if='res.type == "video"' ng-src='{{getResurl()}}'>
                    </div>
                    <div class='nl-thumbnail-close' ng-click='onRemoveResource($index)'>
                        <i class="ion-ios-close-outline"></i>
                    </div>
                </div>
            </div>
            <div class='nl-thumbnail-container'>
                <div class='nl-thumbnail padding-mid text-center' style='border: 1px solid #DDDDFF; border-radius: 5px;' 
                        title='Click to add image'
                        ng-click='addNewResource("img")'>
                    <div class='padding-mid fsh1'>
                        <i class='icon ion-image fsh6 fblue2'></i>
                        <i class='icon ion-android-add-circle fsmall5 fblue2' style='position: absolute; top: -10px; right: 0'></i>
                    </div>
                </div>
            </div>
            <div class='nl-thumbnail-container'>
                <div class='nl-thumbnail padding-mid text-center' style='border: 1px solid #DDDDFF; border-radius: 5px;' 
                        title='Click to add video'
                        ng-click='addNewResource("video")'>
                    <div class='padding-mid fsh1'>
                        <i class='icon ion-videocamera fsh6 fblue2'></i>
                        <i class='icon ion-android-add-circle fsmall5 fblue2' style='position: absolute; top: -10px; right: 0'></i>
                    </div>
                </div>
            </div>

        </div>
	</nl-dlg-row>
</nl-dlg-content>
</nl-dlg>