<style>
.announcement-dir {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    line-height: 160%;
}

.announcement-pane .padding {
    padding: 10px;
}

.announcement-pane .padding-horizontal {
    padding: 0 10px;
}

.announcement-pane .padding-mid {
    padding: 4px;
}

.announcement-pane .announcement-res-holder {
    width: 100%;
}

.announcement-full .announcement-res-holder {
    max-width: 300px;
}

.announcement-res {
    width: 100%;
}

.nl-overflow-desc-hidden {
    height: 46px;
    text-overflow : ellipsis;
    overflow: hidden;
}
</style>
<div class='nl-thin-scroll announcement-dir bgwhite announcement-{{$root.screenSize == "small" ? "pane" : $root.announcement.mode}}'>
    
    <!-- Title tool bar -->
    <div class='row row-center row-wrap margin0 padding0'
        style='border-bottom: 1px solid rgba(0, 0, 0, 0.1)'>
        <div class='col padding fblue2 fsh5'>
            <span ng-show='$root.screenSize != "small" && $root.announcement.mode == "pane"'>Announcements</span>
        </div>
        <span ng-repeat='tb in $root.announcement.toolBar' ng-show='tb.canShow()'
            title='{{tb.title}}'
            class='nl-toolbar-icon'
            ng-click='tb.onClick()'>
            <i class="icon {{tb.icon}}"></i>
        </span>
    </div>

    <div class='nl-limitwidth'>
        <!-- When list is empty -->
        <div ng-show='$root.announcement.items.length == 0' class='row row-center padding-mid margin0'>
            <div class='fdarkgrey2'> There are no announcements to display. </div>
        </div>
    
        <!-- Each announcement item -->
        <div class='announcement-item' ng-repeat='announcement in $root.announcement.items'>
            <div>
                <!-- Title and update/delete tools -->
                <div class='row row-top padding margin0'>
                    <div class='col padding0'>
                        <div class='fblue2 fsh6 nl-link-text' ng-click='showAnnouncementPopup(announcement)'>{{announcement.title}}</div>
                        <div class='fsmall1 fdarkgrey2 padding-small-v'>{{announcement.updated}}</div>
                    </div>
                    <div ng-show='canShowButtons()' class='nl-link-img fblue padding-small' ng-click='updateAnnouncement(announcement)'>
                        <i class='icon ion-ios-photos nl-dlg-field-icon' title='Update'></i>
                        <span ng-hide='$root.screenSize == "small"' class='padding-mid'>Update</span>
                    </div>
                    <div ng-show='canShowButtons()' class='nl-link-img fblue padding-small' ng-click='deleteAnnouncement(announcement)'>
                        <i class='ion-ios-trash icon nl-dlg-field-icon' title='Delete'></i>
                        <span ng-hide='$root.screenSize == "small"' class='padding-mid'>Delete</span>
                    </div>
                </div>
        
                <!-- Description -->
                <div ng-show='announcement.desc' class='fsmall1 fdarkgrey2 padding-horizontal {{(announcement.showMore && $root.announcement.mode == "pane") ? "" : "nl-overflow-desc-hidden"}}' style='width: {{checkOverflow($event) ? "" : ""}}'>
                    {{announcement.desc}}
                </div>
                <div class='row row-center margin0 padding0' ng-if='checkOverflow(announcement.desc)'>
                    <div class='col'></div>
                    <div class='padding-horizontal'>
                        <span class='nl-link-text' ng-click='clickOnShowMore(announcement)' style='text-decoration: underline'>
                            {{announcement.showMore ? "See less" : "See more"}}
                        </span>
                    </div>
                </div>
        
                <!-- Images -->
                <div class='row row-center padding0 margin0 row-wrap'>
                    <div class='announcement-res-holder padding' ng-repeat='res in announcement.resources'  ng-if='($root.announcement.mode == "pane" && $index == 0) || ($root.announcement.mode == "full")'>
                        <img class='announcement-res' ng-if='res.type == "img"' ng-src='{{res.url}}'/>
                        <div ng-if='res.type == "video"' nl-compile='res.markUpurl' class='nl-content-holder'></div>
                    </div>
                </div>
                <div class='row row-center padding0 margin0' ng-show='($root.announcement.mode == "pane" && announcement.resources.length > 1)'> 
                    <div class='col'></div>
                    <span class='nl-link-text' 
                        ng-click='showAnnouncementPopup(announcement)'
                        style='border-radius: 25px'>
                        <i class='icon padding'>{{announcement.resources.length-1}} more</i>
                    </span>
                </div>
            </div>
    
            <!-- Bottom line-->
            <div class='padding'>
                <div style='border-bottom: 1px solid rgba(0, 0, 0, 0.1);'></div>
            </div>
        </div>
    
        <!-- Empty line-->
        <div class='padding'></div>
    </div>
</div>