<div nl-loading='lesson' nl-load-done='onLoaded' class='nl-player'>
    <div class='nl-page' ng-class='pageNoData.pageAnim'
         ng-repeat='page in lesson.pages'
         ng-show='$index + 1 == pageNoData.currentPage'>
        <div style='background: grey; z-index:3; position:absolute; right:0; bottom:0'> Page No: {{$index + 1}}, PT: {{page.oPage.type}} </div>
        <div ng-repeat='section in page.sections' class='nl-section' ng-style='section.styleSec'>
            <b>{{$index}}: </b> {{section.oSection.text}}
        </div>
    </div>
</div>
