<div class='nl-dlg-field-value nl-xxx-select'>
<div class='nl-link-text row row-wrap row-center margin0 padding-small'
     ng-click='info.treeIsShown = !info.treeIsShown'
     autofocus=''
     tabindex="{{tabindex || 0}}">
     <div class='col padding-small nl-textellipsis'>{{info.selectedText}}</div>
     <i ng-show='info.onFilterClick'
        title='{{info.filterIconTitle}}'
        class="icon {{info.filterIcon || 'ion-funnel'}} nl-dlg-field-icon"
        ng-click='info.onFilterClick($event)'></i>
     <i ng-show='!info.treeIsShown' class="icon ion-arrow-down-b nl-dlg-field-icon"></i>
     <i ng-show='info.treeIsShown' class="icon ion-arrow-up-b nl-dlg-field-icon"></i>
</div>
<div ng-repeat='item in info.visibleData'
     class='row row-wrap row-center margin0 padding0 nl-link-text'
     ng-show='info.treeIsShown && item.isVisible'
     ng-click='onClick(item, $event)'>
    <div style='padding: {{screenSize == "small" ? 5 : 10}}px 5px {{screenSize == "small" ? 5 : 10}}px 5px;'>
        <div style='padding-left: {{item.indentation*20}}px'>
            <i ng-show='item.isFolder && !item.isOpen' class="icon ion-arrow-right-b bold"></i>
            <i ng-show='item.isFolder && item.isOpen' class="icon ion-arrow-down-b bold"></i>
            <i ng-show='item.selected === true' class="icon ion-android-checkbox fsh4"
               ng-click='onCheckBoxSelect(item, $event)'></i>
            <i ng-show='item.selected == "part"' class="icon ion-android-checkbox-blank fsh4"
               ng-click='onCheckBoxSelect(item, $event)'></i>
            <i ng-show='!item.selected' class="icon ion-android-checkbox-outline-blank fsh4"
               ng-click='onCheckBoxSelect(item, $event)'></i>
            <span ng-show='item.icon'><i class='icon {{item.icon}}'></i></span>
            <span>{{item.name}}</span>
            <span ng-show='info.showCounts && item.isFolder'
                  class='fsmall1'>({{item.selectedCount || 0}} of {{item.childCount || 0}})</span>
        </div>
    </div>
</div>
</div>
