<div class='nl-dlg-field-value nl-xxx-select'
	ng-keydown='onKeydown($event, tabindex)'>
<div class='nl-tree-select-box nl-link-text row row-wrap row-center margin0 padding-small'
     ng-click='info.treeIsShown = !info.treeIsShown'
     autofocus=''
     tabindex="{{tabindex || 0}}">
     <div class='col padding-small nl-textellipsis'>{{info.selectedText}}</div>
     <i ng-show='info.onFilterClick'
        title='{{info.filterIconTitle}}'	
        class="icon {{info.filterIcon || 'ion-funnel'}} nl-dlg-field-icon"
        ng-click='info.onFilterClick($event)'></i>
     <i ng-show='!info.treeIsShown' class="icon ion-arrow-down-b nl-dlg-field-icon"></i>
     <i ng-show='info.treeIsShown' class="icon ion-arrow-up-b nl-dlg-field-icon"></i>
</div>
<div class='padding-mid'
	  ng-show='info.treeIsShown && info.showSearchField'>
	<div class='row row-wrap row-center margin0 padding0'>
		<input class='padding-mid col searchField' ng-model='info.searchText' ng-change='onSearchTextChange($event)' 
			   placeholder="Enter search string to filter required element from the tree">
	    <span title='Select all'
	          ng-show='info.multiSelect'
	          class='nl-toolbar-icon'
	          tabindex='0'
	          ng-click='selectDeselectAll($event, true)'>
	        <i class="icon fsh3 ion-android-checkbox-outline"></i>
	    </span>
	    <span title='Deselect all'
	          ng-show='info.multiSelect'
	          class='nl-toolbar-icon'
	          tabindex='0'
	          ng-click='selectDeselectAll($event, false)'>
	        <i class="icon fsh3 ion-android-checkbox-outline-blank"></i>
	    </span>
	</div>
</div>
<div ng-repeat='item in info.visibleData'
     class='row row-wrap row-center margin0 padding0 nl-link-text {{$index == info.currentItemPos ? "activated": ""}}'
     ng-show='info.treeIsShown && item.isVisible'
     ng-click='onClick(item, $event, $index)'>
    <div class='padding-mid'>
        <div style='padding-left: {{item.indentation*20}}px'>
            <i ng-show='item.isFolder && !item.isOpen' class="icon ion-arrow-right-b bold"></i>
            <i ng-show='item.isFolder && item.isOpen' class="icon ion-arrow-down-b bold"></i>
            <i ng-show='item.selected === true' class="icon ion-android-checkbox fsh4"
               ng-click='onCheckBoxSelect(item, $event, $index)'></i>
            <i ng-show='item.selected == "part"' class="icon ion-android-checkbox-blank fsh4"
               ng-click='onCheckBoxSelect(item, $event, $index)'></i>
            <i ng-show='!item.selected && (info.multiSelect || info.canSelectFolder && item.isFolder)'
               class="icon ion-android-checkbox-outline-blank fsh4"
               ng-click='onCheckBoxSelect(item, $event, $index)'></i>
            <span ng-show='item.icon'><i class='icon {{item.icon}}'></i></span>
            <span ng-show='item.image'><img class='fsh4 nl-24' style='margin-bottom: -4px' ng-src='{{item.image}}'/></span>
            <span>{{item.name}}</span>
            <span ng-show='info.showCounts && item.isFolder'
                  class='fsmall1'>({{item.selectedCount || 0}} of {{item.childCount || 0}})</span>
        </div>
    </div>
</div>
</div>
<div ng-show='$parent.error[info.fieldmodelid]' class='nl-dlg-field-errormsg'>{{$parent.error[info.fieldmodelid]}}</div>
