<div class='nl-thin-scroll nl-full nl-forum'>
    <div class='popup-buttons no-border' ng-hide='postNewDlg.visible'>
        <button ng-hide='hidePostNewButton' ng-click='showPostNewDlg()' class='button'>Post new message</button>
        <button ng-click='showHideAllMessageDetails()' class='button'>{{showHideAllButtonName}}</button>
        <button ng-click='refreshDataFromServer()' class='button'>Refresh</button>
    </div>
    <nl-forum-input ng-show='postNewDlg.visible'></nl-forum-input>
    <div ng-repeat='msg in msgs' class='nl-forum-msg'>
        <div class='nl-forum-header row row-center nl-clickable'
             ng-click='showHideMessageDetails(msg)'
             ng-class='{"nl-forum-header-child" : msg.indentationLevel > 0}'
             ng-hide='msg.hidden_title'>
            <span ng-show='msg.indentationLevel != 0' class='nl-cv-indent'></span>
            <span class='col'><img ng-src='{{getUserIcon(msg)}}'/>{{msg.authorname}}</span>
            <span ng-show='msg.indentationLevel == 0'
                  class='nl-forum-title col col-67'
                  ng-bind-html='msg.title'></span>
            <span class='nl-forum-time col'>{{fmtDate(msg.updated)}}</span>
        </div>
        <div class='nl-forum-content row row-center' ng-hide='msg.hidden_text'>
            <span ng-show='msg.indentationLevel != 0' class='nl-cv-indent'></span>
            <span class='col col-80' ng-bind-html='msg.text'></span>
            <span ng-show='msg.indentationLevel == 0' class='col' style='text-align: right'>
                <button ng-click='reply(msg)'>Reply</button>
            </span>
        </div>
        <nl-forum-input ng-show='msg.showReplyDlg'></nl-forum-input>
    </div>
    <div ng-if='msgs.length == 0' class='nl-forum-msg'>
        <h3>There is no message to display.</h3>
    </div>
</div>