<div class='padding-small'>
    <div class='nl-forum-msg'
         ng-class='{me: msg.canEdit, editing: $parent.inputDlg.editMessage && $parent.inputDlg.msg == msg}'>
        <div class='nl-forum-msg-header row row-wrap row-center row-stretch padding0'>
            <div class='col text-left no-grow padding-small'><img class='nl-24' ng-src='{{msg.userIcon}}'/></div>
            <div class='col text-left min-200 padding-small'><b>{{msg.authorname}}</b>, <span class='nl-forum-ts'>{{msg.htmlUpdated}}</span></div>
        </div>
        <div ng-show='$parent.showingDetails' class='padding-small'>
            <div class='nl-forum-msg-details padding0'>
                <div class='row row-wrap row-center margin0 padding0'>
                    <div class='col padding-small'>created on</div>
                    <div class='col padding-small'>{{msg.htmlCreated}}</div>
                </div>
                <div class='row row-wrap row-center margin0 padding0'>
                    <div class='col padding-small'>last updated on</div>
                    <div class='col padding-small'>{{msg.htmlUpdated}}</div>
                </div>
            </div>
        </div>
        <div class='nl-forum-msg-content padding-small'
             ng-hide='$parent.inputDlg.editMessage && $parent.inputDlg.msg == msg'>
            <div ng-bind-html='msg.htmlMarkup'></div>
            <div class='padding-small'></div>
            <div class='nl-mildtoolbar text-left'>
                <span title='edit'
                      ng-show='msg.canEdit'
                      class='nl-toolbar-icon'
                      ng-click='$parent.showEditMsgDlg(msg)'>
                    <i class="icon ion-edit" style='font-size: 22px'></i>
                </span>
                <span title='delete'
                      ng-show='msg.canDelete'
                      class='nl-toolbar-icon'
                      ng-click='$parent.deleteMsg(msg)'>
                    <i class="icon ion-ios-trash"></i>
                </span>
            </div>
        </div>
        <div class='nl-forum-msg-edit padding-small nl-dlg-field-value'
             ng-show='$parent.inputDlg.editMessage && $parent.inputDlg.msg == msg'>
            <nl-forum-input pscope='$parent.inputDlgScope'>
            </nl-forum-input>
        </div>
    </div>
</div>
