<div class='padding-small'>
    <div class='nl-forum-msg' ng-class='{me: msg.canEdit}'>
        <div class='nl-forum-msg-header row row-wrap row-center row-stretch padding0'>
            <div class='col text-left no-grow padding-small'><img class='nl-24' ng-src='{{msg.userIcon}}'/></div>
            <div class='col text-left min-200 padding-small'>{{msg.authorname}}</div>
            <div ng-show='msg.canReply' class='col text-right no-grow padding-small'>
                <img class='nl-24 nl-clickable' ng-src='{{$parent.imgBasePath + "toolbar-edit/comments1.png"}}' ng-click='$parent.replyMsg(msg)'/>
            </div>
            <div ng-show='msg.canEdit' class='col text-right no-grow padding-small'>
                <img class='nl-24 nl-clickable' ng-src='{{$parent.imgBasePath + "toolbar-edit/edit.png"}}' ng-click='$parent.editMsg(msg)'/>
            </div>
            <div ng-show='msg.canDelete' class='col text-right no-grow padding-small'>
                <img class='nl-24 nl-clickable' ng-src='{{$parent.imgBasePath + "toolbar-edit/revclose.png"}}' ng-click='$parent.deleteMsg(msg)'/>
            </div>
            <div class='col text-right fixed-200 padding-small'>
                <span ng-show='msg.parentid > 0'>{{msg.htmlUpdated}}</span>
            </div>
        </div>
        <div ng-show='$parent.showingDetails' class='padding-small'>
            <div class='nl-forum-msg-details padding0'>
                <div class='row row-wrap row-center margin0 padding0'>
                    <div class='col padding-small'>created on</div>
                    <div class='col padding-small'>{{msg.htmlCreated}}</div>
                </div>
                <div class='row row-wrap row-center margin0 padding0'>
                    <div class='col padding-small'>last updated on</div>
                    <div class='col padding-small'>{{msg.htmlUpdated}}</div>
                </div>
            </div>
        </div>
        <div class='nl-forum-msg-content padding-small' ng-hide='msg.editing' ng-bind-html='msg.htmlMarkup'></div>
        <div class='nl-forum-msg-edit padding-small nl-dlg-field-value' ng-show='msg.editing'>
            <input type='text' ng-show='msg.parentid == 0' ng-model='msg.title'></input>    
            <div ng-show='msg.parentid == 0' class='padding-small'></div>    
            <textarea ng-model='msg.text'></textarea>    
            <div class='padding-small'></div>    
            <div class='popup-buttons row'>
                <button ng-click='$parent.onEditMsgDone(msg)' class='button col'>Update</button>
                <button ng-click='$parent.onEditMsgCancel(msg)' class='button col'>Cancel</button>
            </div>
        </div>
    </div>
</div>
