<div class='nl-toolbar'>
    <span title='Start new topic'
          ng-show='canStartTopic && !currentTopicId'
          class='nl-toolbar-icon'
          ng-click='showPostNewTopicDlg()'>
        <i class="icon ion-chatboxes"></i>
    </span>
    <span title='Post a message'
          ng-show='canReply(currentTopicId)'
          class='nl-toolbar-icon'
          ng-click='showPostNewMessageDlg(currentTopicId)'>
        <i class="icon ion-ios-chatbubble"></i>
    </span>
    <span title='Upload resource'
          ng-show='canReply(currentTopicId)'
          class='nl-toolbar-icon'
          ng-click='uploadResource(currentTopicId)'>
        <i class="icon ion-paperclip"></i>
    </span>
    <span title='Show overview'
          ng-show='currentTopicId'
          class='nl-toolbar-icon'
          ng-click='collapseAll()'>
        <i class="icon ion-arrow-up-a"></i>
    </span>
    <span title='{{msgDetails.title}}'
          ng-show='canShowDetails && currentTopicId'
          class='nl-toolbar-icon'
          ng-click='showHideMsgDetails()'>
        <i ng-show='msgDetails.iconMore' class="icon ion-android-add-circle"></i>
        <i ng-hide='msgDetails.iconMore' class="icon ion-android-remove-circle"></i>
    </span>
    <span title='Refresh data'
          class='nl-toolbar-icon'
          ng-click='refreshDataFromServer()'>
        <i class="icon ion-android-sync"></i>
    </span>
    <span title='Download as CSV'
          ng-show='canStartTopic'
          class='nl-toolbar-icon'
          ng-click='download()'>
        <i class="icon ion-ios-cloud-download"></i>
    </span>
</div>
