<div class='row row-center margin0 padding-small'>
    <div class='col padding0'></div>
    <nl-forum-toolbar clas='col min-200'></nl-forum-toolbar>
</div>
<div class='nl-thin-scroll nl-full-withtoolbar nl-forum padding-small'>
	<div ng-show='showSearchBox' class='nl-card-search row row-center padding-mid'>
		<input class='col' ng-model='search'
		       placeholder='Search text' ng-keydown='searchKeyHandler($event)'>
		<i class='sep4'></i>
	</div>
	<i class='sep4'></i>
    <nl-forum-input ng-show='inputDlg.newTopic' pscope='inputDlgScope'>
    </nl-forum-input>
    <div ng-repeat='msg in msgTree track by msg.id' ng-class='padding0'>
        <div ng-show='!currentTopicId && !msg.hideWhenSearched'
             class='row row-wrap padding-small'>
            <div ng-show='mentorView'
                 class='col no-grow padding-small'>
                 <img class='nl-24' ng-src='{{msg.userIcon}}'/>
            </div>
            <div ng-show='mentorView'
                 class='col fixed-200 padding-small'>
                 <b>{{msg.authorname}}</b>
            </div>
            <div class='col min-200 padding-small nl-link-text nl-forum-header2'
                 ng-click='expandCollapseMsg(msg)'>
                 <span ng-bind-html='msg.title'></span>
                 <span>({{msg.children.length+1}})</span>
            </div>
            <div ng-hide='currentTopicId == msg.id'
                 class='col text-right fixed-200 padding-small nl-forum-ts'>{{msg.htmlUpdated}}</div>
        </div>
        <div ng-show='currentTopicId == msg.id'>
		    <div class='padding-mid nl-forum-header'
		          ng-bind-html='getTopicName()'>
		    </div>
            <nl-forum-msg msg='msg' ng-hide='msg.hideWhenSearched'></nl-forum-msg>
            <div ng-repeat='reply in msg.children track by reply.id'>
                <nl-forum-msg msg='reply' ng-hide='reply.hideWhenSearched'></nl-forum-msg>
            </div>
        </div>
    </div>
    <nl-forum-input ng-show='inputDlg.newMessage' pscope='inputDlgScope'>
    </nl-forum-input>
    <div ng-if='msgTree.length == 0' class='padding-small'>
        <h3>There is no message to display.</h3>
    </div>
    <div ng-if='!currentTopicId' class='padding-small'>
        {{msgCount}} message(s)
        <span ng-show='since'>since {{since}}</span>.
        <span ng-show='moreResults' class='nl-link-text padding-small' ng-click='loadOlderMessages()'>
            Load older messages.
        </span>
    </div>
</div>
