<div class='nl-forum-input' ng-class='{newmsg: pscope.inputDlg.newMessage}'>
    <div class='nl-dlg-field-value' ng-show='pscope.inputDlg.canShowTitle'>
        <input ng-model='pscope.data.title'
               placeholder='Enter the topic name'
               type='text'
               nl-focus-me='pscope.inputDlg.focusTitle'>
        </input>
        <div ng-show='pscope.error.title' class='nl-dlg-field-errormsg'>{{pscope.error.title}}</div>
    </div>
    <div class='nl-dlg-field-value'>
        <textarea ng-model='pscope.data.text'
                  placeholder='Enter you message'
                  nl-focus-me='pscope.inputDlg.focusText'>
        </textarea>
        <div ng-show='pscope.error.text' class='nl-dlg-field-errormsg'>{{pscope.error.text}}</div>
    </div>
    <div class='popup-buttons row'>
        <button ng-click='pscope.inputDlgOk()' class='button col'>{{pscope.inputDlg.okButtonName}}</button>
        <button ng-click='pscope.inputDlgCancel()' class='button col'>Cancel</button>
    </div>
</div>
