<div class='nl-toolbar'>
    <span title='Start new topic'
          class='nl-toolbar-icon'
          ng-click='showSearchBoxField()'>
        <i class="icon ion-android-search"></i>
    </span>
    <span title='Start new topic'
          ng-show='canStartTopic && !currentTopicId'
          class='nl-toolbar-icon'
          ng-click='showPostNewTopicDlg()'>
        <i class="icon ion-plus-circled"></i>
    </span>
    <span title='Post a message'
          ng-show='canReply(currentTopicId)'
          class='nl-toolbar-icon'
          ng-click='showPostNewMessageDlg(currentTopicId)'>
        <i class="icon ion-ios-chatbubble"></i>
    </span>
    <span title='Upload resource'
          ng-show='canReply(currentTopicId)'
          class='nl-toolbar-icon'
          ng-click='uploadResource(currentTopicId)'>
        <i class="icon ion-paperclip"></i>
    </span>
    <span title='Go to topic list'
          ng-show='currentTopicId'
          class='nl-toolbar-icon'
          ng-click='collapseAll()'>
        <i class="icon ion-ios-list"></i>
    </span>
    <span title='{{msgDetails.title}}'
          ng-show='canShowDetails && currentTopicId'
          class='nl-toolbar-icon'
          ng-click='showHideMsgDetails()'>
        <i ng-show='msgDetails.iconMore' class="icon ion-information-circled"></i>
        <i ng-hide='msgDetails.iconMore' class="icon ion-information-circled fblue"></i>
    </span>
    <span title='Refresh data'
          class='nl-toolbar-icon'
          ng-click='refreshDataFromServer()'>
        <i class="icon ion-refresh"></i>
    </span>
    <span title='Download as CSV'
          ng-show='canStartTopic'
          class='nl-toolbar-icon'
          ng-click='download()'>
        <i class="icon ion-ios-cloud-download"></i>
    </span>
</div>
