<style>
    nl-course-canvas-view .holder1 {
        background: {{canvas.bgcolor || "rgba(255, 255, 255, 0.5)"}};
    }
    nl-course-canvas-view .holder2 {
        position: absolute;
        top: {{canvas.t}}%; 
        left: {{canvas.l}}%; 
        height: {{canvas.h}}%; 
        width: {{canvas.w}}%;
    }
</style>

<div class='holder1' ng-click='canvas.closePins($event)'>
<div ng-hide1='canvas.loadedimg' class='bgimgmsg padding fsh6' ng-bind-html='canvas.bgimgmsg'>
</div>
<div class='holder2'>
    <img ng-if='canvas.loadedimg' class='bgimg anim fade' ng-src='{{canvas.loadedimg}}'>
    <div ng-repeat='pin in canvas.pins track by $index'
         class='anim nl-link-img pin {{pin.quadCls}} {{canvas.currentPin == $index ? "expanded fade" : ""}} {{pin.selected? "selected" : ""}}'
         style='top: {{pin.t}}; bottom: {{pin.b}}; left: {{pin.l}}; right: {{pin.r}};'
         title={{pin.cm.name}}
         ng-click='canvas.showPin($event, $index)'>
        <div class='row row-center margin0 padding0'>
            <span class='padding-small fsh5 text-center'>
                <span ng-if='!ext.isStaticMode()'
                      class='row row-center margin0 padding0 text-center'
                      style='width: 28px; height: 28px'>
                    <i class='fsh4 col padding0 margin0 icon {{pin.cm.state.icon}}'></i>
                </span>
                <nl-course-view-icon ng-if='ext.isStaticMode()'
                                     ext='ext' cm='pin.cm' 
                                     cls='fsh4 col padding0 margin0'
                                     class='row row-center margin0 padding0 text-center'
                                     style='width: 28px; height: 28px'>
                </nl-course-view-icon>
            </span>
            <span ng-show='canvas.currentPin == $index'
                  class='padding-small'>{{pin.cm.name}}</span>
            <span ng-show='ext.isEditorMode() && canvas.currentPin == $index'
                  ng-click='canvas.showDetails($event, $index)'
                  title='Edit'
                  class='padding-small nl-link-text fsh5'>
                <i class='ion-ios-compose icon nl-toolbar-icon padding-small fsh4'></i>
            </span>
            <span ng-show='!ext.isEditorMode() && canvas.currentPin == $index'
                  ng-click='canvas.showDetails($event, $index)'
                  title='View details'
                  class='padding-small nl-link-text fsh5'>
                <i class='ion-information-circled icon nl-toolbar-icon padding-small fsh4'></i>
            </span>
            <span ng-show='ext.canLaunch() && canvas.currentPin == $index'
                  ng-click='canvas.launch($event, $index)'
                  title='View details'
                  class='padding-small nl-link-text fsh5'>
                <i class='ion-android-open icon nl-toolbar-icon padding-small fsh4'></i>
            </span>
        </div>
    </div>
</div>
</div>
