<div class='nl-toolbar padding-small text-right'>
    <span title='Help'
         class='nl-toolbar-icon'
         ng-click='showInlineHelp = !showInlineHelp'>
        <i class="icon ion-ios-help"></i>
    </span>
    <span title='Show or hide filters'
         class='nl-toolbar-icon'
         ng-click='showFilter = !showFilter'>
        <i class="icon ion-funnel"></i>
    </span>
    <span title='Download as CSV'
          class='nl-toolbar-icon'
          ng-click='download()'>
        <i class="icon ion-ios-cloud-download"></i>
    </span>
    <span title='View summary'
         class='nl-toolbar-icon'
         ng-click='viewSummary()'>
        <i class="icon ion-arrow-up-a"></i>
    </span>
</div>
<div class='nl-thin-scroll padding-mid nl-full-withtoolbar'>
    <div class='row row-center row-wrap padding0 margin0'
         ng-show='role == "admin"'>
        <div ng-class='respCol331'>Select centre: </div>
        <div class='padding-small nl-dlg-field-value' ng-class='respCol331'>
            <select ng-model='data.centre'
                    ng-options='opt as opt.name for opt in options.centre track by opt.id'
                    ng-change='onCentreChange(false)'>
            </select>
        </div>
        <div ng-class='respCol331'>
            <button class='nl-button w100' ng-click='onCentreChange(true)'>View</button>
        </div>
    </div>
    <div class='row row-center row-wrap padding0 margin0'
         ng-show='showFilter'>
        <div class='padding-small nl-dlg-field-value' ng-class='respCol331'>
            <select ng-model='data.cls'
                    ng-options='opt as opt.name for opt in options.cls track by opt.id'
                    ng-change='onClsChange()'>
            </select>
        </div>
        <div class='padding-small nl-dlg-field-value' ng-class='respCol331'>
            <select ng-model='data.name'
                    ng-options='opt as opt.name for opt in options.name track by opt.id'
                    ng-change='onNameChange()'>
            </select>
        </div>
        <div class='padding-small nl-dlg-field-value' ng-class='respCol331'>
            <select ng-model='data.month'
                    ng-options='opt as opt.name for opt in options.month track by opt.id'
                    ng-change='onMonthChange()'>
            </select>
        </div>
    </div>
    
    <div class='padding-small'></div>
    <div class='padding-small'>
        <div class='fsh6'>
            <span class='fsh5 fblue2'>{{rnoCount}}</span> student records processed.
            <span class='fsh5 fblue2'>{{obsCount}}</span> observations done.
            <span class='fsh5 fblue2'>{{repCount}}</span> summary reports sent.
        </div>
        <div class='fblue'>
            Click on the <i class="icon ion-ios-help fsh3 fblack"></i> icon in the toolbar above to get started.
        </div>
    </div>
    <div class='padding-small'></div>

    <nl-inline-help show-help='{{showInlineHelp}}'>
        The data is fetched in multiple chunks from the server depending on the size of data to be processed.
        If the data is still being fetched, you will see a notification in the bottom.
        You could view the data as it is being fetched.
    </nl-inline-help>


    <div class='padding-small fsh6 nl-link-text'
         ng-click='showRatingStats=!showRatingStats'>
        <i ng-show='!showRatingStats' class="icon ion-arrow-right-b"></i>
        <i ng-show='showRatingStats' class="icon ion-arrow-down-b"></i>
        <span>Analysis of ratings across development areas</span>
    </div>
    <nl-inline-help show-help='{{showInlineHelp}}'>
        Click on the above link to view the average rating across milestone areas.
        The average rating is computed based on the rated milestones by assigning a weight to 
        each achievement level (see below). The average is computed by summing up all the weights
        and dividing by number of ratings.
    </nl-inline-help>
    <div ng-if='showRatingStats'>
        <div class='padding-small'></div>
        <rno-stats-rating></rno-stats-rating>
        <div class='padding-small'></div>
        <div class='padding-small fsh5'>Student level ratings across development areas</div>
        <rno-stats-rating-table></rno-stats-rating-table>
    </div>

    <div class='padding-small'></div>
    <div class='padding-small fsh6 nl-link-text'
         ng-click='showObservationStats=!showObservationStats'>
        <i ng-show='!showObservationStats' class="icon ion-arrow-right-b"></i>
        <i ng-show='showObservationStats' class="icon ion-arrow-down-b"></i>
        <span>Trend analysis of observations</span>
    </div>
    <nl-inline-help show-help='{{showInlineHelp}}'>
        Click on the above link to view monthly bar chart of observation statisitics.
        Click on a month's bars to view daily chart for the selected month.
        You could select/unselect the different observation counters in your chart view.
    </nl-inline-help>
    <div ng-if='showObservationStats'>
        <div class='padding-small'></div>
        <rno-stats-observation></rno-stats-observation>
    </div>

    <div class='padding-small'></div>
    <div class='padding-small fsh6 nl-link-text'
         ng-click='showObservationTable=!showObservationTable'>
        <i ng-show='!showObservationTable' class="icon ion-arrow-right-b"></i>
        <i ng-show='showObservationTable' class="icon ion-arrow-down-b"></i>
        <span>List of observations in the month {{data.month.id}}</span>
    </div>
    <nl-inline-help show-help='{{showInlineHelp}}'>
        Click on the above link to view the list of observations done/sent in the current selected month.
        You can change the selected month by enabling the filter in the toolbar.
        Clicking on a month's bar in any month chart also changes the selected month.
        <p>If there are too many items, the list is not presented. You would need to filter the data at class/student level to view the data.</p>
    </nl-inline-help>
    <div ng-if='showObservationTable'>
        <div class='padding-small'></div>
        <rno-stats-observation-table></rno-stats-observation-table>
    </div>

    <div class='padding-small'></div>
    <div class='padding-small fsh6 nl-link-text'
         ng-click='showReportStats=!showReportStats'>
        <i ng-show='!showReportStats' class="icon ion-arrow-right-b"></i>
        <i ng-show='showReportStats' class="icon ion-arrow-down-b"></i>
        <span>Trend analysis of reports sent</span>
    </div>
    <nl-inline-help show-help='{{showInlineHelp}}'>
        Click on the above link to view monthly bar chart of summary reports sent statisitics.
        Click on a month's bars to view daily chart for the selected month.
        
    </nl-inline-help>
    <div ng-if='showReportStats'>
        <div class='padding-small'></div>
        <rno-stats-report></rno-stats-report>
    </div>

    <div class='padding-small'></div>
    <div class='padding-small fsh6 nl-link-text'
         ng-click='showReportTable=!showReportTable'>
        <i ng-show='!showReportTable' class="icon ion-arrow-right-b"></i>
        <i ng-show='showReportTable' class="icon ion-arrow-down-b"></i>
        <span>List of reports sent in the month {{data.month.id}}</span>
    </div>
    <nl-inline-help show-help='{{showInlineHelp}}'>
        Click on the above link to view the list of summary reports sent in the current selected month.
    </nl-inline-help>
    <div ng-if='showReportTable'>
        <div class='padding-small'></div>
        <rno-stats-report-table></rno-stats-report-table>
    </div>
</div>
