<nl-dlg dlgtitle='{{dlgTitle}}'>
    <nl-dlg-help>
        Create or modify the properties of a rating and observation log. A log is maintained for each user who is rated and observered.</p>
    </nl-dlg-help>
    <nl-dlg-content>
        <table class='nl-table'>
            <tr ng-if='model.first_name' nl-form-input fieldname='{{model.first_name.title}}'
                fieldmodel='first_name' fieldtype='text'></tr>
            <tr ng-if='model.last_name' nl-form-input fieldname='{{model.last_name.title}}'
                fieldmodel='last_name' fieldtype='text'></tr>
            <tr ng-if='model.centre'>
                <td class='nl-dlg-field-name'>{{model.centre.title}}</td>
                <td class='nl-dlg-field-value'>
                    <select ng-model='data.centre'
                            ng-options='opt as opt.name for opt in options.centre track by opt.id'>
                    </select>
                </td>
            </tr>
            <tr ng-if='model.user_type'>
                <td class='nl-dlg-field-name'>{{model.user_type.title}}</td>
                <td class='nl-dlg-field-value'>
                    <select ng-model='data.user_type'
                            ng-options='opt as opt.name for opt in options.user_type track by opt.id'>
                    </select>
                </td>
            </tr>
            <tr ng-if='model.section'>
                <td class='nl-dlg-field-name'>{{model.section.title}}</td>
                <td class='nl-dlg-field-value'>
                    <select ng-model='data.section'
                            ng-options='opt as opt.name for opt in options.section track by opt.id'>
                    </select>
                </td>
            </tr>
            <tr ng-if='model.email' nl-form-input fieldname='{{model.email.title}}'
                fieldmodel='email' fieldtype='email'></tr>
            <tr ng-if='model.reply_to' nl-form-input fieldname='{{model.reply_to.title}}'
                fieldmodel='reply_to' fieldtype='email'></tr>
            <tr ng-if='model.image' nl-form-input fieldname='{{model.image.title}}'
                fieldmodel='image' fieldtype='text'></tr>
            <tr ng-if='role == "admin"' nl-form-input fieldname='Observer'
                fieldmodel='observer' fieldtype='text'></tr>
            <tr ng-if='role == "admin"' nl-form-input fieldname='Reviewer'
                fieldmodel='reviewer' fieldtype='text'></tr>
        </table>
        <br/>
    </nl-dlg-content>
</nl-dlg>