<div class='nl-full nl-thin-scroll padding-small'>
    <style>
        .brandingImg {
            max-width: 200px; 
            max-height: 60px;
        }
    </style>
    <div class='text-right'>
        <img ng-repeat='img in formScope.metadata.mail_data.brandingTopImgs' 
             class='brandingImg'
             ng-src='{{img}}'>
    </div>

    <div class='row margin0'>
        <div class='col'>
            <table class='nl-table nl-table-styled'>
                <tr><td class='nl-dlg-field-name'>Name</td><td>{{formScope.rno.config.first_name}} {{formScope.rno.config.last_name}}</td></tr>
                <tr><td class='nl-dlg-field-name'>{{formScope.metadata.user_model.user_type.title}}</td><td>{{formScope.rno.config.user_type}}</td></tr>
            </table>
        </div>
        <div style='width: 150px; text-align: center'>
            <img ng-src='{{formScope.image}}' style='max-width:150px; max-height:150px'>
        </div>
    </div>

    <h3>
        <span>Observations and reports</span>
    </h3>

    <div ng-repeat="reportSent in formScope.reportsSent"
         class='padding-small nl-clickable-container'
         ng-click='formScope.onReportHistory(reportSent)'>
        <span ng-if="reportSent.type == 'report'"
              title='Consolidated report'
              class='nl-toolbar-icon'>
            <i class="icon ion-document-text"></i>
        </span>
        <span ng-if="reportSent.type == 'observation'"
              title='Observation report'
              class='nl-toolbar-icon'>
            <i class="icon ion-camera"></i>
        </span>
        <span ng-if="reportSent.type == 'report'">Summary</span>
        <span ng-if="reportSent.type == 'observation'">Observation</span>
        report sent on {{reportSent.sent_on | nlDateStr: 'dd-MMMM-yyyy'}} by {{reportSent.sent_by}}
    </div>

    <div ng-if='formScope.metadata.mail_data.brandingBottomImgs.length > 0'>
        <div class='padding-small'></div>
        <img ng-repeat='img in formScope.metadata.mail_data.brandingBottomImgs' 
             class='brandingImg'
             ng-src='{{img}}'>
    </div>

    <div class='padding-small'></div>
    <hr/>
    <a class='button button-small button-energized'
       href='/#/welcome'>
        <table>
            <tr>
                <td>Powered by </td>
                <td><img style='vertical-align: middle'
                         ng-src='{{imgBasePath}}/general/top-logo1.png'></td>
            </tr>
        </table>
    </a>
</div>