<nl-dlg title='{{dlgTitle}}'>
    <nl-dlg-help>
        Create a new observation or modify existing observation.</p>
    </nl-dlg-help>
    <nl-dlg-content>
        <nl-rno-mstree></nl-rno-mstree>
        <div style='height: 10px'></div>
        <div class='nl-dlg-field-name padding-top'>Evidences:</div>

        <div ng-repeat='attachment in data.currentAttachments'
             class='nl-thumbnail-container'
             ng-show='attachment.isSelected'>
            <div class="nl-thumbnail">
                <div class='nl-thumbnail-img' ng-click='onResourceClick(attachment, $index)'>
                    <img ng-src='{{attachment.data.url}}'/>
                </div>
                <div class='nl-thumbnail-close' ng-click='onResourceRemove(attachment, $index)'>
                    <i class="icon ion-close-circled"></i>
                </div>
                <div class="nl-thumbnail-txt" style='color: #007700'>{{attachment.data.name}}</div>
            </div>
        </div>

        <nl-resource-upload fieldmodel='newAttachments' 
            multiple='true' restype='Image'>
        </nl-resource-upload>
        
        <!-- Not needed right now -->
        <div ng-if='observation_model.text'>
            <div style='height: 10px'></div>
            <div class='nl-dlg-field-name'>{{observation_model.text.title}}:</div>
            <nl-textarea fieldmodel='text'></nl-textarea>
        </div>

        <div ng-if='observation_model.notes'>
            <div style='height: 10px'></div>
            <div class='nl-dlg-field-name'>{{observation_model.notes.title}}:</div>
            <nl-textarea fieldmodel='notes'></nl-textarea>
        </div>
    </nl-dlg-content>
</nl-dlg>