<div class='row'>
    <div class='col'>
        <table class='nl-table nl-table-styled'>
            <tr><td class='nl-dlg-field-name'>Name</td><td>{{rno.config.first_name}} {{rno.config.last_name}}</td></tr>
            <tr><td class='nl-dlg-field-name'>{{user_model.user_type.title}}</td><td>{{rno.config.user_type}}</td></tr>
            <tr>
                <td class='nl-dlg-field-name'>Academic year</td>
                <td ng-if="mode!='preview'" class='nl-dlg-field-value'>
                    <select ng-model='data.year'
                            ng-options='opt as opt.name for opt in options.year track by opt.id'>
                    </select>
                </td>
                <td ng-if="mode=='preview'">{{data.year.name}}</td>
            </tr>
            <tr>
                <td class='nl-dlg-field-name'>Term</td>
                <td ng-if="mode!='preview'" class='nl-dlg-field-value'>
                    <select ng-model='data.term'
                            ng-options='opt as opt.name for opt in options.term track by opt.id'>
                    </select>
                </td>
                <td ng-if="mode=='preview'">{{data.term.name}}</td>
            </tr>
        </table>
    </div>
    <div style='width: 150px; text-align: center'>
        <img ng-src='{{image}}' style='max-width:150px; max-height:150px'>
    </div>
</div>
<h3>Summary</h3>
<nl-textarea ng-if="mode!='preview'" fieldmodel='summary'></nl-textarea>
<div ng-if="mode=='preview'">{{data.summary}}</div>

<h3>Ratings</h3>
<nl-rno-mstree ng-if="mode!='preview'"></nl-rno-mstree>
<nl-rno-mstree-view ng-if="mode=='preview'"></nl-rno-mstree-view>

<h3>Observations</h3>

<div ng-if="mode!='preview'"
     ng-repeat="observation in observations">
    <div style='height: 10px'></div>
    <div class='nl-rno-list-item'
         ng-class='{select: data.obsSelected[$index]}'>
        <div style='height: 10px'></div>
        <div ng-show='data.obsSelected[$index]'
             class='row row-center margin0 padding0 nl-clickable'
             ng-click='data.obsSelected[$index]=false'>
            <span class='padding-small'></span>
            <img title='edit' class='nl-24'
                 ng-src='{{$parent.imgBasePath + "general/tick.png"}}'/>
            <span class='padding-small'>Included in the report. Press here to exclude.</span>
        </div>
        <div ng-hide='data.obsSelected[$index]'
             class='row row-center margin0 padding0 nl-clickable'
             ng-click='data.obsSelected[$index]=true'>
            <span class='padding-small'></span>
            <img title='edit' class='nl-24'
                 ng-src='{{$parent.imgBasePath + "general/cross.png"}}'/>
            <span class='padding-small'>Not included in the report. Press here to include</span>
        </div>
        <div style='height: 10px'></div>

        <div class='padding-small'>{{observation.text}}</div>
        <div class='padding-small'>
            <img ng-repeat='attachment in observation.attachments'
                 ng-src='{{attachment.url}}'
                 class='nl-max-50 padding-small'>
        </div>
        <div class='padding-small' style='font-size:80%'>
            created: {{observation.created|date: 'dd-MMMM-yy HH:mm'}},
            updated: {{observation.updated|date: 'dd-MMMM-yy HH:mm'}}
        </div>
        <div class='nl-forum-msg-tools padding-small'>
            <img title='edit'
                 class='nl-24 nl-clickable'
                 ng-src='{{$parent.imgBasePath + "forum/edit_black.png"}}'
                 ng-click='onEdit($index, $event)'/>
            <img title='delete'
                 ng-show='canDelete'
                 class='nl-24 nl-clickable'
                 ng-src='{{$parent.imgBasePath + "forum/delete_black.png"}}'
                 ng-click='onDelete($index, $event)'/>
        </div>
    </div>
</div>

<div ng-if="mode=='preview' && data.obsSelected[$index]"
     ng-repeat="observation in observations">
    <div class='padding-top'>
        <b>{{observation.created|date: 'dd-MMMM-yyyy'}}: </b>
        <span>{{observation.text}}</span>
    </div>
    <div ng-repeat="imgUrl in observation.attachments">
        <img ng-src='{{imgUrl.url}}' class='nl-full-width padding-top'>
    </div>
</div>
