<nl-dlg title='{{dlgTitle}}'>
    <nl-dlg-help>
        <div ng-if='!reportSent'>
            Review the reports and press 'Send' to send the report to parent email id.
        </div>
        <div ng-if='reportSent'>
            View report shared with you (key for this report is {{reportSent.key}}).
        </div>
    </nl-dlg-help>
    <nl-dlg-content>
        <H3 ng-if="reportSent && reportSent.type == 'report'">
            Summary report
        </H3>
        <H3 ng-if="reportSent && reportSent.type == 'observation'">
            Observation report
        </H3>
        <div ng-if='!reportSent && formScope.isReportSent()'
             class='padding-small fsh6 forange1'>
            <i class="icon ion-alert-circled fsh4"></i>
            <span>This report is already finalized and sent. Please change {{metadata.report_model.year.title}} or {{metadata.report_model.term.title}} field before sending it again.</span>
        </div>
        <div class='row'>
            <div class='col'>
                <table class='nl-table nl-table-styled'>
                    <tr><td class='nl-dlg-field-name'>Name</td><td>{{rnoConfig.first_name}} {{rnoConfig.last_name}}</td></tr>
                    <tr><td class='nl-dlg-field-name'>{{metadata.user_model.user_type.title}}</td><td>{{rnoConfig.user_type}}</td></tr>
                    <tr ng-if='metadata.report_model.year && rnoData.report_info'>
                        <td class='nl-dlg-field-name'>{{metadata.report_model.year.title}}</td>
                        <td>{{rnoData.report_info.year.name}}</td>
                    </tr>
                    <tr ng-if='metadata.report_model.term && rnoData.report_info'>
                        <td class='nl-dlg-field-name'>{{metadata.report_model.term.title}}</td>
                        <td>{{rnoData.report_info.term.name}}</td>
                    </tr>
                    <tr ng-if='reportSent'>
                        <td class='nl-dlg-field-name'>Sent by</td>
                        <td>{{reportSent.sent_by}}</td>
                    </tr>
                    <tr ng-if='reportSent'>
                        <td class='nl-dlg-field-name'>Sent on</td>
                        <td>{{reportSent.sent_on | nlDateStr: 'dd-MMMM-yyyy'}}</td>
                    </tr>
                </table>
            </div>
            <div style='width: 150px; text-align: center'>
                <img ng-src='{{image}}' style='max-width:150px; max-height:150px'>
            </div>
        </div>

        <div ng-if='metadata.report_model.summary && rnoData.report_info'>
            <h3>{{metadata.report_model.summary.title}}</h3>
            <div>{{rnoData.report_info.summary}}</div>
        </div>
        
        <h3 ng-if='msTree.items[0].selectCnt > 0'>Milestone achievements</h3>
        <nl-rno-mstree-view></nl-rno-mstree-view>
        
        <h3 ng-if='observations.length == 1'>Observation</h3>
        <h3 ng-if='observations.length > 1'>Observations</h3>
        <div ng-repeat="observation in observations">
            <div class='padding-top'>
                Observed on <b>{{observation.created|date: 'dd-MMMM-yyyy'}} </b>
                <span ng-bind-html='observation.text | nlMarkupToHtml'></span>
            </div>
            <div ng-repeat="imgUrl in observation.attachments">
                <img ng-src='{{imgUrl.url}}' class='nl-full-width padding-top'>
            </div>
        </div>
    </nl-dlg-content>
</nl-dlg>