<table class='nl-table nl-table-styled'>
    <thead>
        <tr>
            <th>Center</th>
            <th>Class</th>
            <th>Name</th>
            <th>Observations Done</th>
            <th>Observations Sent</th>
            <th>Ratings Done</th>
        </tr>
        <tr>
            <th colspan='3'>Total in the month {{data.month.id}}</th>
            <th>{{statsObj.obsDone}}</th>
            <th>{{statsObj.obsSent}}</th>
            <th>{{statsObj.ratingsDone}}</th>
        </tr>
    </thead>
    <tbody ng-if='!obsListIsHuge'>
        <tr ng-repeat='obs in obsList track by $index'>
            <td>{{obs.centre}}</td>
            <td>{{obs.cls}}</td>
            <td>{{obs.name}}</td>
            <td>{{obs.created|date:'yyyy-MM-dd'}}</td>
            <td>{{obs.sent|date:'yyyy-MM-dd'}}</td>
            <td>{{obs.ratingsDone}}</td>
        </tr>
    </tbody>
</table>
<div ng-if='obsListIsHuge' class='fsh3 forange'>
    There are too many entries to display. Please apply a filter to display entries.
</div>
