<nl-cards ng-if='cards' cards='cards' class='nl-thin-scroll'></nl-cards>
<div ng-if='!cards' class='nl-form'>
    <div class='nl-form-head'>
        <span class='popup-title'>{{formScope.dlgTitle}}</span>
        <span class='popup-toolbar'>
            <span title='Help'
                  class='nl-toolbar-icon'
                  ng-click='formScope.dlgHelp = !formScope.dlgHelp'>
                <i class="icon ion-help-circled"></i>
            </span>
            <span title='Close'
                  class='nl-toolbar-icon'
                  ng-click='formScope.onDlgClose()'>
                <i class="icon ion-close-circled"></i>
            </span>
        </span>
    </div>
    <div class='nl-form-body'>
        <div ng-show='formScope.dlgHelp' class='nl-dlg-help'>
            In this page you will be able to do the following:
            <ul>
                <li>Add a new observation</li>
                <li>Send an observation as email</li>
                <li>Edit an existing observation if it is not sent already</li>
                <li>View and edit all milestones consolidated from all the observations.</li>
                <li>Create a summary report</li>
                <li>Send summary report as email</li>
                <li>View all observations and milestones which are sent as email</li>
            </ul> 
            <p>You could click on the section headings to collapse/expand the section.</p>
        </div>

        <div class='row margin0 padding0'>
            <div class='col margin0 padding0'>
                <h3>{{formScope.rno.config.first_name}} {{formScope.rno.config.last_name}}</h4>
                <h4><b>{{formScope.metadata.user_model.user_type.title}}:</b> {{formScope.rno.config.user_type}}</h4>
                <div class='padding-small'></div>
            </div>
            <div style='width: 150px; text-align: center'>
                <img ng-src='{{formScope.image}}' style='max-width:150px; max-height:150px'>
            </div>
        </div>

        <div class='button button-small button-positive'
             ng-click='formScope.onCreateObservation()'>
            New observation ...
        </div>
        <hr/>

        <h3>
            <span class='button button-small button-positive'
                  ng-show='formScope.hideObservations && formScope.rno.data.observations.length'
                  ng-click='formScope.hideObservations=false'>Show</span>
            <span class='button button-small button-positive'
                  ng-show='!formScope.hideObservations && formScope.rno.data.observations.length'
                  ng-click='formScope.hideObservations=true'>Hide</span>
            <span>{{formScope.rno.data.observations.length}} observations</span>
        </h3>
        <div ng-repeat="observation in formScope.rno.data.observations"
             ng-hide='formScope.hideObservations'>
            <div style='height: 10px'></div>
            <div class='nl-rno-list-item'
                 ng-class='{select: observation.selected}'>
                <div style='height: 10px'></div>
                <div ng-show='observation.selected'
                     class='row row-center margin0 padding0 nl-link-text'
                     ng-click='observation.selected=false'>
                    <span class='padding-small'></span>
                    <span class='nl-toolbar-icon padding-small'>
                        <i class="icon ion-checkmark-circled fgreen"></i>
                    </span>
                    <span class='padding-small'>Included in the summary report. Press here to exclude.</span>
                </div>
                <div ng-hide='observation.selected'
                     class='row row-center margin0 padding0 nl-link-text'
                     ng-click='observation.selected=true'>
                    <span class='padding-small'></span>
                    <span class='nl-toolbar-icon padding-small'>
                        <i class="icon ion-close-circled forange"></i>
                    </span>
                    <span class='padding-small'>Not included in the summary report. Press here to include.</span>
                </div>
                <div ng-show='observation.sent'
                     class='row row-center margin0 padding0'>
                    <span class='padding-small'></span>
                    <span class='nl-toolbar-icon padding-small'>
                        <i class="icon ion-checkmark-circled fgreen"></i>
                    </span>
                    <span class='padding-small'>Observation is finalized and sent.</span>
                </div>
                <div style='height: 10px'></div>
        
                <div class='padding-small'
                     ng-bind-html='observation.text | nlMarkupToHtml'>
                </div>
                <div class='padding-small'>
                    <img ng-repeat='attachment in observation.attachments'
                         ng-src='{{attachment.url}}'
                         class='nl-max-50 padding-small'>
                </div>
                <div class='padding-small' style='font-size:80%'>
                    created: {{observation.created|date: 'dd-MMMM-yy HH:mm'}},
                    updated: {{observation.updated|date: 'dd-MMMM-yy HH:mm'}}
                </div>
                <div class='nl-mildtoolbar text-left'>
                    <span title='send'
                          ng-show='!observation.sent'
                          class='nl-toolbar-icon'
                          ng-click='formScope.onSendObservation($index, $event)'>
                        <i class="icon ion-paper-airplane"></i>
                    </span>
                    <span title='edit'
                          ng-show='!observation.sent'
                          class='nl-toolbar-icon'
                          ng-click='formScope.onEditObservation($index, $event)'>
                        <i class="icon ion-edit" style='font-size: 22px'></i>
                    </span>
                    <span title='delete'
                          ng-show='formScope.canDelete && !observation.sent'
                          class='nl-toolbar-icon'
                          ng-click='formScope.onDeleteObservation($index, $event)'>
                        <i class="icon ion-ios-trash"></i>
                    </span>
                </div>
            </div>
        </div>

        <h3>
            <span class='button button-small button-positive'
                  ng-show='formScope.hideRatings && msTree.items[0].selectCnt'
                  ng-click='formScope.hideRatings=false'>Show</span>
            <span class='button button-small button-positive'
                  ng-show='!formScope.hideRatings && msTree.items[0].selectCnt'
                  ng-click='formScope.hideRatings=true'>Hide</span>
            <span>{{msTree.items[0].selectCnt}} milestones ratings</span>
        </h3>
        <nl-rno-mstree ng-hide='formScope.hideRatings'></nl-rno-mstree>
        
        <h3>
            <span class='button button-small button-positive'
                  ng-show='formScope.hideHistory && formScope.reportsSent.length'
                  ng-click='formScope.hideHistory=false'>Show</span>
            <span class='button button-small button-positive'
                  ng-show='!formScope.hideHistory && formScope.reportsSent.length'
                  ng-click='formScope.hideHistory=true'>Hide</span>
            <span>{{formScope.reportsSent.length}} observation and progress report emails sent</span>
        </h3>
        <div ng-repeat="reportSent in formScope.reportsSent"
             class='padding-small nl-link-text'
             ng-hide='formScope.hideHistory'
             ng-click='formScope.onReportHistory(reportSent)'>
            <span ng-if="reportSent.type == 'report'"
                  title='Consolidated report'
                  class='nl-toolbar-icon'>
                <i class="icon ion-document-text"></i>
            </span>
            <span ng-if="reportSent.type == 'observation'"
                  title='Observation report'
                  class='nl-toolbar-icon'>
                <i class="icon ion-camera"></i>
            </span>
            <span ng-if="reportSent.type == 'report'">Summary</span>
            <span ng-if="reportSent.type == 'observation'">Observation</span>
            report sent on {{reportSent.sent_on | nlDateStr: 'dd-MMMM-yyyy'}} by {{reportSent.sent_by}}
        </div>

        <hr/>
        <h3>
            <span>Create progress report</span>
        </h3>
        <table class='nl-table nl-table-styled'>
            <tr ng-if='formScope.metadata.report_model.year'>
                <td class='nl-dlg-field-name'>{{formScope.metadata.report_model.year.title}}</td>
                <td class='nl-dlg-field-value'>
                    <select ng-model='formScope.rno.data.report_info.year'
                            ng-options='opt as opt.name for opt in options.year track by opt.id'>
                    </select>
                </td>
            </tr>
            <tr ng-if='formScope.metadata.report_model.term'>
                <td class='nl-dlg-field-name'>{{formScope.metadata.report_model.term.title}}</td>
                <td class='nl-dlg-field-value'>
                    <select ng-model='formScope.rno.data.report_info.term'
                            ng-options='opt as opt.name for opt in options.term track by opt.id'>
                    </select>
                </td>
            </tr>
        </table>
        <div ng-if='formScope.isReportSent()' class='padding-small fsh6 fgreen'>
            <i class="icon ion-checkmark-circled fsh4"></i>
            This report is finalized and sent.
        </div>
        <div ng-if='formScope.metadata.report_model.summary'>
            <h3>{{formScope.metadata.report_model.summary.title}}</h3>
            <nl-textarea fieldmodel='formScope.rno.data.report_info.summary'></nl-textarea>
        </div>
        <div class='padding-small'></div>
        <div class='row row-center margin0 padding-small'>
            <span class='col padding0 button button-small button-positive'
                 ng-click='formScope.onPreview()'>
                Preview ...
            </span>
            <div style='width:8px'></div>
            <span class='col padding0 button button-small button-positive'
                 ng-click='formScope.onSave()'>
                Save
            </span>
        </div>
    </div>
</div>
