<table class='nl-table' style='border: 1px solid #CCCCDD'>
    <tr><th>Milestone</th><th>Ratings</th></tr>
    <tr ng-repeat='ms in msTree.items' ng-show='ms.selectCnt > 0 && ms.indentation > 0'>
        <th ng-if="ms.indentation == 1" colspan="2">
            <div class='nl-rno-1'>{{ms.text}}</div>
        </th>
        <td ng-if="ms.indentation == 2" colspan="2">
            <div class='nl-rno-2'>{{ms.text}}</div>
        </td>
        <td ng-if='!ms.isFolder'>
            <div class='nl-rno-4'>{{ms.text}}</div>
        </td>
        <td ng-if='!ms.isFolder'>
            <div class='nl-rno-rating'>{{ms.rating.name}}</div>
        </td>
    </tr>
</table>
