<nl-dlg title='{{dlgTitle}}'>
    <nl-dlg-help>
    </nl-dlg-help>
    <nl-dlg-content>
        <div class='row'>
            <div class='col'>
                <table class='nl-table nl-table-styled'>
                    <tr><td>Name</th><td>{{rno.first_name}} {{rno.last_name}}</td></tr>
                    <tr><td>{{user_model.user_type.title}}</th><td>{{rno.user_type}}</td></tr>
                    <tr nl-form-input fieldname='Academic year' fieldmodel='year' fieldtype='text'></tr>
                    <tr nl-form-input fieldname='Term' fieldmodel='term' fieldtype='text'></tr>
                </table>
            </div>
            <div style='width: 100px'>
                <img src='http://www.clker.com/cliparts/0/0/d/a/11949845142049183837boy_astrid_graeber_.svg.thumb.png' style='width:100%; height:100%;'>
            </div>
        </div>
        <h3>Summary</h3>
        <div class='nl-dlg-field-value'>
            <textarea ng-model='data.summary'></textarea>
        </div>
        <div ng-repeat='g1 in data.msTree.g1Names'>
            <h3>{{g1}}</h3>
            <table class='nl-table nl-table-styled'>
            <tr><th>Milestone</th><th>Achievement</th></tr>
            <tbody ng-repeat='g2 in data.msTree.g1ToG2Names[g1]'>
                <h4>{{g2}}</h4>
                <tr>
                    <th><h4>{{g2}}</h4></th>
                    <th class='nl-dlg-field-value'>
                        <select ng-options='opt as opt.name for opt in data.achievements track by opt.id'><option>-- Overall --</option></select>
                    </th>
                </tr>
                <tr ng-repeat="ms in data.msTree.g2ToMilestones[g2]">
                    <td>{{ms.name}}</td>
                    <td class='nl-dlg-field-value'>
                        <select ng-model='ms.achievement' ng-options='opt as opt.name for opt in data.achievements track by opt.id'></select>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
        <h3>Observations</h3>
        <table class='nl-table nl-table-styled'>
            <tr>
                <th>Date</th><th>Observation</th><th>Action</th>
            </tr>
            <tr ng-repeat="observation in data.observations">
                <td>{{observation.date}}</td>
                <td><a href="/lesson/search">{{observation.text}}</a></td>
                <td class='nl-dlg-field-value'>
                    <button>Edit</button><input type='checkbox'>
                </td>
            </tr>
        </tbody>
        </table>
    </nl-dlg-content>
</nl-dlg>
