<nl-dlg title='{{dlgTitle}}'>
    <nl-dlg-help>
        <div ng-if='!reportSent && mode=="edit"'>
            Edit report, review past reports and manage observations from here.
            Press 'Preview' to review, finalize and send the report to parent email id.
            You may 'Save' the report anytime and finalize later.
        </div>
        <div ng-if='!reportSent && mode!="edit"'>
            Review the reports and press 'Send' to send the report to parent email id.
            If you want to change the report before finalizing, press 'Edit'.
        </div>
        <div ng-if='reportSent'>
            View report shared with you.
        </div>
    </nl-dlg-help>
    <nl-dlg-content>
        <nl-rno-report></nl-rno-report>
    </nl-dlg-content>
</nl-dlg>
