<div class='padding-small'></div>
<div class='row row-center margin0 padding0'
     ng-hide='info.search.disabled'>
    <input class='col padding-mid w100' ng-model='info.search.filter'
           placeholder='{{info.search.placeholder}}'
           ng-keydown='info._internal.searcher.onKeyDown($event)'>
    <div class='padding-small'></div>
    <i class='nl-link-text icon fsh4 fblue padding-mid ion-ios-search'
       ng-click='info._internal.searcher.onClick(0)'></i>
</div>
<div class='padding-small'></div>
<div class='fgrey2'>{{info._internal.searcher.infotxt}}</div>
<div class='padding-small'></div>
<div ng-transclude></div>
<div class='padding-small'></div>
<table class='{{info.styleTable}}'>
    <tr class='{{info.styleHeader}}'>
        <td ng-repeat='col in info.columns track by $index'
            ng-show='col.canShow'
            class='{{col.styleTd}}'>{{col.name}}</td>
    </tr>
    <tr ng-show='info._internal.summaryRow'
         class='{{info.styleSummary}}'>
        <td ng-repeat='col in info.columns track by $index'
            ng-show='col.canShow'
            class='{{col.styleTd}}'>
             <i ng-if='info._internal.summaryRow[col.id].icon && col.iconType == "ionicon"'
                class='icon fsh4 padding-mid {{info._internal.summaryRow[col.id].icon}}'></i>
            {{info._internal.summaryRow[col.id].txt || ''}}
        </td>
    </tr>
    <tr ng-repeat-start='rec in info._internal.visibleRecs track by $index'
        class='{{info.onRowClick ? "nl-link-text2" : ""}} anim fade highlight'
        ng-click='onItemClick(rec, info.onRowClick)'>
        <td ng-repeat='col in info.columns track by $index'
            ng-show='col.canShow'
            class='{{col.styleTd}}'>
             <i ng-if='rec[col.id].icon' class='icon fsh4 padding-mid {{rec[col.id].icon}}'></i>
            {{rec[col.id].txt || ''}}
        </td>
    </tr>
    <tr ng-repeat-end ng-show='rec.canShowDetails' class='anim fade'>
        <td colspan='100'>
            <div class='padding'>
                <div class='padding-mid training-details'>
                    <div ng-show='rec.details' nl-compile='rec.details'></div>
                </div>
            </div>
        </td>
    </tr>
</table>
