<style>
.col-styling-w175{
    width: 175px;
    min-width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.col-styling-w225{
    width: 225px;
    min-width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

</style>
<div ng-hide='info.search.disabled'>
    <div class='padding-small'></div>
    <div class='row row-center margin0 padding0'>
        <input class='col padding-mid' ng-model='info.search.filter'
               placeholder='{{info.search.placeholder}}'
               ng-keydown='info._internal.searcher.onKeyDown($event)'>
        <div class='padding-small'></div>
        <i class='nl-link-text icon fsh4 fblue padding-mid ion-ios-search'
           ng-click='info._internal.searcher.onClick(0)'></i>
    </div>
    <div class='padding-small'></div>
    <div class='fgrey'>{{info._internal.searcher.infotxt}}</div>
    <div class='padding-small'></div>
</div>
<div ng-transclude></div>
<div style='width: {{checkOverflow() ? "fit-content" : "100%"}}; border: 1px solid #CCCCCC'>
    <div class='row row-center padding0 margin0 {{info.styleHeader}}'
        style='background-color:#f5f5f5; color:#575B5E; font-weight:bold; border-bottom: 1px solid #CCCCCC'>
        <div ng-repeat='col in info.columns track by $index'
            ng-show='col.canShow'
            class='col {{!col.insertCols ? "col-styling-w175" : ""}}'>
            <span ng-if='!col.insertCols'>{{col.name}}</span>
            <div ng-if='col.insertCols' class='row row-center padding0 margin0'>
                <div ng-repeat='col2 in col.children' class='col col-styling-w225'>{{col2}}</div>
            </div>
        </div>
    </div>
    <div ng-repeat='rec in info._internal.visibleRecs track by $index'>
        <div class='row row-center padding0 margin0 nl-link-text2'
            ng-click='onItemClick(rec, info.onRowClick)'
            style='border-bottom: 1px solid #CCCCCC'>
            <div ng-repeat='col in info.columns track by $index'
                ng-show='col.canShow'
                class='col {{!col.insertCols ? "col-styling-w175" : ""}}'>
                <i ng-if='rec[col.id].icon' class='icon fsh4 {{rec[col.id].icon}}'></i>
                <span ng-hide='col.insertCols'>{{rec[col.id].txt || ''}}</span>
                <div ng-if='col.insertCols' 
                    class='row row-center padding0 margin0'>
                    <div ng-repeat='val in rec[col.id].txt track by $index' 
                        class='col col-styling-w225'>
                        {{val || '-'}}
                    </div>
                </div>
            </div>
        </div>
        <div ng-show='rec.canShowDetails'>
            <div colspan='{{info.columns.length}}'>
                <div class='padding-mid'>
                    <div ng-show='rec.details' nl-compile='rec.details' class="{{info.styleDetail}}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<table class='{{info.styleTable}}' ng-show='0'>
    <tr class='header {{info.styleHeader}}'>
        <td ng-repeat='col in info.columns track by $index'
            ng-show='col.canShow'
            class='{{col.styleTd}}'>{{col.name}}</td>
    </tr>
    <tr ng-show='info._internal.summaryRow'
         class='{{info.styleSummary}}'>
        <td ng-repeat='col in info.columns track by $index'
            ng-show='col.canShow'
            class='{{col.styleTd}}'>
             <i ng-if='info._internal.summaryRow[col.id].icon && col.iconType == "ionicon"'
                class='icon fsh4 {{info._internal.summaryRow[col.id].icon}}'></i>
            <span>{{info._internal.summaryRow[col.id].txt || ''}}</span>
        </td>
    </tr>
    <tr ng-repeat-start='rec in info._internal.visibleRecs track by $index'
        class='{{info.onRowClick ? "nl-link-text2" : ""}}'
        ng-click='onItemClick(rec, info.onRowClick)'>
        <td ng-repeat='col in info.columns track by $index'
            ng-show='col.canShow'
            class='{{col.styleTd}}'>
             <i ng-if='rec[col.id].icon' class='icon fsh4 {{rec[col.id].icon}}'></i>
             <span>{{rec[col.id].txt || ''}}</span>
        </td>
    </tr>
    <tr ng-repeat-end ng-show='rec.canShowDetails'>
        <td colspan='{{info.columns.length}}'>
            <div class='padding-mid'>
                <div ng-show='rec.details' nl-compile='rec.details' class="{{info.styleDetail}}"></div>
            </div>
        </td>
    </tr>
</table>
