<div>
    <div class='nl-limitwidth-learner-view padding-mid'>
        <div class='row row-center padding-mid margin0'>
            <div class='col section-header-text'>
                {{cards.name}}
            </div>
            <div>
                <nl-navigation-section data="cards"></nl-navigation-section>
            </div>
        </div>
        <div class='row row-center padding0 margin0'>
            <div style='padding:6px'></div>
            <div class='col padding-mid nl-card-section-scroll-{{cards.type}} nl-cards-section-hide' style='overflow-x: auto;white-space: nowrap;'>
                <div class='padding0 nl-card2 nl-link-text-container {{cards.largeData ? "" : "anim fade" '
                    ng-repeat="card in cards.cardlist track by $index" nlta='{{card.title}}'
                    ng-style="{height: h + 'px', width: w + 'px', 'font-size': fs + '%', 'margin-right': ml + 'px'} ">
                    <div class='nl-card-url'>
                        <nl-card2 card='card'
                            class='nl-card-holder2 {{card.style}} {{card.url || card.internalUrl ? "nl-link-img" : ""}}'
                            ng-click='onCardLinkClicked(card, "details")'></nl-card2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>