<div class='nl-card' ng-repeat="card in cards" ng-style="{height: h + 'px', width: w + 'px', 'font-size': fs + '%', 'margin-left': ml + 'px'}">
    <div class='nl-card-holder'>
        <a ng-if='card.url' href='{{card.url}}' class='nl-card-header'>{{card.title}}</a>
        <div ng-if='!card.url' class='nl-card-header'>{{card.title}}</div>

        <a ng-if='card.url' href='{{card.url}}' class='nl-card-img'><img ng-src='{{card.icon}}' nl-no-ctx-menu nl-retain-ar></img></a>
        <div ng-if='!card.url' class='nl-card-img'><img ng-src='{{card.icon}}' nl-no-ctx-menu></img></div>

        <div class='nl-card-desc' ng-bind-html='card.desc'></div>
        <div class='nl-card-links'></div>    
    </div>
</div>
