<div class='nl-card-desc'>
	<div style='max-height: 100%; overflow: hidden;' class="nl-txt-in-create-card">
    <ul ng-if='card.children.length > 0' style='width: 100%' cardtitle='card.title'>
        <li ng-repeat='child in card.children track by $index' ng-if='card.title == "User Administration" ? "true" : $index < 4'>
            <div ng-if='child.url'>
                <a ng-href='{{child.url}}' nlta='{{child.title}}' class='nl-link-text nl-txt-grey nl-txt-in-create-card' nl-wait-on-click>{{child.title}}</a>
            </div>
            <div ng-if='!child.url && child.internalUrl'>
                <span class='nl-link-text nl-txt-grey nl-txt-in-create-card'
                      ng-click='onCardInternalUrlClicked($event, card, child.internalUrl)'
                      nlta='{{child.title}}'>
                    {{child.title}}
                </span>
            </div>
            <div ng-if='!child.url && !child.internalUrl' class="nl-txt-grey">
                {{child.title}}
            </div>
        </li>
    </ul>
    <div ng-if='card.children.length == 0' ng-bind-html='card.help' class="nl-txt-grey nl-txt-in-create-card"></div>
	</div>
</div>
