<div> 
    <div ng-if="cards.treeStructure.treeView.canBreadCrumpView && $root.screenSize=='small'" class="padding-mid ">
        <div class="padding-mid">
            <span ng-repeat='path in cards.treeStructure.treeView.currentPath track by $index'
                ng-click="cards.treeStructure.onClickBreadCrumb(path.id)" nlta='{{path.name}}'
                class='nl-link-text padding-mid-right'>{{path.name}} >
            </span>
        </div>
    </div>
    <!-- Dummy div to solve scrolled view disappears with popup issue #701 -->
<div class='row row-center margin0 padding0'
	 style='height: 36px; overflow: hidden; border-bottom: 1px solid rgba(0, 0, 0, 0.1)'
	 ng-if='cards.toolbar'>
    <div class='col text-center fsh3 padding0'>
    </div>
    <span ng-repeat='tb in cards.toolbar'
    	  title='{{tb.title}}'
          class='nl-toolbar-icon'
          ng-click='tb.onClick()'>
        <i class="icon {{tb.icon}}"></i>
    </span>
</div>

<div ng-show='cards.search' class='padding-mid'>
    <div class='padding-small'></div>
    <div class='row row-center margin0 padding0'>
        <input class='col padding-mid default-input'
               ng-model='cards._internal.search.filter'
               placeholder='{{cards.search.placeholder}}'
               ng-keydown='searchKeyHandler($event)'>
    
        <div ng-show='cards.searchDropdown' class='padding-small'></div>
        <select ng-show='cards.searchDropdown' class='col-20 nl-search-dropdown' ng-model="cards._internal.search.category" 
                ng-change='onSearchButton()'
                ng-options="item.desc group by item.grp for item in cards.searchDropdown track by item.id">
        </select>

        <div class='padding-small'></div>
        <div ng-if="cards.dropdown.dropdownData.canFolderView && $root.screenSize!= 'small'">
            <select class='col padding-mid default-input ' ng-model='selectedFolder'
                ng-init="selectedFolder=cards.dropdown.dropdownData.defaultValue" id='elem.id'
                ng-change='cards.dropdown.onChange(selectedFolder)'
                ng-options='elem.name as elem.name for elem in cards.dropdown.dropdownData.folderViewOptions '
                style="width: 175px;">
            </select>
        </div>
        <i ng-if='cards.savejson.icon' class='nl-link-text icon fsh4 fblue2 padding-mid {{cards.savejson.icon}}'
           tabindex="0" ng-click='saveJsonButton()'></i>
    
        <div class='padding-small'></div>
        <i ng-if='cards.search.icon' class='nl-link-text icon fsh4 fblue2 padding-mid {{cards.search.icon}}'
           tabindex="0" ng-click='onSearchButton()'></i>
    </div>
    <div class='padding-small'></div>
    <div class="row row-center margin0 padding0"
    ng-if="cards.dropdown.dropdownData.canFolderView && $root.screenSize=='small'">
    <select class='col padding-mid default-input' ng-model='selectedFolder'
        ng-init="selectedFolder=cards.dropdown.dropdownData.defaultValue" id='elem.id'
        ng-change='cards.dropdown.onChange(selectedFolder)'
        ng-options='elem.name as elem.name for elem in cards.dropdown.dropdownData.folderViewOptions '
        style="margin-right: 12px;">
    </select>
    </div>
    <div class='row row-center padding0 margin0'>
        <div ng-show='cards._internal.search.usageHint' class='padding-small'>
        </div>
        <div ng-show='cards._internal.search.usageHint' class='fgrey'>
            {{cards._internal.search.usageHint}}
        </div>
        <div class='col padding0 {{cards._internal.search.cls}} anim-highlight-off {{cards._internal.search.clsAnimate}}'
            ng-click='showResultDetails()'>
            <div class='padding-mid' ng-bind-html='cards._internal.search.infotxt'></div>
        </div>
    </div>
</div>
<div ng-hide='cards.search' class='padding-mid'>
</div>

<div class="row  margin0 padding0">
    <div ng-if='cards.treeStructure.treeView.canTreeView && $root.screenSize!= "small" '
        style='position: relative; width: 300px; border-right: 1px solid rgba(0, 0, 0, 0.1)'>
        <div class='nl-thin-scroll nl-full'>
            <div ng-repeat='cm in cards.treeStructure.treeView.treeData' class='row row-center margin0'
                style='padding: 8px' ng-show='cm.isVisible'>
                <div style='width: {{cm.indentation*16}}px'></div>
                <div class=' row row-center margin0 padding-mid nl-cv-item nl-link-text'
                    ng-click="cards.treeStructure.onClickTreeFolder($event,cm)">
                    <div ng-show='cm.isFolder' style='width: 20px'>
                        <i ng-show='!cm.isOpen' class="icon ion-arrow-right-b bold fsh3"></i>
                        <i ng-show='cm.isOpen' class="icon ion-arrow-down-b bold fsh3"></i>
                    </div>
                    <div class='col nl-cv-item-text'>{{cm.name}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div ng-if='!cards.listConfig' class=' padding0 nl-card nl-link-text-container {{cards.largeData ? "" : "anim fade" ' 
        ng-repeat="card in cards._internal.visibleCards" 
        nlta='{{card.title}}'
            ng-style="{height: h + 'px', width: w + 'px', 'font-size': fs + '%', 'margin-left': ml + 'px'} ">
            <a ng-if='card.url' class='nl-card-url' ng-href='{{card.url}}'>
                <nl-card card='card'
                    class='nl-card-holder {{card.style}} {{card.url || card.internalUrl ? "nl-link-img" : ""}}'
                    ng-click='onCardInternalUrlClicked(card, card.internalUrl || null)'></nl-card>
            </a>
            <div ng-if='!card.url' class='nl-card-url'>
                <nl-card card='card'
                    class='nl-card-holder {{card.style}} {{card.url || card.internalUrl ? "nl-link-img" : ""}}'
                    ng-click='onCardInternalUrlClicked(card, card.internalUrl || null)'></nl-card>
            </div>

        </div>
    </div>

</div>

<div ng-if='cards.listConfig'
     class='padding-mid {{cards.largeData ? "" : "anim-enter fade"'>
	<nl-listview cards='cards'></nl-listview>
</div>
</div> <!-- Dummy div to solve scrolled view disappears with popup issue #701 -->
