<div class='col padding0 margin0'  style="overflow: hidden;max-height: 100%;max-width: 100%; border-radius: 10px 10px 0px 0px;">
	<img ng-show='card.icon' ng-src='{{card.icon}}' nl-compute-img-info></img>
	<div ng-if='card.icon2' class='fsh2' style="display: flex;justify-content: center;align-items: center;"><i class='fsh1 {{card.icon2}}'></i></div>
	<i ng-if='card.iconTl' class='icon-tl {{card.iconTl}}'></i>
	<i ng-if='card.iconTr' class='icon-tr {{card.iconTr}}'></i>
	<i ng-if='card.iconBl' class='icon-bl {{card.iconBl}}'></i>
	<i ng-if='card.iconBr' class='icon-br {{card.iconBr}}'></i>
	<i ng-if='card.stickerTl' class='icon-tl {{card.stickerTlStyle}}'>{{card.stickerTl}}</i>
	<i ng-if='card.stickerTr' class='icon-tr {{card.stickerTrStyle}}'>{{card.stickerTr}}</i>
	<i ng-if='card.stickerBl' class='icon-bl {{card.stickerBlStyle}}'>{{card.stickerBl}}</i>
	<i ng-if='card.stickerBr' class='icon-br {{card.stickerBrStyle}}'>{{card.stickerBr}}</i>
</div>
