<style>
.nl-card-progress-area {
  position: absolute;
  left: 0;
  width: 100%;
  height: 5%;
  text-align: left;
  color: black;
  overflow: hidden;
}
</style>
<nl-card-image2 card='card'
class='nl-card2-img row row-center margin0 padding0 {{canCover($event, true) ? "cover" : ""}}' style='height: {{getComputedHeightStyle(card)}}%'></nl-card-image2>
<div class='padding-mid nl-card-progress-area' style='top: {{getComputedHeightStyle(card)}}%'>
	<div ng-if='card.type=="expired" || card.type=="progress"' class='row row-center margin0 padding0'>
		<div class='nl-card2-progress-bar col padding0 margin0'>
			<div class='{{card.prgClass}}'
					style='width: {{card.progressPerc}}%;'>
			</div>
			<div ng-if='!card.progressPerc'
					style='width: 100%'>
			</div>
		</div>
	</div>  
</div>
<div class='nl-card2-text-section' style='top: {{getTextAreaHeight(card)}}%; height: {{90-getTextAreaHeight(card)}}%'>
	<div class='nl-card2-header font-16-in-small'>{{card.title}}</div>	
</div>
<div class='nl-card2-links'>
	<div class='row row-bottom margin0 padding0'>
		<div class='col' style='text-align: left'>
			<div class='nl-card2-desc' nl-compile='card.help'></div>
		</div>
		<div ng-click='onCardInternalUrlClicked($event, card, card.url)'>
			<span class="nl-card-more-icon nl-link-img {{getLaunchIconClass(card)}}">
				<img ng-src='{{card.buttonUrl}}' style="width: 45px; height:45px;"></img>
			</span>
		</div>
	</div>
</div>    
