<nl-dlg title='{{card.title}}'>
    <nl-dlg-help>You can access additional information about a card by clicking the 'details' link on bottom of the card if available.</nl-dlg-help>
    <nl-dlg-content>
        <div class='row'>
            <div class='col' ng-bind-html='card.details.help'></div>
            <div class='nl-card-details-dlg-img'>
                <img ng-src='{{card.icon}}' class=''></img>
            </div>
        </div>
        <div ng-repeat='avp in card.details.avps' class='nl-border-bottom row row-top margin0 padding0'>
            <a ng-if='avp.url' ng-href='{{avp.url}}'
               class='col col-20 padding-mid nl-link-text'>{{avp.attr}}</a>
            <span ng-if='!avp.url'
                  class='col col-20 padding-mid'>{{avp.attr}}</span>

            <span ng-if='avp.type != "links"'
                  class='col padding-mid' ng-bind-html='avp.val'></span>
            <span ng-if='avp.type == "links"'
                  class='col padding-mid'>
            	<span ng-repeat='op in avp.val track by $index'>
	            	<a ng-if="op.url" ng-href='{{op.url}}' class='nl-link-text'>{{op.val}}</a>
	            	<span ng-if="op.linkid" ng-click='onCardInternalUrlClicked(card, op.linkid)' class='nl-link-text'>{{op.val}}</span>
	            	<span ng-if="$index < avp.val.length - 1"> | </span>
            	</span>
            </span>
        </div>
    </nl-dlg-content>
</nl-dlg>
