<div class='row row-center margin0 padding0 nl-border-bottom'
	 style='height: 36px; overflow: hidden;'>
    <div class='col text-center fsh3 padding0'>
    </div>
    <!-- course editor icons -->
    <div class="dropdown" ng-show='editor.canShowMultiLang()'>
      <div class='row row-center margin0 dropbtn nl-link-text2' ng-click='editor.canShowLangSection = !editor.canShowLangSection'> 
        <div class='col button-inner-style'>
            <span> Language: {{editor.targetLangName}} </span>
        </div>
        <span class="nl-link-text">
            <i ng-show='!editor.canShowLangSection' class='icon ion-chevron-down fsh5'></i>
            <i ng-show='editor.canShowLangSection' class='icon ion-chevron-up fsh5'></i>
        </span>
      </div>
      <div ng-show='editor.canShowLangSection' class="dropdown-content">
        <div ng-repeat='item in editor.course.content.languages track by $index' class='nl-link-text2 {{item.lang == editor.targetLang ? "dropdown-selected" : ""}}' style='border-bottom: 2px solid #FFFFFF;padding: 2px 8px;'>
          <div class='row row-center margin0 padding0'>
            <div class='col' ng-click='editor.onTargetLangChange($event, item)'>
                {{item.name}}
            </div>
            <div ng-hide='item.lang == "en" || editor.targetLang == item.lang || !ext.isEditorMode()'>
              <span class="nl-toolbar-icon" title='Remove Language {{$index+1}}'
                  ng-click='editor.removeLanguage($index)'>
                  <i class='icon ion-ios-trash fsh2 fblue2'></i>
              </span>
            </div>
          </div>
        </div>
        <div ng-show='ext.isEditorMode()' class='add-new-cls nl-link-text w100  text-center' ng-click='editor.addLanguage()' style='padding: 8px;'>
            <span class='add-new-button-style'> Add new </span>
        </div> 
      </div>
    </div>

    <span title='Change to canvas preview mode'
          ng-show='ext.isEditorMode() && canvasMode && !vp.c && !vp.i'
          class='nl-toolbar-icon'
          ng-click='updateCanvasShown($event, true)'>
        <i class="icon fsh3 ion-ios-eye"></i>
    </span>
    <span title='Change to edit mode'
          ng-show='ext.isEditorMode() && canvasMode && !vp.d && !vp.i'
          class='nl-toolbar-icon'
          ng-click='updateCanvasShown($event, false)'>
        <i class="icon fsh3 ion-ios-compose"></i>
    </span>
    <span title='Insert an item below the selected item'
          ng-show='ext.isEditorMode() && !iframeUrl && editor.targetLang == "en"'
          class='nl-toolbar-icon'
          ng-click='editor.addModule($event, ext.item)'>
        <i class="icon fsh3 ion-ios-plus"></i>
    </span>
    <span title='Delete the selected item'
          ng-show='ext.isEditorMode() && !iframeUrl && ext.item.id != "_root" && editor.targetLang == "en"'
          class='nl-toolbar-icon'
          ng-click='editor.deleteModule($event, ext.item)'>
        <i class="icon fsh3 ion-ios-trash"></i>
    </span>
    <span title='Reorder items'
          ng-show='ext.isEditorMode() && !iframeUrl && editor.targetLang == "en"'
          class='nl-toolbar-icon'
          ng-click='editor.organiseModules($event, ext.item)'>
        <i class="icon fsh3 ion-shuffle"></i>
    </span>
    <span title='Save'
          ng-show='ext.isEditorMode() && !iframeUrl && canShowSaveAndPublish'
          class='nl-toolbar-icon padding0'
          ng-click='editor.saveCourse($event, false, ext.item)'>
        <i class="icon material-icons">save</i>
    </span>
    <span title='Publish'
          ng-show='ext.isEditorMode() && !iframeUrl && editor.targetLang == "en" && canShowSaveAndPublish'
          class='nl-toolbar-icon padding0'
          ng-click='editor.saveCourse($event, true, ext.item)'>
        <i class="icon fsh3 ion-checkmark-circled"></i>
    </span>
    <!-- course editor icons -->

    <span title='Discussion forum'
         ng-show='!iframeUrl && forumInfo.refid && forumEnabled'
         class='nl-toolbar-icon'
         ng-click='launchForum()'>
        <i class="icon ion-ios-people"></i>
    </span>
    <span title='Send assignment'
          ng-show='!iframeUrl && canSendAssignment'
          class='nl-toolbar-icon'
          ng-click='sendAssignment($event)'>
        <i class="icon ion-android-send"></i>
    </span>
    <span title='Goto top level'
         class='nl-toolbar-icon'
         ng-click='collapseAll(true)'>
        <i class="icon ion-arrow-up-a"></i>
    </span>
    <span title='View top level summary'
         ng-show='!ext.isEditorMode() && canvasMode && canvasShown'
         class='nl-toolbar-icon'
         ng-click='collapseAll(false)'>
        <i class="icon ion-ios-pie-outline"></i>
    </span>
    <span title='Close'
          ng-show='popupView'
          class='nl-toolbar-icon'
          ng-click='hidePopup(!expandedView)'>
        <i class="icon ion-ios-close-outline"></i>
    </span>
    <span title='Show as popup'
          ng-show='!popupView && expandedView'
          class='nl-toolbar-icon'
          ng-click='showPopup($event, ext.item)'>
        <i class="icon ion-arrow-expand"></i>
    </span>
</div>
