<style>
.item-selected{
  background-color:#EFEFF5;	
}

</style>
<div class='nl-full nl-thin-scroll bgcontent'>
	<div class='row row-center padding-mid margin0'>
		<div class='col padding-mid'></div>
		<div style='padding-right: 10px'>
	        <div class='nl-link-text text-center padding-mid'
	        	ng-click='onToggleSummaryBox()'>
	        	<span class='fheading1' style='font-size:16px'>{{toggleText}}</span>
	        </div>
		</div>
	</div>
	<div class='row row-center row-wrap text-center row-justify-evenly padding0 margin0' ng-show='toggleSummaryBox'>
		<div class='col'>
			<nl-course-view-summary></nl-course-view-summary>
		</div>
		<div class='padding'>
			<div class='row row-center row-wrap padding0 margin0'>
			    <div style='width: 200px; height: 200px'>
			        <canvas class='chart chart-doughnut'
			                chart-data='rootStat.chartInfo.data'
			                chart-labels='rootStat.chartInfo.labels'
			                chart-colours='rootStat.chartInfo.colours'>
			        </canvas> 
			    </div>
			</div>
		</div>
	</div>
	<nl-course-view-small-screen ng-show='screenSize == "small" || vp.i == true'></nl-course-view-small-screen>
	<nl-course-view-large-screen ng-show='screenSize != "small" && vp.i != true'></nl-course-view-large-screen>
</div>
