<div ng-show='ext.item.type == "module"' class='padding-mid fsh3'>
    <b>Total items</b>: {{ext.stats.total}}
</div>
<div ng-show='ext.item.id == "_root"' class='padding-mid'>
    <table class='nl-table nl-table-styled'>
        <tr ng-repeat='attr in editor.course_params'
            ng-if='(!attr.debug || editor.debug) && attr.type != "hidden" && editor.course[attr.name] !== undefined'>
            <td>{{attr.text||attr.name}}</td>
            <td>
                <div class='padding-mid margin0'
                     ng-if='attr.icon'>
                    <img ng-if='editor.course[attr.name] !== "icon:"' ng-src='{{editor.course[attr.name]}}' class='nl-100'/>
                    <div ng-if='editor.course[attr.name] == "icon:"' class='fsh4'><i class='fsh1 ion-ios-bookmarks fblue'></i></div>
                </div>
                <div ng-if='!attr.icon'>{{editor.course[attr.name]}}</div></td>
        </tr>
        <tr ng-repeat='attr in editor.course_attributes'
        	ng-if='(!attr.debug || editor.debug) && attr.type != "hidden" && courseContent[attr.name] !== undefined'>
            <td>{{attr.text||attr.name}}</td>
            <td>{{courseContent[attr.name]}}</td>
        </tr>
    </table>
</div>
<div ng-show='ext.item.id != "_root"' class='padding-mid'>
    <table class='nl-table nl-table-styled'>
        <tr ng-repeat='attr in editor.module_attributes'
            ng-show='!attr.debug && attr.type != "hidden" && ext.item[attr.name] !== undefined'>
            <td>{{attr.text||attr.name}}</td>
            <td ng-show='attr.type == "wikitext"' nl-compile='ext.item[attr.valueName]' class='nl-content-holder'></td>
            <td ng-show='attr.type == "date"'>{{ext.item[attr.name] | nlDateTimeFormat:"date"}}</td>
            <td ng-show='attr.type != "date" && attr.type != "wikitext"'>{{ext.item[attr.name]}}</td>
        </tr>
    </table>

    <div ng-show='ext.item.type == "lesson" || ext.item.type == "link"'
         class='row row-top row-wrap margin0 padding-top'>
        <div class='col padding-small min-200'>
             <button class='nl-button w100'
                     ng-click='onLaunch($event, ext.item)'>
                     {{ext.getLaunchString()}}
             </button>
        </div>
    </div>
</div>
