<style>
    .frame0 {
        position: absolute;
        top: 36px;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
    .frame1 {
        position: absolute;
        top: 36px;
        bottom: 0;
        left: 0;
        width: 300px;
        height: auto;
    }
    .frame2 {
        position: absolute;
        top: 36px;
        bottom: 0;
        left: 300px;
        right: 0;
        width: auto;
        height: auto;
    }
</style>
<nl-course-view-toolbar></nl-course-view-toolbar>
<div ng-show='vp.t' class='{{vp.i || vp.c || vp.d ? "frame1" : "frame0"}}'
	 style='border-right: 1px solid rgba(0, 0, 0, 0.1)'>
    <nl-course-view-list></nl-course-view-list>
</div>
<div ng-show='vp.i || vp.c || vp.d'
     class='padding-small {{vp.t ? "frame2" : "frame0"}}'>
    <div class='padding-mid nl-thin-scroll' style='height: 100%'>
        <div ng-show='vp.i' style='position: absolute; top: 4px; bottom: 4px; left: 4px; right: 4px;'>
            <nl-course-view-frame></nl-course-view-frame>
        </div>
        <nl-course-canvas-view ng-show='vp.c'>
        </nl-course-canvas-view>
	    <div ng-show='vp.d && !ext.isEditorMode()'
	         class='fsh3 padding-mid nl-textellipsis'>
	        <img ng-if='ext.isIconImg(ext.item)' class='nl-icon' ng-src='{{ext.item.icon}}'>
	        <i ng-show='!ext.isIconImg(ext.item)' class="icon {{ext.getIconCls(ext.item)}} bold fsh5"></i>
	        {{ext.item.name}}
	    </div>
        <nl-course-editor ng-show='vp.d && ext.isEditorMode()'>
        </nl-course-editor>
        <nl-course-view-content-static ng-show='vp.d && ext.isStaticMode() && !ext.isEditorMode()'>
        </nl-course-view-content-static>
        <nl-course-view-content-active ng-show='vp.d && !ext.isStaticMode()'>
        </nl-course-view-content-active>
    </div>
</div>
