<style>
.item-selected{
  background-color:#EFEFF5;	
}
</style>
<div class='nl-full nl-thin-scroll bgdefault'>
	<div class='row row-center padding-mid margin0' ng-show='!vp.i'>
		<div class='col padding-mid'></div>
		<div class="dropdown" ng-show='courseContent.languages.length > 1'>
			<div class='row row-center margin0 dropbtn nl-link-text2'
				ng-click='ext.canShowLangSection = !ext.canShowLangSection'>
				<div class='col button-inner-style'>
					<span> Language: {{targetLangName}} </span>
				</div>
				<span class="nl-link-text">
					<i ng-show='!ext.canShowLangSection' class='icon ion-chevron-down fsh5'></i>
					<i ng-show='ext.canShowLangSection' class='icon ion-chevron-up fsh5'></i>
				</span>
			</div>
			<div ng-show='ext.canShowLangSection' class="dropdown-content" style='top:44px'>
				<div ng-repeat='item in courseContent.languages track by $index' class='nl-link-text2 {{item.lang == courseContent.targetLang ? "dropdown-selected" : ""}}' style='border-bottom: 2px solid #FFFFFF;padding: 2px 8px;'>
					<div class='row row-center margin0 padding0' ng-click='ext.canShowLangSection = !ext.canShowLangSection; onLanguageChange(item)'>
						<div class='col'>
							{{item.name}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style='padding-right: 10px'>
	        <div class='lnblue2 text-center padding-mid'
	        	ng-click='onToggleSummaryBox()'>
	        	<span class='fdarkgrey2' style='font-size:16px'>{{toggleText}}</span>
	        </div>
		</div>
	</div>
	<div class='padding-small'></div>
	<div class='row row-center row-wrap text-center row-justify-evenly padding0 margin0' ng-show='!vp.i && toggleSummaryBox'>
		<div class='col'>
			<nl-course-view-summary></nl-course-view-summary>
		</div>
		<div class='padding'>
			<div class='row row-center row-wrap padding0 margin0'>
			    <div style='display: block; width: 200px; height: 200px'>
			        <canvas class='chart chart-doughnut'
			                chart-data='rootStat.chartInfo.data'
			                chart-labels='rootStat.chartInfo.labels'
							chart-colors='rootStat.chartInfo.colours'
							chart-options='rootStat.chartInfo.options'>
			        </canvas> 
			    </div>
			</div>
		</div>
	</div>
	<nl-course-view-small-screen ng-show='screenSize == "small" || vp.i == true'></nl-course-view-small-screen>
	<nl-course-view-large-screen ng-show='screenSize != "small" && vp.i != true'></nl-course-view-large-screen>
</div>
