<nl-dlg title='{{data.pagetitle}}' show-help='0'>
<nl-dlg-content>
<div>
    <nl-dlg-row attr='source' data='data' help='help'
                ng-show='markupInfo.insertOrUpdateResource'>                
        <nl-select fieldmodel='source'></nl-select>
    </nl-dlg-row> 

    <nl-dlg-row attr='restype' data='data' help='help'
                ng-show='!markupInfo.restypeInfo'>
        <nl-select ng-if='data.card == null' fieldmodel='restype'></nl-select>
        <input ng-if='data.card !== null' ng-model='data.restype.id' readonly class='nl-dlg-field-value'></input>
    </nl-dlg-row> 

    <nl-dlg-row attr='url' data='data' help='help'
                ng-show='data.source.id == "url"'>
        <nl-input fieldmodel='url' fieldtype='text' fieldcls='w100'></nl-input>
    </nl-dlg-row> 

    <nl-dlg-row attr='resource' data='data' help='help'
                ng-show='data.source.id == "upload"'>
        <nl-resource-upload 
            ng-repeat='restype in options.restype'
            ng-if='restype.id == data.restype.id'
            fieldmodel='resource' 
            restype='{{restype.id}}'>
        </nl-resource-upload>
    </nl-dlg-row> 

    <nl-dlg-row attr='keywords' data='data' help='help'
                ng-show='data.source.id == "upload"'>
        <nl-input fieldmodel='keywords' fieldtype='text' fieldcls='w100'></nl-input>
    </nl-dlg-row> 

    <nl-dlg-row attr='compressionlevel' data='data' help='help'
                ng-show='data.source.id == "upload" && data.restype.id == "Image"'>
        <nl-select fieldmodel='compressionlevel'></nl-select>
    </nl-dlg-row> 

    <nl-dlg-row attr='markupCover' data='data' help='help'
                ng-show='markupInfo.showMarkupOptions && data.restype.id == "Image"'>
        <nl-select fieldmodel='markupCover'></nl-select>
    </nl-dlg-row> 

    <nl-dlg-row attr='markupLink' data='data' help='help'
                ng-show='markupInfo.showMarkupOptions && data.restype.id == "Image"'>
        <nl-input fieldmodel='markupLink' fieldtype='text' fieldcls='w100'></nl-input>
    </nl-dlg-row> 

    <nl-dlg-row attr='markupText' data='data' help='help'
                ng-show='markupInfo.showMarkupOptions && data.restype.id == "Attachment"'>
        <nl-input fieldmodel='markupText' fieldtype='text' fieldcls='w100'></nl-input>
    </nl-dlg-row> 

    <nl-dlg-row attr='markupPopup' data='data' help='help'
                ng-show='markupInfo.showMarkupOptions && (data.restype.id == "Image" && data.markupLink || data.restype.id == "Attachment")'>
        <nl-checkbox fieldmodel='markupPopup' 
                     fieldname='Open link a new window'
                     fieldcls= 'padding-mid'
                     tabindex="0">
        </nl-checkbox>
    </nl-dlg-row> 

    <nl-dlg-row attr='markupPage' data='data' help='help'
                ng-show='markupInfo.showMarkupOptions && data.restype.id == "PDF"'>
        <nl-input fieldmodel='markupPage' fieldtype='number' fieldminvalue=1 fieldcls='w100'></nl-input>
    </nl-dlg-row> 

    <nl-dlg-row attr='markupScale' data='data' help='help'
                ng-show='markupInfo.showMarkupOptions && data.restype.id == "PDF"'>
        <nl-input fieldmodel='markupScale' fieldtype='text' fieldcls='w100'></nl-input>
    </nl-dlg-row> 

    <nl-dlg-row attr='markupStart' data='data' help='help'
         ng-show='markupInfo.showMarkupOptions && (data.restype.id == "Video" || data.restype.id == "Audio")'>
        <nl-input fieldmodel='markupStart' fieldtype='number' fieldminvalue=0 fieldcls='w100'></nl-input>
    </nl-dlg-row> 

    <nl-dlg-row attr='markupEnd' data='data' help='help'
                ng-show='markupInfo.showMarkupOptions && (data.restype.id == "Video" || data.restype.id == "Audio")'>
        <nl-input fieldmodel='markupEnd' fieldtype='number' fieldminvalue=0 fieldcls='w100'></nl-input>
    </nl-dlg-row> 
</div>
</nl-dlg-content>
</nl-dlg>