<nl-dlg title='Upload Resource'>
<nl-dlg-help>
	<div class='njsHelp'>
		<H3>Upload a resource from your device to the cloud.</H3>
		<p><b>Resource Type:</b> Choose the resource type.</p>
        <p><b>Resouce:</b> Choose a local file from your device. Depending on the chosen resource type, the supported file types are displayed.</p>
        <p><b>Keywords:</b> You may provide some keywords for searching the reources later.</p>
        <p><b>Compression:</b> This is supported only for image resources. By default medium compression level is chosen which is good enough for high definition screen viewing. It is recommended to not alter this value unless you facing feature/quality loss with compression (e.g. animated GIFs are not compressable).</p>
	</div>
</nl-dlg-help>
<nl-dlg-content>
<div>
	<div class='row row-top row-wrap'>
		<div ng-class='resp2Col20'>Resource Type</div>
		<nl-select fieldmodel='restypes' ng-class='resp2Col80'></nl-select>
	</div>
    <div class='row row-top row-wrap'>
        <div ng-class='resp2Col20'>choose file</div>
        <div ng-if='data.restypes.id == "Image"' ng-class='resp2Col80'>
            <nl-resource-upload 
            	fieldmodel='image' 
            	restype='Image'>
            </nl-resource-upload>
        </div>
        <div ng-if='data.restypes.id == "PDF"' ng-class='resp2Col80'>
            <nl-resource-upload 
            	fieldmodel='pdf' 
            	restype='PDF'>
            </nl-resource-upload>
        </div>
        <div ng-if='data.restypes.id == "Audio"' ng-class='resp2Col80'>
            <nl-resource-upload 
            	fieldmodel='audio' 
            	restype='Audio'>
            </nl-resource-upload>
        </div>
        <div ng-if='data.restypes.id == "Video"' ng-class='resp2Col80'>
            <nl-resource-upload 
            	fieldmodel='video' 
            	restype='Video'>
            </nl-resource-upload>
        </div>
        <div ng-if='data.restypes.id == "Attachment"' ng-class='resp2Col80'>
            <nl-resource-upload 
            	fieldmodel='attachement' 
            	restype='Attachment'>
            </nl-resource-upload>
        </div>
    </div>
	<div class='row row-top row-wrap'>
		<div ng-class='resp2Col20'>Keywords</div>
		<div ng-class='resp2Col80'><nl-input fieldmodel='keywords' fieldtype='text' fieldcls='w100'></nl-input>
		</div>			
	</div>
	<div ng-show='data.restypes.id == "Image"' class='row row-top row-wrap'>
		<div ng-class='resp2Col20'>Compression</div>
            <div ng-class='resp2Col80'>
                <nl-select fieldmodel='compressionlevel'></nl-select>
            </div>
	</div>
</div>
</nl-dlg-content>
</nl-dlg>