<nl-dlg dlgtitle='{{data.pagetitle}}' show-help='0'>
<nl-dlg-content>
<style>
    .video_preview {
        width: 100%;
        height: 360px;
    }
	.nl-img-preview {
	  display: inline-block;
	  text-align: center;
      max-height: 400px;
      max-width: 300px;
      overflow: hidden;
      border: 1px solid rgba(200, 200, 255, 0.5);
	}
    .nl-img-preview.bg img {
      height: 135px;
      width: 240px;
	}
    .nl-img-preview.icon img {
      max-height: 100px;
      max-width: 100px;
    }
	.nl-img-preview.selected {
		background-color: rgba(128, 128, 255, 0.5);
	}
    .nl-img-preview-title {
      white-space: nowrap;
      text-overflow : ellipsis;
      overflow : hidden;
      max-width: 240px;
    }
    .nl-img-preview.bg .nl-img-preview-title {
      max-width: 240px;
    }
    
    .nl-img-preview.icon .nl-img-preview-title {
      max-width: 100px;
    }

	.image-top-button {
	    position: absolute;
	    top: 4px;
	    right: 4px;
	    padding: 2px;
        width: 30px;
    }

	.image-top-button.bg {
	    position: absolute;
	    top: 4px;
	    left: 90%;
	    padding: 2px;
        width: 30px;
    }

	.image-top-button.icon {
	    position: absolute;
	    top: 2px;
	    left: 80%;
	    padding: 2px;
        width: 30px;
    }

</style>
<div>
	<div class='row margin0 padding0 row-stretch text-center'
		ng-show='markupInfo.insertOrUpdateResource'> 
		<div class='padding0 {{(data.selectedTab == "library" && !data.advOptions) ? "page_format_tab_selected" : "page_format_tab_not_selected"}} nl-link-text'
			ng-click='changeTab("library")'>
			<div class='row row-center margin0 padding0'>
				<span class='padding-small'></span>
				<i class="icon ion-images bold fsh3 padding-small"></i>
				<span ng-show='screenSize != "small"' class='padding-small'>Choose from library</span>
				<span class='padding-small'></span>
			</div>
		</div>
		<div class='padding0 {{(data.selectedTab == "url" && !data.advOptions) ? "page_format_tab_selected" : "page_format_tab_not_selected"}} nl-link-text'
			ng-click='changeTab("url")'>
			<div class='row row-center margin0 padding0'>
				<span class='padding-small'></span>
				<i class="icon ion-code-working bold fsh3 padding-small"></i>
				<span ng-show='screenSize != "small"' class='padding-small'>Provide URL</span>
				<span class='padding-small'></span>
			</div>
		</div>
		<div class='padding0 {{(data.selectedTab == "upload" && !data.advOptions) ? "page_format_tab_selected" : "page_format_tab_not_selected"}} nl-link-text'
			ng-click='changeTab("upload")'>
			<div class='row row-center margin0 padding0'>
				<span class='padding-small'></span>
				<i class="icon ion-upload fsh3 bold padding-small"></i>
				<span ng-show='screenSize != "small"' class='padding-small'>Upload from device</span>
				<span class='padding-small'></span>
			</div>
		</div>
		<div class='padding0 {{(data.selectedTab == "record" && !data.advOptions) ? "page_format_tab_selected" : "page_format_tab_not_selected"}} nl-link-text'
			ng-click='changeTab("record")'
			ng-show='{{data.enableAudioRecord || data.enableVideoRecord}}'>
			<div class='row row-center margin0 padding0'>
				<span class='padding-small'></span>
				<i class='icon {{data.enableAudioRecord ? "ion-mic-a" : "ion-videocamera"}} bold fsh3 padding-small'></i>
				<span ng-show='screenSize != "small"' class='padding-small'>{{data.enableAudioRecord ? "Record Audio" : "Record Video"}}</span>
				<span class='padding-small'></span>
			</div>
		</div>
		<div class='col padding0 page_format_tab_not_selected'>
		</div>
		<div class='padding0 margin0 {{data.advOptions ? "page_format_tab_selected" : "page_format_tab_not_selected"}} nl-link-text}} nl-link-img'
			ng-click='changeTab("adv_options")'
			ng-show='markupInfo.showMarkupOptions'>
			<div class='row row-center margin0 padding0'>
				<span class='padding-small'></span>
        		<i class="icon fsh3 ion-ios-gear padding-small bold"></i>
				<span class='padding-small'></span>
    		</div>
    	</div>
	</div>

	<div ng-if='data.selectedTab == "library" && !data.advOptions'>
	    <div class='padding-small'>
	    </div>
	    <div class='row row-center padding0 margin0'>
	        <div class='padding0 margin0'>
	            <nl-select fieldmodel='resourceLibraryDropDown'></nl-select> 
	        </div>
	        <div ng-show='data.restype.id == "Image"'>
	        	<nl-checkbox fieldmodel='imageFilter' 
	        				 fieldname='animated images'
	        				 fieldcls= 'padding-mid'
	        				 fieldindex="0">
	        	</nl-checkbox>
	        </div>
			<div class='col padding0 margin0'>
				<nl-input fieldmodel='librarySearchText' fieldtype='text' placeholder='Start typing to search'></nl-input>
			</div>
			<span>
				<i class='icon ion-ios-search nl-dlg-field-icon fsh4'></i>
			</span>
		</div>

		<div class='row margin0 padding0'>
			<div ng-show='error.libError' class='nl-dlg-field-errormsg'>{{error.libError}}</div>
		</div>

		<div class='{{data.search.cls}} anim-highlight-off {{data.search.clsAnimate}}'
			ng-click='fetchMoreResources()'>
			<div class='padding-mid' ng-bind-html='data.search.infotxt'></div>
	    </div>

		<div class='row row-top row-wrap row-justify-evenly margin0 padding0'
	    	ng-show='data.restype.id == "Image"'>
	        <div ng-repeat='resource in data.resourceList'>
	            <div class='padding' style="position:relative">
	                <div class='nl-link-img padding-mid nl-img-preview {{data.resourceFilter}} {{resource.background == data.librarySelectedUrl ? "selected" : ""}}'
	                    ng-click='onLibraryResourceSelect(resource)'
	                    tabindex="0"
	                    title='{{resource.name}}'
	                    ng-keypress='$event.keyCode == 13 ? onLibraryResourceSelect(resource) : ""'>
	                        <div class='nl-img-preview-title padding-small'>{{resource.name}}</div>
	                        <img ng-src='{{resource.background}}'>
	                </div>
					<span ng-if='resource.owner == "self"' 
						class='image-round-button nl-link-img image-top-button {{data.resourceFilter}}'
						ng-click='onResourceModify(resource)'>
					    <i class='icon ion-edit nl-dlg-field-icon fsh4'></i>
					</span>
	            </div>
	        </div>
	    </div>
		<div class='row row-top row-wrap row-justify-evenly margin0 padding0'
			ng-show='data.restype.id != "Image"'>
			<div ng-repeat='resource in data.resourceList'>
				<div class='text-center padding' style="position: relative">
					<div class='nl-thumbnail-container nl-img-preview {{resource.background == data.librarySelectedUrl ? "selected" : ""}}'
						ng-click='onLibraryResourceSelect(resource)'
						title='{{resource.name}}'>
						<div class='nl-thumbnail'>
							<div class='nl-thumbnail-img'>
								<img ng-src='{{resource.resimg}}'/>
							</div>
							<div class="nl-thumbnail-txt">{{resource.name}}</div>
						</div>
					</div>
					<span ng-show='resource.owner == "self"' 
						class='image-round-button nl-link-img image-top-button'
						ng-click='onResourceModify(resource)'>
					    <i class='icon ion-edit nl-dlg-field-icon fsh4'></i>
					</span>
				</div>
			</div>
		</div>
	</div>

    <nl-dlg-row attr='url' data='data' help='help'
                ng-if='data.selectedTab == "url" && !data.advOptions'>
        <nl-input fieldmodel='url' fieldtype='text' fieldcls='w100' fieldindex='0'></nl-input>
    </nl-dlg-row> 

    <nl-dlg-row attr='restype' data='data' help='help'
                ng-if='!markupInfo.restypeInfo'>
        <nl-select ng-if='data.card == null' fieldmodel='restype'></nl-select>
        <input ng-if='data.card !== null' ng-model='data.restype.id' readonly class='nl-dlg-field-value'></input>
    </nl-dlg-row> 
    <nl-dlg-row attr='resource' data='data' help='help'
                ng-if='data.selectedTab == "upload" && !data.advOptions'>
        <nl-resource-upload 
            ng-repeat='restype in options.restype'
            ng-if='restype.id == data.restype.id'
            fieldmodel='resource' 
            restype='{{restype.id}}'>
        </nl-resource-upload>
    </nl-dlg-row> 

    <nl-dlg-row attr='bgShade' data='data' help='help'
                ng-if='(data.selectedTab == "url" || data.selectedTab == "upload") && !data.advOptions && data.resourceFilter == "bg"'>
        <nl-select fieldmodel='bgShade'></nl-select>
    </nl-dlg-row> 

    <nl-dlg-row attr='shared' data='data' help='help'
                ng-if='data.selectedTab == "upload" && !data.advOptions'>
        <nl-checkbox fieldmodel='shared' 
                     fieldname='share with other users in the group'
                     fieldcls= 'padding-mid'
                     fieldindex="0">
        </nl-checkbox>
    </nl-dlg-row> 

    <nl-dlg-row attr='animated' data='data' help='help'
                ng-if='data.selectedTab == "upload" && data.restype.id == "Image" && !data.advOptions'>
        <nl-checkbox fieldmodel='animated' 
                     fieldname='animated image'
                     fieldcls= 'padding-mid'
                     fieldindex="0"
                     ng-keypress='$event.animated == 13 ? data.animated = !data.animated : ""'>
        </nl-checkbox>
    </nl-dlg-row> 

    <nl-dlg-row attr='keywords' data='data' help='help'
                ng-if='data.selectedTab == "upload" && !data.advOptions'>
        <nl-input fieldmodel='keywords' fieldtype='text' fieldcls='w100'></nl-input>
    </nl-dlg-row> 

    <nl-dlg-row attr='compressionlevel' data='data' help='help'
                ng-if='data.selectedTab == "upload" && data.restype.id == "Image" && !data.advOptions'>
        <nl-select fieldmodel='compressionlevel'></nl-select>
    </nl-dlg-row> 

    <nl-dlg-row attr='recordingName' data='data' help='help'
                ng-if='data.selectedTab == "record" && !data.advOptions'>
        <nl-input fieldmodel='recordingName' fieldtype='text' fieldcls='w100'></nl-input>
    </nl-dlg-row> 

    <nl-dlg-row ng-if='data.selectedTab == "record" && !data.advOptions' class='text-center'>
        <div class="button padding-small"
             ng-click='recorder.toggle(data)'>

            <i ng-show='recorder.state == "pending" && data.restype.id == "Video"'
               class='ion-videocamera fsh2 padding-small'></i>
            <i ng-show='recorder.state == "pending" && data.restype.id == "Audio"'
               class='ion-mic-a fsh2 padding-small'></i>
            <span ng-show='recorder.state == "pending"'
                  class='padding-small'>Record</span>

            <i ng-show='recorder.state == "recording"'
                    class='anim_blink forange ion-android-radio-button-on fsh2 padding-small'></i>
            <span ng-show='recorder.state == "recording"'
                  class='padding-small'>Stop</span>

            <i ng-show='recorder.state == "done"'
                    class='ion-ios-refresh fsh2 padding-small'></i>
            <span ng-show='recorder.state == "done"'
                  class='padding-small'>Rerecord</span>
        </div>
        <div class='padding-small'>{{recorder.statusMsg}}</div>
        <div class='padding-mid'>
            <video id='res_add_dlg_recorder_preview'
                   class='video_preview' autoplay muted
                   ng-show='recorder.state != "done"'>
            </video>
            <video id='res_add_dlg_recorder_preview2'
                   class='video_preview' controls
                   ng-show='recorder.state == "done"'>
            </video>
        </div>
        <div ng-show='recorder.state == "done" && recorder.recordedUrl'
             class='fsmall2'>
             <a id='res_add_dlg_recorder_download' 
                ng-href='{{recorder.recordedUrl}}'
                download='{{recorder.getRecordedFileName(data)}}'>
                <i class='icon ion-arrow-down-a padding-small'></i><span>Download</span></a>
        </div>
    </nl-dlg-row> 

    <nl-dlg-row attr='markupCover' data='data' help='help'
                ng-show='markupInfo.showMarkupOptions && data.restype.id == "Image" && data.advOptions'>
        <nl-select fieldmodel='markupCover'></nl-select>
    </nl-dlg-row> 

    <nl-dlg-row attr='markupLink' data='data' help='help'
                ng-show='markupInfo.showMarkupOptions && data.restype.id == "Image" && data.advOptions'>
        <nl-input fieldmodel='markupLink' fieldtype='text' fieldcls='w100'></nl-input>
    </nl-dlg-row> 
		
    <nl-dlg-row attr='markupText' data='data' help='help'
                ng-show='markupInfo.showMarkupOptions && data.restype.id == "Attachment" && data.advOptions'>
        <nl-input fieldmodel='markupText' fieldtype='text' fieldcls='w100'></nl-input>
    </nl-dlg-row> 

    <nl-dlg-row attr='markupPopup' data='data' help='help'
                ng-show='markupInfo.showMarkupOptions && (data.restype.id == "Image" && data.markupLink || data.restype.id == "Attachment") && data.advOptions'>
        <nl-checkbox fieldmodel='markupPopup' 
                     fieldname='Open link a new window'
                     fieldcls= 'padding-mid'
                     fieldindex="0">
        </nl-checkbox>
    </nl-dlg-row> 

    <nl-dlg-row attr='markupPage' data='data' help='help'
                ng-show='markupInfo.showMarkupOptions && data.restype.id == "PDF" && data.advOptions'>
        <nl-input fieldmodel='markupPage' fieldtype='number' fieldminvalue=1 fieldcls='w100'></nl-input>
    </nl-dlg-row> 

    <nl-dlg-row attr='markupScale' data='data' help='help'
                ng-show='markupInfo.showMarkupOptions && data.restype.id == "PDF" && data.advOptions'>
        <nl-input fieldmodel='markupScale' fieldtype='text' fieldcls='w100'></nl-input>
    </nl-dlg-row> 

    <nl-dlg-row attr='markupStart' data='data' help='help'
         ng-show='markupInfo.showMarkupOptions && (data.restype.id == "Video" || data.restype.id == "Audio") && data.advOptions'>
        <nl-input fieldmodel='markupStart' fieldtype='number' fieldminvalue=0 fieldcls='w100'></nl-input>
    </nl-dlg-row> 

    <nl-dlg-row attr='markupEnd' data='data' help='help'
                ng-show='markupInfo.showMarkupOptions && (data.restype.id == "Video" || data.restype.id == "Audio") && data.advOptions'>
        <nl-input fieldmodel='markupEnd' fieldtype='number' fieldminvalue=0 fieldcls='w100'></nl-input>
    </nl-dlg-row>
</div>
</nl-dlg-content>
</nl-dlg>