<div class='nl-dlg-field-value'>
    <div ng-show='multiple == "true" || $parent.data[fieldmodel].length == 0'
         class="nl-thumbnail-container">
        <div class="nl-thumbnail" 
             ngf-select='onFileSelect($files || [$file])' name="fieldmodel"
             ngf-multiple="{{multiple}}" ngf-accept="'{{accept}}'"
             tabindex="{{tabindex}}"
             autofocus=''>
            <div class='nl-thumbnail-img'>
                <img ng-src='{{imgBasePath}}plus.png'/>
            </div>
            <div class="nl-thumbnail-txt"><b>Select ...</b></div>
        </div>
    </div>
    <div ng-repeat="fileInfo in $parent.data[fieldmodel]"
         class="nl-thumbnail-container">
        <div class="nl-thumbnail">
            <div class='nl-thumbnail-img' ng-click='onResourceClick(fileInfo, $index)'>
                <img ng-src='{{fileInfo.resimg}}'/>
            </div>
            <div class='nl-thumbnail-close' ng-click='onResourceRemove(fileInfo, $index)'>
                <i class="icon ion-close-circled"></i>
            </div>
            <div class="nl-thumbnail-txt">{{fileInfo.resource.name}}</div>
        </div>
    </div>
    <div ng-show='$parent.error[fieldmodel]' class='nl-dlg-field-errormsg'>{{$parent.error[fieldmodel]}}</div>
</div>