<div class='upload_pdf nl-thin-scroll nl-full'>
    <div class='row row-top row-wrap'>
        <div class='nl-dlg-field-name' ng-class='resp2Col20'>File</div>
        <div ng-class='resp2Col80'>
            <nl-resource-upload fieldmodel='pdf'
                multiple='false' restype='PDF'>
            </nl-resource-upload>
        </div>
    </div>
    
    <div class='row row-top row-wrap'>
        <div class='nl-dlg-field-name' ng-class='resp2Col20'>Name</div>
        <div ng-class='resp2Col80'>
            <nl-input fieldmodel='name' fieldtype='text' fieldcls='w100'></nl-input>
        </div>
    </div>

    <div class='row row-top row-wrap'>
        <div class='nl-dlg-field-name' ng-class='resp2Col20'>{{subjectLabel}}</div>
        <div ng-class='resp2Col80'>
            <nl-select fieldmodel='subject'></nl-select>
        </div>
    </div>

    <div class='row row-top row-wrap'>
        <div class='nl-dlg-field-name' ng-class='resp2Col20'>{{gradeLabel}}</div>
        <div ng-class='resp2Col80'>
            <nl-select fieldmodel='grade'></nl-select>
        </div>
    </div>

    <div class='row row-top row-wrap'>
        <div class='nl-dlg-field-name' ng-class='resp2Col20'>Description</div>
        <div ng-class='resp2Col80'>
            <nl-textarea fieldmodel='description' fieldcls='small w100'></nl-textarea>
        </div>
    </div>

    <div class='row row-top row-wrap'>
        <div class='nl-dlg-field-name' ng-class='resp2Col20'>Keywords</div>
        <div ng-class='resp2Col80'>
            <nl-input fieldmodel='keywords' fieldtype='text' fieldcls='w100'></nl-input>
        </div>
    </div>

    <div class='padding'></div>

    <div class='popup-buttons row'>
        <button ng-click='upload($event)' class='button col'>Upload</button>
        <button ng-click='cancel($event)' class='button col'>Cancel</button>
    </div>
</div>
