@charset "UTF-8";

/*----------------------------------------------------------------------------------------------------------------------
 * Color1: #403050 (header bar)
 * Color2: #807090
 * Color3: #C0B0D0
 * Color4: #EFDFFF (body)
 * --------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------------
 * GLOBAL STYLES
 * --------------------------------------------------------------------------------------------------------------------*/
html, body {
	width: 100%;
	height: 100%;
  overflow: auto;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 300px;
  min-height: 300px;
}

body {
	position: relative;
	line-height: 1;
}

html, body, .njsSlides div, .njsSlides span, .njsSlides applet, .njsSlides object, .njsSlides iframe,
.njsSlides h1, .njsSlides h2, .njsSlides h3, .njsSlides h4, .njsSlides h5, .njsSlides h6, .njsSlides p, .njsSlides blockquote, .njsSlides pre,
.njsSlides a, .njsSlides abbr, .njsSlides acronym, .njsSlides address, .njsSlides big, .njsSlides cite, .njsSlides code,
.njsSlides del, .njsSlides dfn, .njsSlides em, .njsSlides img, .njsSlides ins, .njsSlides kbd, .njsSlides q, .njsSlides s, .njsSlides samp,
.njsSlides small, .njsSlides strike, .njsSlides strong, .njsSlides sub, .njsSlides sup, .njsSlides tt, .njsSlides var,
.njsSlides b, .njsSlides u, .njsSlides i, .njsSlides center,
.njsSlides dl, .njsSlides dt, .njsSlides dd, .njsSlides ol, .njsSlides ul, .njsSlides li,
.njsSlides fieldset, .njsSlides form, .njsSlides label, .njsSlides legend,
.njsSlides table, .njsSlides caption, .njsSlides tbody, .njsSlides tfoot, .njsSlides thead, .njsSlides tr, .njsSlides th, .njsSlides td,
.njsSlides article, .njsSlides aside, .njsSlides canvas, .njsSlides details, .njsSlides embed,
.njsSlides figure, .njsSlides figcaption, .njsSlides footer, .njsSlides header, .njsSlides hgroup,
.njsSlides menu, .njsSlides nav, .njsSlides output, .njsSlides ruby, .njsSlides section, .njsSlides summary,
.njsSlides time, .njsSlides mark, .njsSlides audio, .njsSlides video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-size: 14px;
}

/*----------------------------------------------------------------------------------------------------------------------
 * Font definitions
 * --------------------------------------------------------------------------------------------------------------------*/
body, .njsSlides, .njsSlides h1, .njsSlides h2, .njsSlides h3, .njsSlides h4, .njsSlides h5, .njsSlides h6 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

.btn {
	margin-right: 5px;
}

/*----------------------------------------------------------------------------------------------------------------------
 * DEFAULT ELEMENT STYLES
 * --------------------------------------------------------------------------------------------------------------------*/

/* Ensure certain elements are never larger than the slide itself */
.njsSlides img, .njsSlides video, .njsSlides iframe {
	max-width: 95%;
	max-height: 95%;
}

.njsSlides iframe { z-index: 1;}

.njsSlides a {
	position: relative;
	color: #000077;
}

.njsSlides a:hover {
	color: #000077;
	text-decoration: underline;
}

.njsSlides strong, .njsSlides b { font-weight: bold;}

.njsSlides em, .njsSlides i { font-style: italic;}

.njsSlides ol, .njsSlides ul {
	display: inline-block;
	text-align: left;
	word-wrap: break-word;
	margin-left: 1em;
}

.njsSlides ol>li {
	-webkit-margin-start: 1em;
	margin-left: 1em;
}

.njsSlides ul>ol, .njsSlides ol>ol {
	margin-left: 1.8em;
}

.njsSlides ol {
	list-style-type: decimal;
}

.njsSlides ul {
	list-style-type: disc;
}

.njsSlides ul ul {
	list-style-type: square;
}

.njsSlides ul ul ul {
	list-style-type: circle;
}

.njsSlides ul ul, .njsSlides ul ol, .njsSlides ol ol, .njsSlides ol ul {
	display: block;
}

.njsSlides p {
	margin-bottom: 10px;
	line-height: 1.2em;
	word-wrap: break-word;
}

.njsSlides table th, .njsSlides table td {
	text-align: left;
	padding-right: .3em;
}

.njsSlides table th {
	font-weight: bold;
}

.njsSlides small {
	display: inline-block;
	font-size: 0.6em;
	line-height: 1.2em;
	vertical-align: top;
}

.njsSlides small * {
	vertical-align: top;
}

/*----------------------------------------------------------------------------------------------------------------------
 * HEADERS
 * --------------------------------------------------------------------------------------------------------------------*/
.njsSlides h1, .njsSlides h2, .njsSlides h3, .njsSlides h4, .njsSlides h5, .njsSlides h6 {
	margin: 0 0 15px 0;
	line-height: 0.9em;
	letter-spacing: 0.01em;

	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	        hyphens: auto;

	word-wrap: break-word;
	line-height: 1;
	text-transform: none;
}

.njsSlides h1 {
	font-size: 375%;
	text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.njsSlides h2 { font-size: 200%	}
.njsSlides h3 { font-size: 150%	}
.njsSlides h4 { font-size: 100%	}

input[type="file"] {
	line-height: 0;
}

/*----------------------------------------------------------------------------------------------------------------------
 * Actual content from nittio.css
 * --------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------------
 * Top elements: body contains pagecanvas
 * --------------------------------------------------------------------------------------------------------------------*/

/* Complete page */
.pagecanvas {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: auto;
	height: auto;
}

@media print {
	.pagecanvas {
		display: none !important;
	}
}

/*----------------------------------------------------------------------------------------------------------------------
 * Main divisions inside pageCanvas: topBar, body, left and right navigators, toolBar
 * --------------------------------------------------------------------------------------------------------------------*/
.topBar {
	position: absolute;
	left: 0;
	top: 0;
	height: 40px;
	right: 0;
	z-index: 11;
}

.topBar, .topBarBg .aspect_wrt {
	background-color: #403050;
	background-image: -moz-linear-gradient(top,#403050,#807090);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#403050),to(#807090));
	background-image: -webkit-linear-gradient(top,#403050,#807090);
	background-image: -o-linear-gradient(top,#403050,#807090);
	background-image: linear-gradient(to bottom,#403050,#807090);

	font-size: 100%;
	color: #ffffff;	
}

.topBarBg .aspect_wrt {
	border-radius: 8px;
}

.aspect_wrt {
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

.aspect_wrt_with_imglink:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
	border-radius: 8px;
}

.aspect_wrt_with_imglink a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.body {
	position: absolute;
	top: 45px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	opacity: 0;
}

.embedded_player .body, .embedded_player .toolBar {
  top: 5px;
}

.inner_body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/*
 * Navigators
 */
.navigator {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 3%;
	max-width: 20px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	z-index: 11;
}

.navigator img:hover {
	opacity: 0.5;
}

.navigator.left {
	left: 5px;
}

.navigator.right {
	right: 5px;
}

.navigator table {
	height: 100%;
	width: 100%;
}

a.enabled {
	display: inline;
}

/*
 * ToolBar
 */
.toolBar {
	position: absolute;
	top: 42px;
	right: 2px;
	height: 36px;
	max-width: 95%;
	text-align: center;
	background: #EFDFFF;
	z-index: 12;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 0px 0px 16px 0 #403050 inset;
	overflow:auto;
	opacity: 0.85;
}

/*----------------------------------------------------------------------------------------------------------------------
 * Elements inside topBar
 * --------------------------------------------------------------------------------------------------------------------*/
.topBar a {
	color: #FFFF80;
}

.topBar a:hover {
	color: #FF8080;
	text-decoration:none;
}

.topBar #logo {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	height: 40px;
	width: 120px;
	text-align: center;
}

.topBar > #menuArea {
	position: absolute;
	top: 4px;
	bottom: 4px;
	right: 4px;
	width: 120px;
	text-align: right;
}

.topBar > #menuArea img {
	margin-top: 4px;
	width: 24px;
	height: 24px;
}

.topBar > #header {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 124px;
	right: 124px;
	padding: 9px 0;
	font-size: 120%;
	text-align: center;
}

#header small {
	font-size: 70%;
}

#header small a {
	color: #FFFF80;
}

#header small a:hover {
	color: #FF8080;
}

/*----------------------------------------------------------------------------------------------------------------------
 * Elements inside toolBar
 * --------------------------------------------------------------------------------------------------------------------*/
.toolBar .toolbarIcon {
	width: 36px;
	height: 36px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 4px;
	display: inline-block;
}

.visible {
	visibility: visible;
}

.sectiontoolbarIcon {
	z-index: 11;
	position: absolute;
	top: -18px;
	left: -18px;
	line-height: 0 !important;
}

.sectiontoolbarIcon > img {
	border-radius: 4px;
}

.toolBar .toolbarIcon > img, .sectiontoolbarIcon > img {
	width: 24px;
	height: 24px;
	margin: 6px;
	cursor:pointer;
}

.toolBar .toolbarIcon > img:hover, .sectiontoolbarIcon > img:hover {
	box-shadow: inset 0 0 0 rgba(170,0,0,0.1), 0 0 10px rgba(0,0,0,1);
}

.toolBar .toolbarIcon.current {
	background: white;
}

.toolBar .toolbarIcon.current > img {
	cursor: default;
	box-shadow: none;
}

#countdown_timer {
	position: absolute;
	bottom: 0;
	right: 50px;
	width: auto;
	height: auto;
	z-index: 11;
	background-color: #403050;
	color: #FFFFFF;
	border: 3px solid #FFFFFF;
	border-radius: 8px;
	box-shadow: 0 -2px 0 3px #201030 inset, 0 5px 5px rgba(0, 0, 0, 0.17), 0 5px rgba(255, 255, 255, 0.25) inset;
	padding: 5px;
}

#countdown_timer.hide_counter {
	display: none;
}

#countdown_timer.countdown_timer_warning {
	display: inline;
	font-size: 150%;
	background-color: #FF0000;
	box-shadow: 0 -2px 0 3px #FF0000 inset, 0 5px 5px rgba(0, 0, 0, 0.17), 0 5px rgba(255, 255, 255, 0.25) inset;
}

#pgNo, .secNo {
	position: absolute;
	bottom: 5px;
	right: 2px;
	width: auto;
	height: auto;
	color: #FFFFFF;
	background-color: #403050;
	border-radius: 100%;
	text-align: center;
	padding: 5px 12px;
	font-size: 12px;
	line-height: 150%;
	z-index: 12;
	cursor:pointer;	
}

#pgNo {
	background-color: #403050;
	color: #FFFFFF;
	border: 3px solid #FFFFFF;
	box-shadow: 0 -2px 0 3px #201030 inset, 0 5px 5px rgba(0, 0, 0, 0.17), 0 5px rgba(255, 255, 255, 0.25) inset;
}

#pgNo:hover {
	background-color: #FFFFFF;
	color: #403050;
	border: 3px solid #403050;
	box-shadow: none;
}

#pgNo, #navigate_left, #navigate_right {
	display: none;
}

/*----------------------------------------------------------------------------------------------------------------------
 * onclick menu: login menu
 * --------------------------------------------------------------------------------------------------------------------*/
#loginMenu {
	position: absolute;
	top: 45px;
	width: 100px;
	padding: 0;

	background-color: #C0B0D0;
	border-radius: 8px;
	box-shadow: inset 0 0 10px rgba(170,0,0,0.1), 0 0 30px rgba(0,0,0,1);
	
	z-index: 21;
	display: none;

	right: 5px;	
}
.menuSrc {
	cursor: pointer;
}

.menuList {
	text-align: center;
}

.menuList img {
	width: 90px;
	height: 55px;
	margin: 2px 0 0 0;
	cursor:pointer;
	border-bottom: #A090B0 solid 1px;
}

.menuList img:hover {
	box-shadow: inset 0 0 10px rgba(170,0,0,0.1), 0 0 30px rgba(0,0,0,1);
}

a.njsLink, span.njsLink {
	cursor: pointer;
	color: #000077;
	display: inline;
}

a.njsLink:hover, span.njsLink:hover {
	text-decoration:underline;
}

img.x16 {
	height: 16px;
	width: 16px;
}

.grey {
	color: #333333;
}

.green {
	color: #40C040;
}

a.green, .njsSlides a.green {
	color: #40C040;
	text-decoration:underline;	
}

a.green:hover, .njsSlides a.green:hover  {
	color: #009000;
	font-weight: 900;
}

.maroon {
	color: #C04040;
}

.yellow {
	color: #FFAA00;
}

.autovscroll {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow-y:auto;
}
/*----------------------------------------------------------------------------------------------------------------------
 * Status box, Warning box
 * --------------------------------------------------------------------------------------------------------------------*/
.popupBox {
	position: absolute;
	border-radius: 8px;
	opacity: 0;
	z-index: 23;
	box-shadow: inset 0 0 10px rgba(170,0,0,0.1), 0 0 30px rgba(0,0,0,1);
	display: none; 
}

#statusBox, #statusBoxFixed {
	bottom: 1%;
	left: 1%;
	width: 40%;
	height: 0;
	background: #403050;
	color: #ffffff;
}

#statusBox .content, #statusBoxFixed .content {
	position: absolute;
	left: 8px;
	right: 8px;
	bottom: 8px;
	text-overflow: ellipsis;
	white-space: nowrap; 
	overflow: hidden;
	font-size: 90%;
}

---------------------------------------------------------------------------------------------------------------------
 * Search Page: Search Bar
 * --------------------------------------------------------------------------------------------------------------------*/
.searchForm {
	position: absolute;
	text-align: left;
	margin: 0;
	padding: 0;
	border-spacing: 0;

	height: 2.5em;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 11;
}

.searchForm > table {
	width: 100%;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	vertical-align: middle;
	display: inline-block;
}

.searchForm td {
	padding: 0 0;
	vertical-align: middle;	
}

.searchForm input, .searchForm span, .searchForm select, .searchForm button {
	margin: 0 2px;
}

.searchForm input {
	width: 98%;
}

.searchForm .res {
	white-space: nowrap; 
	background-color: #807090; 
	color: #ffffff;
	padding: 0 5px;
	border-radius: 4px;		
}

/*----------------------------------------------------------------------------------------------------------------------
 * Search Page: Search Results
 * --------------------------------------------------------------------------------------------------------------------*/
.searchResults {
	position: absolute;
	left: 0;
	top: 2.5em;
	width: 100%;	
	bottom: 0;
}

/*----------------------------------------------------------------------------------------------------------------------
 * Multi page icon list: njsPagedList, njsPagedItem
 * --------------------------------------------------------------------------------------------------------------------*/
.njsPagedList {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
}

.njsPagedList table {
	text-align: center;
	vertical-align: middle;
	height: 100%;
	width: 100%;
}

.njsPagedList td {
	vertical-align: middle;
}

.njsPagedItem .iconview {
	text-align: center;
	height: 200px;
	width: 300px;
	margin: auto;
	font-size: 35%;
	border-radius: 4px;
	line-height: 175%;
	box-shadow: inset 0 0 0 rgba(170,170,255,0.1), 0 0 20px rgba(128,128,255,0.8);
	position: relative;
    background-color: #FFFFFF;
}

.njsPagedItem .iconview:hover {
	box-shadow: inset 0 0 10px rgba(170,0,0,0.1), 0 0 30px rgba(0,0,0,1);
}

.iconview.create {
	background: #CCCCFF;	
}

.iconview.select {
	background: #CCFFFF;	
}

.iconview.dummy, .iconview.dummy:hover {
	box-shadow: none;
    background-color: transparent;
}

.iconview > .bgImg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
}

.iconview b {
	font-size: 95%;
}

.iconview > .title {
	position: absolute;
	left: 8px;
	right: 8px;
	top: 8px;
	height: 24px;
	font-size: 140%;
}

.iconview > .icon {
	position: absolute;
	top: 52px;
	left: 8px;
	height: 100px;
	width: 100px;
}

.iconview > .desc {
	position: absolute;
	top: 40px;
	left: 116px;
	height: 125px;
	width: 176px;
	font-size: 110%;
	text-align: left;
}

.iconview > .links {
	position: absolute;
	height: 25px;
	bottom: 2px;
	left: 8px;
	right: 8px;
	font-size: 120%;
}

.icon > a{
	display: block;
	height: 100%;
	width: 100%;
}

.icon > a > img{
	position: absolute;
	display: block;
	// Commented below to keep the aspect ratio in place		
	//height: 100%;
	//width: 100%;
}

.iconview.summaryreport {
	background: #E5E5FF;	
}

.njsPagedItem .moreview {
	display: none;
}

.moreImgCls {
	background-color:#403050;
} 

.njsMoreTable {
	width: 100%;
}

/*----------------------------------------------------------------------------------------------------------------------
 * Rendering report view and SVG elements inside d3.js
 * --------------------------------------------------------------------------------------------------------------------*/
.report > .icon {
	display:none;
	
}
.report > .desc {
	position: absolute;
	top: 25px;
	left: 8px;
	height: 175px;
	width: 276px;
	font-size: 110%;
	text-align: left;
}

.axis path {
	fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis line  {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;	
}
.axis text  {
font-size: 70%;	
}
.rectGroup text {
font-size: 80%;
}

.summarizedreports {
	position: absolute;
	left: 0;
	top: 2.5em;
	width: 100%;	
	bottom: 0;		
}
	
.selectionForReport {
	position: absolute;
	text-align: left;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	height: 2.5em;
	width: 100%;
	top: 0;
	left: 0;	
	vertical-align: middle;
	display: inline-block;
}
.selectionForReport td {
	padding: 0 5px;
	vertical-align: middle;	
}

td.submitselection{
	padding: 0 5px;
	vertical-align: top;
}

/*----------------------------------------------------------------------------------------------------------------------
 * page organizer stuff
 * --------------------------------------------------------------------------------------------------------------------*/
#page_org > div {
	position: absolute;
}

#page_org_content {
	position: absolute;
	left: 1%;
	width: 96%;
	top: 1%;
	bottom: 0;
}

#page_org_header {
	position: absolute;
	top: 0;
	bottom: 90px;
	width: 100%;
}

#page_org_body {
	position: absolute;
	top: 90px;
	bottom: 0;
	width: 100%;
	overflow: auto; 
}

#page_org table {
	width: 100%;
	vertical-align: top;
}

#page_org td {
	vertical-align: top;
	padding: 5px;
	text-align: right;
}

#page_org td.done {
	text-align: center;
}

#page_org td.more {
	width: 90%;
	text-align: left;
	padding-left: 10px;
}

#page_org td.maxScore {
	padding-right: 30px;
}

#page_org tr{
	border-bottom: 1px groove black;
}

#page_org tr.normal:hover{
	background-color: #EFDFFF;
}

#page_org tr.selected, #page_org tr.selected:hover {
	background-color: #AAAAFF;
}

#page_org .bold {
	font-weight:900;
}
	
#page_org .normal {
	font-weight:400;
}

.horiz_space {
	height: 10px;
}

.njs_dialog_toolbar {
	box-shadow: inset 0 0 0 rgba(170,0,0,0.1), 0 0 10px rgba(0,0,0,1);
	border-radius: 4px;
}

.njs_dialog_toolbar > img {
	margin: 5px;
	width: 24px;
	height: 24px;
	border-radius: 4px;
}

.njs_dialog_toolbar > img:hover {
	box-shadow: inset 0 0 0 rgba(170,0,0,0.1), 0 0 10px rgba(0,0,0,1);
}

#blankScreen {
	position: fixed;
	left: 0;
	top: 0%;
	width: 100%;
	height: 100%;
	z-index: -100;
	opacity: 0;
	background: #000000;
	text-align: left;
}

#blankScreen > img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	opacity: 0;
}

/*----------------------------------------------------------------------------------------------------------------------
 * slideset level
 * --------------------------------------------------------------------------------------------------------------------*/
.njsSlides {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	max-width: 100%;

	font-size: 36px;
	font-weight: 200;
	-ms-touch-action: none;

	overflow: visible;
	z-index: 1;
	text-align: center;
}

/*----------------------------------------------------------------------------------------------------------------------
 * page level
 * --------------------------------------------------------------------------------------------------------------------*/
.njsSlides > section {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 0;

	z-index: 10;
	line-height: 1.2em;
	font-weight: inherit;
}

.njsSlides > section > .pgHolder {		
	position: absolute;
	left: 4%;
	top: 6%;
	width: 92%;
	height: 86%;
	padding: 0;
}

.njsSlides > section > .pgMask {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.njsSlides > section > .bgimg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	box-shadow: 1px 1px 5px 0 #807090;
	border-radius: 8px;
	z-index: -1;
	outline: none;
}

.njsSlides > section img {
	max-width: 100%;
	max-height: 100%;
	text-align: center;
}

div.njs_pdf_holder {
	overflow:auto; 
	height: 100%;
	line-height: 0;
	text-align: center;
}	

div.njs_pdf_holder.inline_obj {
	overflow: visible; 
	height: auto;
}	

.njs_pdf_holder .njs_pdf_waiting {
	text-align: center;
	color: #ffffff;
	background-color: #000000;
	opacity: 0.85;
	border-radius: 8px;	
	margin: 8px 0;
	padding: 8px;
	box-sizing: border-box;
	font-size: 60%;
	line-height: normal;
}

/*----------------------------------------------------------------------------------------------------------------------
 * section level
 * --------------------------------------------------------------------------------------------------------------------*/
.pgSec, .pgSec textarea {
	font-weight: 900;
}

.pgSec * {
	text-align: inherit;
}

.pgSec {
	font-size: 2em;
	display: table;
}

.pgSec .pgSecLineContainer {
	position: absolute;
	top: -2px;
	left: -2px;
	height: 1px;
	width: 1px;
	pointer-events: none;
}

.pgSec textarea {
	position: absolute;
	font-size: 0.6em;
	font-family: inherit;
	font-weight: inherit;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: none;
	border-style: none;
	border-radius: 8px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	opacity: 0.8;
	line-height: 100%;
	text-align: inherit;
	vertical-align: inherit;
	resize: none;
	display: none;
}

div.pgSecView {
	font-size: 1em;
	display: none;
}

/* nl_no_select is an optional group specific CSS class */
.nl_no_select div.pgSecView {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pgSecView .questionnaire, .pgSecView select {
	width: 100%;
	font-size: 60%;
	line-height: 100%; 
	box-sizing: border-box;
	position: absolute;
	max-height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.pgSecView input {
	width: 100%;
	font-size: 40%;
	line-height: 100%; 
}

.pgSecView select {
	padding: 0;
	border: none;
	outline: none;
}

.pgSecView textarea.questionnaire {
	opacity: 1;
	border-radius: 3px;
}

.pgSecView select.multiple, textarea.questionnaire {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	overflow-y:auto;
}

.pgSecView div.questionnaire.report {
	padding: 4px;
	border-radius: 4px;
	height: 100%;
	overflow-y:auto;
}

.pgSecView.beh_interactive {
	border-radius: 8px;
	cursor: pointer;
	box-shadow: inset 0 0 0 rgba(170,0,0,0.1), 0 0 10px rgba(200,200,200,1);
}

.pgSecView.beh_desc  {
    border-radius: 8px;
    overflow: auto;
	font-size: 0.6em;
	line-height: 100%;
    text-align: left;
}

div.positionInOrder {
	position: absolute;
	top: -5px;
	left: -5px;
	width: auto;
	height: auto;
	color: #FFFFFF;
    background-color: #005580;

    border: 1px solid #FFFFFF;
	border-radius: 50%;

	text-align: center;
	padding: 0 8px;
    font-size:40%;
	line-height: 200%;
	z-index: 1;

    cursor: pointer;
    text-decoration:none;
}

.mode_report .pgSecView {
	cursor: default;
	text-decoration: none;
}

.mode_report .pgSecView.beh_fill, .mode_report .pgSecView.beh_mark_matchselect {
	cursor: pointer;
	box-shadow: inset 0 0 0 rgba(170,0,0,0.1), 0 0 10px rgba(200,200,200,1);
}

.mode_report .pgSecView.beh_fill:hover, .mode_report .pgSecView.beh_mark_matchselect:hover {
	box-shadow: inset 0 0 0 rgba(170,0,0,0.1), 0 0 20px rgba(255,255,255,1);
}

.mode_report.bglight .pgSecView.beh_fill, .mode_report.bglight .pgSecView.beh_mark_matchselect {
	cursor: pointer;
	box-shadow: inset 0 0 0 rgba(170,0,0,0.1), 0 0 10px rgba(50,50,50,1);
}

.mode_report.bglight .pgSecView.beh_fill:hover, .mode_report.bglight .pgSecView.beh_mark_matchselect:hover {
	box-shadow: inset 0 0 0 rgba(170,0,0,0.1), 0 0 20px rgba(0,0,0,1);
}

div.line {
    position: relative; 
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    height: 2px;
    opacity: 0.9;
    z-index: 12;
    transform-origin: 0 100%;
}

div.pgSecView.selected, div.pgSecView.last_selected, textarea.selected {
	border-color: inherit;
	border-style: solid;
	background-color: #000077;
	color: #FFFFFF;
}

div.pgSecView.answer_right {
	background-color: #007700;
	color: #FFFFFF;
}

div.pgSecView.answer_wrong {
	background-color: #770000;
	color: #FFFFFF;
}

.template_error_button {
	background-color: #FF0000;
	color: #FFFFFF;
	padding: 5px;
}

div.pgSecView.answer_right.bright {
	background-color: #00FF00;
	color: #FFFFFF;
}

div.pgSecView.answer_wrong.bright {
	background-color: #FF0000;
	color: #FFFFFF;
}

.pgSecView ul, .pgSecView ol  {
	width: 85%;
}

.pgSec textarea:focus {
	opacity: 1;
	z-index: 1;
}

.pgSec iframe, .pgSec audio, .pgSec video {
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}

.pgSec iframe {
  position: absolute;
  height: 100%;
}

.pgPropAudio audio {
	position: absolute;
	bottom: 0;
	left: 25px;	
	width: 30%;
	height: 30px;
	max-width: 30%;
	max-height: 30px;
}

.pgPropAudio .autoVoice {
  position: absolute;
  bottom: 0;
  left: 25px; 
  width: 30px;
  height: 30px;
  cursor:pointer;
}

.error {
	color: red;
	padding: 5px;
	margin-bottom: 10px;
}

/*----------------------------------------------------------------------------------------------------------------------
 * MathJax specific css
 * --------------------------------------------------------------------------------------------------------------------*/
.MathJax span {
	clip: auto !important;
	pointer-events: none;
}

/*----------------------------------------------------------------------------------------------------------------------
 * Text overflow handling
 * --------------------------------------------------------------------------------------------------------------------*/
.textellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.textclip {
	text-overflow: clip;
	overflow: hidden;
}

/*----------------------------------------------------------------------------------------------------------------------
 * Dialog boxes and forms
 * --------------------------------------------------------------------------------------------------------------------*/
.njsDialog {
	position: absolute;
	top: 50%;
	left: 50%;
	right: 50%;
	bottom: 50%;
	display: none;
	border-radius: 4px;
	box-shadow: 2px 2px 10px 5px #402000;
	text-align: center;
	z-index: 22;
}

.moveBehindBlankScreen {
	/* applied to .njsDialog when another popup has to appear */
	z-index: 19;
}

.njsForm {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border-radius: 4px;
	box-shadow: 2px 2px 10px 5px #402000;
	text-align: center;
	z-index: 12;
}

.njsDialogTitle {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background-color: #E06000;
	background-image: -moz-linear-gradient(top,#E06000, #D05000);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#E06000),to(#D05000));
	background-image: -webkit-linear-gradient(top,#E06000,#D05000);
	background-image: -o-linear-gradient(top,#E06000,#D05000);
	background-image: linear-gradient(to bottom,#E06000, #D05000);
}

.njsDialogTitle > div {
	position: absolute;
	top: 0;
	left: 0;
	right: 64px;
	height: 100%;
}

.njsDialogTitle > img {
	float: right;
	height: 24px;
	width: 24px;
	margin: 8px 4px;
	cursor:pointer;
}

.njsDialogTitle > div {
	text-align: center;
	margin: 8px;
	color: #FFFFFF;
	font-size: 24px;
}

.njsDialogFields {
	position: absolute;
	top: 40px;
	bottom: 40px;
	left: 0;
	right: 0;
	background: #FFFFFF;
	overflow:auto;
	text-align: left;
}

.njsDialogFields > div {
	margin: 1%;
	width: 98%;
}

.njsDialogFields > table {
	text-align: center;
	margin: 1%;
	width: 98%;
}

.njsDialogButtons {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	text-align: right;
	border-top: 1px solid #D05000;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background: #FFFFFF;
}

.njsDialogButtons button {
	text-align: center;
	margin: 4px;
	color: #FFFFFF;
	background: #D05000;
}

.njsDialogButtons button:hover, .njsDialogButtons button:active, .njsDialogButtons button:focus {
	color: #FFFFFF;
	background: #B03000;
	text-shadow: none;
}

.njsDialogHelp {
	display: none;
	width: auto;
	z-index: 22;
}

/*----------------------------------------------------------------------------------------------------------------------
 * Dialog box fields
 * --------------------------------------------------------------------------------------------------------------------*/
.arrow {
	position: relative;
	left: 20px;
	top: 0;
	height: 0;
	width: 0;
	border-bottom: 10px solid #E5FF80;
	border-left: 10px dotted transparent;
	border-right: 10px dotted transparent;
}

.callout {
	position: relative;
	left: 0;
	top: 0;
	height: auto;
	bottom: 0;
	background-color: #E5FF80;
	color: #000000;
	border-radius: 4px;
	padding: 4px;
	width: 98%;
	margin: 0 0 4px 4px;
	text-align: left;
	box-shadow: inset 0 0 10px rgba(170,0,0,0.1), 0 0 30px rgba(0,0,0,1);
}

.dlgFieldName {
	text-align: right;
	vertical-align: top;
	padding-right: 10px;
	padding-top: 7px;
	width: 10%;
}

.dlgFieldName.mand {
	color: #FF0000;	
}

.dlgField {
	vertical-align: top;
	text-align: left;
}

.dlgField .field {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    margin: 4px;
	padding: 4px;
	width: 98%;
}

.dlgField input.field {
	height: 28px;
}

.dlgField textarea.field {
	resize:none;
}

.dlgField div.field {
	padding: 0;
}

.dlgField.mand textarea:focus, .dlgField.mand select:focus, .dlgField.mand input:focus {
	border-color: #FF00000;
	box-shadow: inset 0 0 0 rgba(170,170,255,0.1), 0 0 10px rgba(255,0,0,0.8);
}

/*----------------------------------------------------------------------------------------------------------------------
 * Dialog boxes siyled like in new infrastructure nl-max class
 * --------------------------------------------------------------------------------------------------------------------*/
.njsDialog.nl-max .njsDialogTitle > div {
    font-size: 120%;
    font-weight: 500;
    margin: 4px;
}
.njsDialog.nl-max .njsDialogTitle > img {
    margin: 4px;
}
.njsDialog.nl-max .njsDialogTitle {
    height: 32px;
}
.njsDialog.nl-max .njsDialogFields {
    top: 32px;
    bottom: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.njsDialog.nl-max .njsDialogButtons {
    display: none;
}
.full-iframe {
    top:0;
    left:0;
    height:99%;
    width:100%;
    border: none;
}

/*----------------------------------------------------------------------------------------------------------------------
 *  Quick link specific styling
 * --------------------------------------------------------------------------------------------------------------------*/
.qlRowBold {
	background-color: #F6F0FF;
}

.qlRowBold.current {
	background-color: #CCCCFF;
}

.qlRowNormal {
	border-bottom: 1px dotted #A00000;	
	display: none;
}

.qlRowNormal.visible {
	display: table-row;
}

.qlTitleBold {
	font-size: 100%;
	font-weight: 900;
	text-align: left;
}

.qlTitleNormal {
	font-size: 100%;
	font-weight: 300;
	text-align: left;
}

/*----------------------------------------------------------------------------------------------------------------------
 *  addPage/chagePageType dialog related
 * --------------------------------------------------------------------------------------------------------------------*/
#previewHolder {
	position:relative; 
	top:5%; 
	left:20%; 
	width: 60%; 
	height:70%; 
}

#previewHolder > .bgimg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	box-shadow: none;
}

#previewLayout {
	position:absolute; 
	top:6%; 
	left:4%; 
	width: 92%; 
	height:86%;
}

#previewHeader {
	position:relative; 
	left:20%; 
	width: 60%; 
	text-align: center;
}

#previewLayout > .sectionPreview {
	background-color: #000077;
	border: 1px solid white;
}

#previewLayout > .sectionPreview.interactive {
	background-color: #007700;
}

#l_layoutEditor {
	font-family: "Courier New";
	font-size: 100%;
	height: 20em;
}

/*----------------------------------------------------------------------------------------------------------------------
 *  Change Look dialog
 * --------------------------------------------------------------------------------------------------------------------*/
#changeLook_img {
	position: absolute; 
	top: 0;
	left: 0;
	height: 100%;
	width: 100%; 
	box-shadow: 1px 1px 5px 0 #807090;
	border-radius: 4px;
}

#changeLook_txt {
	position: absolute; 
	top: 40%; 
	left: 0; 
	width:100%; 
	height:20%; 
	text-align: center; 
	font-size: 200%;
}

.tvdata {
	border: 1px solid #cccccc;
	border-radius: 4px;
	padding: 8px 0;
	margin: 0 0 8px 0;	
}

/*----------------------------------------------------------------------------------------------------------------------
 *  Ask Zodi icon and do_toggle_icon
 * --------------------------------------------------------------------------------------------------------------------*/
#ask_zodi_icon, #do_toggle_icon {
	display: none;
}

/*----------------------------------------------------------------------------------------------------------------------
 *  Template (look) Specific CSS Classes
 * --------------------------------------------------------------------------------------------------------------------*/

 /* Template stuff: default colors are similar to dark bg*/
.pgSec textarea, .pgSec select, .pgSecView.beh_interactive, .pgSecView div.questionnaire.report {
	box-shadow: 0 0 5px rgba(200,200,255,0.8);
}

.pgSec textarea:hover, .pgSec select:hover, .pgSecView.beh_interactive:hover {
	box-shadow: 0 0 8px rgba(200,200,255,0.8);
}

.pgSec textarea:focus, .pgSec select:focus, .pgSec input:focus, .pgSecView.beh_interactive:focus {
	box-shadow: 0 0 10px rgba(150,150,255,1);
}

.pgSec select, .pgSec select option {
	background: none;
	font-size: 3vh;
}

.pgSec, .pgSec textarea.pgSecText, .pgSec textarea.questionnaire, .pgSec select {
	color: #FFFFFF;
}

.pgSec textarea {
	-webkit-appearance: none;
}

.pgSec a {
	text-decoration: underline;
	color: #AAAAFF;
}

.pgSec a:hover {
	color: #8888FF;
}

.pgSec textarea.pgSecText:focus, .pgSec textarea.questionnaire:focus, .pgSec select:focus {
	background: #000033;
}

.bgdark a {
	color: #AAAAFF;
}

.bgdark a:hover {
	color: #8888FF;
}

#changeLook_txt.bgdark {
	color: #FFFFFF;
}

/* Light BG (.bglight) stuff */
.bglight .pgSec, 
.bglight .pgSec textarea.pgSecText, .bglight .pgSec textarea.questionnaire, .bglight .pgSec select {
	color: #000000;
}

.bglight .pgSec a {
	color: #333366;
}

.bglight .pgSec a:hover {
	color: #666699;
}

.bglight .pgSec textarea.pgSecText:focus, .bglight .pgSec textarea.questionnaire:focus, .bglight .pgSec select:focus {
	background: #CCCCFF;
}

.bglight h1, .bglight h2, .bglight h3, .bglight h4, .bglight h5, .bglight h6 {
	color: #333366;
}

.bglight .pgSec textarea, .bglight .pgSec select, .bglight .pgSecView.beh_interactive, .bglight .pgSecView div.questionnaire.report {
	box-shadow: 0 0 5px rgba(100,100,150,0.8);
}

.bglight .pgSec textarea:hover, .bglight .pgSec select:hover, .bglight .pgSecView.beh_interactive:hover {
	box-shadow: 0 0 8px rgba(50,50,100,0.8);
}

.bglight .pgSec textarea:focus, .bglight .pgSec select:focus, .bglight .pgSec input:focus, .bglight .pgSecView.beh_interactive:focus {
	box-shadow: 0 0 10px rgba(50,50,100,1);
}

#changeLook_txt.bglight {
	color: #000000;
}

/*
 * Standard styling available for all groups - to be embedded inside the content
 * <i class='red bold'>Your text</i>
 */

/* Some colors */
i.red {
    font-style: normal;
    color: #FF0000;
}

i.maroon {
    font-style: normal;
    color: #80000;
}

i.orange {
    font-style: normal;
    color: #E06000;
}

i.green {
    font-style: normal;
    color: #008000;    
}

i.lime {
    font-style: normal;
    color: #00FF00;    
}

i.blue {
    font-style: normal;
    color: #0000FF;
}

i.indigo {
    font-style: normal;
    color: #4B0082;    
}

i.yellow {
    font-style: normal;
    color: #FFFF00;    
}

i.bold {
    font-style: normal;
    font-weight: 900;
}

/* Fixing font size in pixels */
i.fsize48 {
    font-style: normal;
    font-size: 48px;
}

i.fsize40 {
    font-style: normal;
    font-size: 40px;
}

i.fsize32 {
    font-style: normal;
    font-size: 32px;
}

i.fsize24 {
    font-style: normal;
    font-size: 24px;
}

i.fsize16 {
    font-style: normal;
    font-size: 16px;
}

/* Fixing relative font sizes */
i.size50 {
    font-style: normal;
    line-height: 100%;
    font-size: 50%;
}

i.size60 {
    font-style: normal;
    line-height: 100%;
    font-size: 60%;
}

i.size70 {
    font-style: normal;
    line-height: 100%;
    font-size: 70%;
}

i.size80 {
    font-style: normal;
    line-height: 100%;
    font-size: 80%;
}

i.size90 {
    font-style: normal;
    line-height: 100%;
    font-size: 90%;
}

i.size110 {
    font-style: normal;
    line-height: 100%;
    font-size: 110%;
}

i.size120 {
    font-style: normal;
    line-height: 100%;
    font-size: 120%;
}

i.size130 {
    font-style: normal;
    line-height: 100%;
    font-size: 130%;
}

i.size140 {
    font-style: normal;
    line-height: 100%;
    font-size: 140%;
}

i.size150 {
    font-style: normal;
    line-height: 100%;
    font-size: 150%;
}

i.size200 {
    font-style: normal;
    line-height: 100%;
    font-size: 200%;
}

i.size250 {
    font-style: normal;
    line-height: 100%;
    font-size: 250%;
}

i.size300 {
    font-style: normal;
    line-height: 100%;
    font-size: 300%;
}

i.size400 {
    font-style: normal;
    line-height: 100%;
    font-size: 400%;
}

i.size500 {
    font-style: normal;
    line-height: 100%;
    font-size: 500%;
}

/* Font-families */
i.verdana { 
    font-style: normal;
    font-family: Verdana,Geneva,sans-serif; 
}

i.trebuchet { 
    font-style: normal;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
}

i.geneva { 
    font-style: normal;
    font-family: Geneva,Tahoma,Verdana,sans-serif; 
}

i.arial { 
    font-style: normal;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

i.courier_new { 
    font-style: normal;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
}

i.papyrus { 
    font-style: normal;
    font-family: Papyrus,fantasy; 
}

i.brush { 
    font-family: Brush Script MT,cursive; 
}

i.comic_sans { 
    font-style: normal;
    font-family: "Comic Sans MS";
}

/* Finally italics for the i*/
i.italic {
    font-style: italic;
}
