<div class='nl-dlg-field-value'>
	<div class="nl-thumbnail-container">
		<div class="nl-thumbnail">
			<div class='nl-thumbnail-img'><img ng-src='{{imgBasePath}}plus.png'/></div>
			<input type='file' class='{{fieldcls}}' tabindex='{{tabindex}}'
				   autofocus='' multiple='' accept="image/*">
			<div class="nl-thumbnail-txt"> Add image </div>
		</div>
	</div>
	<div ng-if='fileInfo.content != null' ng-repeat="fileInfo in $parent.data[fieldmodel]"
		 class="nl-thumbnail-container">
		<div class="nl-thumbnail">
			<div class='nl-thumbnail-img' ng-click='imgClick(fileInfo, fileInfo.file.name)'><img ng-src="{{fileInfo.content}}"/ ></div>
			<div class="nl-thumbnail-txt">{{fileInfo.file.name}}</div>
		</div>
	</div>
</div>