<style>
.image-top-button {
    position: relative;
    left: -20px;
}

</style>

<div class='row row-top margin0'
	 ng-keypress='onKeypress($event, fieldmodel)'
	 ng-click='onFieldClick($event, fieldmodel)'>
    <div class='padding-mid'>
    	<img ng-show='$parent.data[fieldmodel]'
    		 ng-src='{{$parent.data[fieldmodel]}}'
    		 class='nl-100 nl-link-img'>
	</div>
	<span class='image-round-button nl-link-img {{$parent.data[fieldmodel] ? "image-top-button" : ""}}' 
		tabindex='{{fieldindex}}'>
	    <i class='icon ion-edit nl-dlg-field-icon fsh4'></i>
	</span>
	<span>&nbsp;</span>
	<span class='image-round-button image-top-button nl-link-img'>
        <i ng-show='canclear == "1" && $parent.data[fieldmodel]'
           class='icon ion-ios-close nl-dlg-field-icon forange2'
           ng-click='onFieldClear($event, fieldmodel)'>
        </i>
	</span>
</div>		
