<div class='nl-dlg-field-value'>
	<div style='position: relative'>
	    <select ng-model='$parent.data[fieldmodel]' 
	    		ng-change='onFieldChange(fieldmodel)'
	            ng-options='elem as elem.name group by elem.group for elem in $parent.options[fieldmodel] track by elem.id'
	            class='{{fieldcls}}'
	            autofocus=''
	            tabindex="{{fieldindex}}">
	    </select>
	    <div class='nl-input-on-select'>
	    	<input type='text' ng-model='$parent.data[fieldmodel2]'
	    		   ng-change='onFieldChange(fieldmodel2)'
	    		   autofocus=''
	    		   tabindex="{{fieldindex}}"/>
	    </div>
	</div>
    <div ng-show='$parent.error[fieldmodel]' class='nl-dlg-field-errormsg'>{{$parent.error[fieldmodel]}}</div>
</div>
