<style>

</style>

<div class='row row-center margin0 padding-small' style='height:36px'>
    <div class='{{canSort() ? "nl-link-text" : ""}}'
        ng-click="toggleDropDown()">
        <span>{{getVisibleString()}}</span>
    </div>
    <div class='padding-small'></div>
    <div class='{{canShowPrev() ? "nl-link-text-nav" : "fgrey"}} nl-nav-arrow'>
        <span style='padding-left: 8px' title='Prev'
            ng-click='onClickOnPrev()'>
            <i class="icon ion-ios-arrow-back bold fsh5"></i>
        </span> 
    </div>
    <div class='padding-small'></div>
    <div class='{{canShowNext() ? "nl-link-text-nav" : "fgrey"}} nl-nav-arrow'>
        <span style='padding-left: 12px' title='Next'
            ng-click='onClickOnNext()'>
            <i class="icon ion-ios-arrow-forward bold fsh5"></i>
        </span> 
    </div>
</div>
<div ng-if='canShowDropdown()'
    style='position:absolute; top: auto; width: auto; border: 1px solid #A0A0C0; background-color:#f5f5f5'>
    <div class='row row-center margin0 padding-mid nl-link-text'
        style='height:36px; border-bottom: 1px solid  #CCCCDD'
        ng-repeat='opt in options'
        ng-click='sortBasedOn(opt)'>
        {{opt.name}}
    </div>
</div>
