<style>
</style>

<div class='row row-center margin0 padding-small' style='height:36px'>
    <div class='{{canSort() ? "nl-nav-text" : ""}}'
        style='background-color: {{canShowDropdown() ? "#CCCCDD" : ""}}'
        ng-click="toggleDropDown()">
        <span>{{getVisibleString()}}</span>
    </div>
    <div class='padding-small'></div>
    <div class='{{canShowPrev() ? "nl-nav-button" : "fgrey"}} nl-nav-arrow'>
        <span style='padding-left: 8px' title='Prev'
            ng-click='onClickOnPrev()'>
            <i class="icon ion-ios-arrow-back bold fsh5"></i>
        </span> 
    </div>
    <div class='padding-small'></div>
    <div class='{{canShowNext() ? "nl-nav-button" : "fgrey"}} nl-nav-arrow'>
        <span style='padding-left: 12px' title='Next'
            ng-click='onClickOnNext()'>
            <i class="icon ion-ios-arrow-forward bold fsh5"></i>
        </span> 
    </div>
</div>
<div ng-if='canShowDropdown()' style='padding-left: 4px'>
    <div class='nl-nav-dropdown'>
        <div class='row row-center margin0 nl-nav-dropdown-option'
            ng-repeat='opt in options'
            ng-click='sortBasedOn(opt)'>
            {{opt.name}}
        </div>
    </div>
</div>
