<style>
	.nl-sep8{
		padding: 8px;
	}
	.nl-time-input-div {
		padding: 5px 3px 5px 9px;
	}

	.nl-time-input {
		border-radius: 4px;
		padding: 2px 8px 1px 8px;
		background-color: #EEEEFF;
		margin: 0;
		min-height: 34px;
		border-width: 0;
	}

	.nl-time-icon {
		text-align: right;
		font-size: 24px;
		padding: 2px 2px;
		cursor: pointer;
	}
	
	.nl-dlg-course-help{
		  background-color: #E5FF80;
		  border-radius: 4px;
		  padding: 10px;
		  margin-left: 4px;
		  margin-top: 4px;
		  box-shadow: inset 0 0 10px rgba(170,0,0,0.1), 0 0 20px rgba(0,0,0,1);
		  display: block;
	}
	
	.nl-desc-padding{
		padding-left: inherit;
		padding-bottom: inherit;
	}
	
	.nl-course-module-select{
		padding-left: 8px;
		padding-top: 4px;
	}
	
	.nl-course-textarea{
		padding: 5px;
	}
</style>
<div ng-show='ext.item.type == "module"' class='padding-mid fsh3'>
    <b>Total items</b>: {{ext.stats.total}}
</div>
<div ng-show='ext.item.id == "_root"' class='padding-mid'>
    <table class='nl-table nl-table-styled'>
        <tr ng-repeat='attr in course_attributes'>
            <td>{{attr.key}}</td><td>{{attr.val}}</td>
        </tr>
    </table>
</div>
<div ng-show='ext.item.id != "_root"' class='padding-mid'>
	<div class='row row-center row-wrap margin0 padding-top' ng-repeat='attr in module_attributes' ng-if='attr.type !== "additional" && (ext.item.type == attr.fields ||  attr.fields =="all" || (ext.item.type !== "module" && attr.fields == "not_module") || ((ext.item.type == "info" || ext.item.type == "link") && attr.fields == "infolink"))'>
		<div ng-class='resp2Col33' class='nl-desc-padding'>{{attr.text||attr.name}}</div>
        <div ng-class='resp2Col67' 
        	 ng-if='attr.type === "date"' class='nl-time-input-div'>
        	 <div class='nl-time-input nl-link-text' 
        	 	  ion-datetime-picker ng-model="ext.item[attr.name]" 
        	 	  ng-focus="focus=true" ng-blur="focus=false">
                <div class='row row-center margin0 padding0'>
                    <div class='col col-80 w100 nl-desc-padding'>{{ext.item[attr.name] | date: "yyyy-MM-dd"}}</div>
                    <i class='col col-20 icon ion-android-time nl-time-icon'></i>
                </div>
            </div>
			<div ng-show='focus' class='row row-center nl-dlg-course-help'>
				<div class='resp2Col100'>
					{{attr.help}}
				</div>
			</div>
		</div>

		<div ng-class='resp2Col67'
        	 ng-if='attr.type === "readonly"'>
			<input type='text' ng-model='ext.item[attr.name]' class='w100' readonly ng-focus="focus=true" ng-blur="focus=false">
			<div ng-show='focus' class='row row-center nl-dlg-course-help'>
				<div class='resp2Col100'>
					{{attr.help}}
				</div>
			</div>
		</div>

		<div ng-class='resp2Col67'
        	 ng-if='attr.type === "list"'
        	 class='nl-course-module-select'>
		 	<select ng-model='ext.item[attr.name]' 
					class='w100 nl-grade-search'
		            ng-options='opt for opt in attr.values' ng-focus="focus=true" ng-blur="focus=false"> 
		    </select>			    
			<div ng-show='focus' class='row row-center nl-dlg-course-help'>
				<div class='resp2Col100'>
					{{attr.help}}
				</div>
			</div>
		</div>
		<div ng-class='resp2Col67'
        	 ng-if='attr.type === "string"'>
			<input type='text' ng-model='ext.item[attr.name]' class='w100' ng-focus="focus=true" ng-blur="focus=false">
			<div ng-show='focus' class='row row-center nl-dlg-course-help'>
				<div class='resp2Col100'>
					{{attr.help}}
				</div>
			</div>
		</div>

		<div ng-class='resp2Col67'
        	 ng-if='attr.type === "object"'>
			<textarea rows="5" nl-course-json-text ng-model='ext.item[attr.name]' class='nl-course-textarea w100' ng-focus="focus=true" ng-blur="focus=false"></textarea>
			<div ng-show='focus' class='row row-center nl-dlg-course-help'>
				<div class='resp2Col100'>
					{{attr.help}}
				</div>
			</div>
		</div>
 
        <div ng-class='resp2Col67' 
        	 ng-if='attr.type === "lessonlink"'>
            <div class='row row-center'>
                <input class='col col-90 w100 nl-desc-padding nl-time-input' ng-model='ext.item[attr.name]' ng-focus="focus=true" ng-blur="focus=false">
                <i class='col col-10 icon ion-android-open nl-time-icon' ng-click='onLaunch($event, ext.item)'></i>
            </div>
			<div ng-show='focus' class='row row-center nl-dlg-course-help'>
				<div class='resp2Col100'>
					{{attr.help}}
				</div>
			</div>
		</div>
		
		
    </div>
    <div class='row row-top row-wrap margin0 padding-top'>
        <div class='col padding-small min-200'>
             <button class='button button-positive button-small w100'
                     ng-click='showAddInfo($event, ext.item)'>
                     <span ng-if='showAddInform'>Hide additional fields</span>
                     <span ng-if='!showAddInform'>Show additional fields</span>
             </button>
        </div>
    </div>

	<div ng-show='ext.item.id != "_root" && showAddInform' class='padding-mid'>
		<div class='row row-center row-wrap margin0' ng-repeat='attr in additional_Attributes'>
			<div ng-class='resp2Col33' class='nl-desc-padding'>{{attr.text||attr.name}}</div>
			<div ng-class='resp2Col67'
	        	 ng-if='attr.type === "additional"'>
				<input type='text' ng-model='ext.item[attr.name]' class='w100' ng-focus="focus=true" ng-blur="focus=false">
				<div ng-show='focus' class='row row-center nl-dlg-course-help'>
					<div class='resp2Col100'>
						{{attr.help}}
					</div>
				</div>
			</div>
        </div>
	</div>

</div>
