<div class='nl-toolbar margin0 padding-small'>
    <span title='Download as CSV'
          ng-hide='mode != MODES.REPORTS_SUMMARY_VIEW'
          class='nl-toolbar-icon'
          ng-click='export()'>
        <i class="icon ion-ios-cloud-download"></i>
    </span>
    <img title='Collapse all'
         ng-hide='isTreeCollapsed'
         class='nl-24 nl-clickable'
         ng-src='{{imgBasePath + "up.png"}}'
         ng-click='collapseAll()'/>
    <img title='{{expandViewText}}'
         class='nl-24 nl-clickable'
         ng-src='{{expandViewIcon}}' 
         ng-click='expandViewClick()'/>
    <img title='Discussion forum'
         ng-show='forumInfo.refid'
         class='nl-24 nl-clickable'
         ng-src='{{imgBasePath + "toolbar-view/discuss.png"}}'
         ng-click='launchForum()'/>
    <img title='Add'
         ng-show='mode == MODES.EDIT'
         class='nl-24 nl-clickable'
         ng-src='{{imgBasePath + "toolbar-edit/addpage.png"}}'
         ng-click='addContent()'/>
</div>
<div class='nl-thin-scroll nl-full-withtoolbar'>
	<table class='nl-table nl-table-styled'>
		<tr ng-show='expandedView'>
			<th>Module</th>
			<th ng-if='mode == MODES.EDIT'>Id</th>
			<th ng-if='planning == true'>Plan</th>
			<th>Summary</th>
		</tr>
		<tr ng-repeat='cm in modules'>
			<td ng-click='onClick($event, cm, false)' ng-style='cm.indentationStyle'>
				<span>&nbsp;</span>
				<img class='nl-icon' ng-class='{"nl-clickable": cm.clickable}' ng-src='{{getIcon(cm)}}'>
	            <img ng-if='cm.launchable'
	                 class='nl-icon nl-clickable'
	                 ng-src='{{getNewTabIcon()}}'
	                 ng-click='onClick($event, cm, true)'>
				<span class='nl-cv-details' ng-class='{"nl-clickable": cm.clickable}'>{{cm.name}}</span>
			</td>
			<td ng-if='expandedView && mode == MODES.EDIT'>{{cm.id}}</td>
			<td ng-if='expandedView && (planning == true)'>{{cm.planned_date_str}}</td>
			<td ng-if='expandedView && (mode == MODES.PRIVATE || mode == MODES.EDIT || mode == MODES.PUBLISHED)'>
				<img class='nl-24' ng-if='cm.statusIcon' ng-src='{{cm.statusIcon}}'>
				<span ng-show='expandedView'>{{cm.statusText}}</span>
			</td>
			<td ng-if='mode == MODES.REPORTS_SUMMARY_VIEW || mode == MODES.REPORT_VIEW || mode == MODES.DO'>
				<img class='nl-24 nl-clickable' ng-click='onClickOnSummary(cm)' ng-if='cm.statusIcon && (cm.type=="module" || cm.type=="lesson")' ng-src='{{cm.statusIcon}}'>
				<span class='nl-clickable' ng-click='onClickOnSummary(cm)' ng-if='expandedView && (cm.type=="module" || cm.type=="lesson")'>{{cm.statusText}}</span>
				<img class='nl-24 nl-clickable' ng-click='onClickOnSummary(cm)' ng-if='cm.statusIcon && (cm.type=="info" || cm.type=="link")' ng-src='{{cm.statusIcon}}'>
				<span ng-if='expandedView && (cm.type=="info" || cm.type=="link")' ng-click='onClickOnSummary(cm)' class='nl-clickable'>{{cm.statusText}}</span>
			</td>
		</tr>
	</table>
</div>