<style>
	.nl-cv-indent {
		padding: 0 0.6em;
	}
</style>

<div class='nl-thin-scroll nl-full'>
	<table class="nl-table nl-table-styled">
		<tr ng-repeat="cm in content" ng-show="cm.visible">
			<td ng-click='onClick(cm)' class=''>
				<span class='nl-cv-indent' ng-repeat="x in getIndentation(cm)"></span>
				<img class='nl-icon nl-clickable' ng-src='{{getIcon(cm)}}'>
				<span class='nl-cv-details nl-clickable'>{{cm.name}}</span>
			</td>
			<td class='nl-center' ng-if='showStatusIcon'>
				<img ng-if='cm.statusIcon' ng-src='{{cm.statusIcon}}'>
			</td>
            <td>
                <span ng-if='cm.statusText'>{{cm.statusText}}</span>
            </td>
		</tr>
	</table>
</div>