<style>
    .ce-input-div {
        background-color: #FFFFFF;
        border: 1px solid #DDDDFF;
        border-radius: 0px;
    }
</style>

<nl-inline-help ng-show='editor.showHelp'>
    When you click on any of the fields below, you will see context specific help for that field.
    Click on the help icon in the tool bar above to disable the context specific help.
</nl-inline-help>

<div ng-show='ext.item.type == "module"' class='padding-mid fsh3'>
    <b>Total items</b>: {{ext.stats.total}}
</div>
<div ng-show='ext.item.id == "_root"' class='padding-mid'>
    <table class='nl-table nl-table-styled'>
        <tr ng-repeat='attr in editor.course_attributes'>
            <td>{{attr.key}}</td><td>{{attr.val}}</td>
        </tr>
    </table>
</div>
<div ng-show='ext.item.id != "_root"' class='padding-mid'>
	<div class='row row-center row-wrap margin0 padding-top'
	     ng-repeat='attr in editor.module_attributes'
	     ng-if='attr.type !== "additional" && attr.fields.indexOf(ext.item.type) >= 0'>

        <div class='w100 nl-link-text padding-mid' 
             ng-if='attr.type === "group"'
             ng-click='editor.showGroup[attr.name] = !editor.showGroup[attr.name]'
             tabindex='0'
             ng-keypress='$event.keyCode == 32 ? editor.showGroup[attr.name] = !editor.showGroup[attr.name] : ""'>
            <span class='fsh3'>
                <i ng-show='editor.showGroup[attr.name]' class="icon ion-android-checkbox-outline"></i>
                <i ng-hide='editor.showGroup[attr.name]' class="icon ion-android-checkbox-outline-blank"></i>
                {{attr.text||attr.name}}
            </span>
        </div>

		<div ng-if='attr.type !== "group" && (!attr.group || editor.showGroup[attr.group])'
		     ng-class='resp2Col33'
		     class='padding-mid'>{{attr.text||attr.name}}</div>
        <div ng-class='resp2Col67'
             ng-if='attr.type === "string" && (!attr.group || editor.showGroup[attr.group])'
             class='nl-dlg-field-value'>
            <input ng-model='ext.item[attr.name]' class='w100' type='text'
             ng-focus="attr.focus=true" ng-blur="attr.focus=false">
        </div>
        <div ng-class='resp2Col67'
             ng-if='attr.type === "readonly" && (!attr.group || editor.showGroup[attr.group])'
             class='nl-dlg-field-value'>
            <input ng-model='ext.item[attr.name]' class='w100' readonly type='text'
             ng-focus="attr.focus=true" ng-blur="attr.focus=false">
        </div>
        <div ng-class='resp2Col67'
             ng-if='attr.type === "list" && (!attr.group || editor.showGroup[attr.group])'
             class='nl-dlg-field-value'>
            <select ng-model='ext.item[attr.name]' 
                    class='w100'
                    ng-options='opt as (opt | nlConvert:editor.typeNames) for opt in attr.values'
                    ng-focus="attr.focus=true" ng-blur="attr.focus=false">
            </select>               
        </div>
        
        <div ng-class='resp2Col67'
             ng-if='attr.type === "boolean" && (!attr.group || editor.showGroup[attr.group])'
             class='nl-link-text padding-mid'
             ng-click='ext.item[attr.name] = !ext.item[attr.name]'
             ng-focus="attr.focus=true" ng-blur="attr.focus=false"
             tabindex="0"
             ng-keypress='$event.keyCode == 32 ? ext.item[attr.name] = !ext.item[attr.name] : ""'>
            <span>
                <i ng-show='ext.item[attr.name]' class="icon ion-android-checkbox-outline"></i>
                <i ng-hide='ext.item[attr.name]' class="icon ion-android-checkbox-outline-blank"></i>
                {{attr.text||attr.name}}
            </span>
        </div>

        <div ng-class='resp2Col67' 
        	 ng-if='attr.type === "date" && (!attr.group || editor.showGroup[attr.group])'
        	 class='nl-dlg-field-value'>
        	 <div class='nl-link-text ce-input-div' 
        	 	  ion-datetime-picker ng-model="ext.item[attr.name]" 
        	 	  ng-focus="attr.focus=true" ng-blur="attr.focus=false"
        	 	  tabindex="0">
                <div class='row row-center margin0 padding0'>
                    <div class='col'>{{ext.item[attr.name] | date: "yyyy-MM-dd"}}</div>
                    <i class='icon ion-android-time fsh4 padding-small'></i>
                </div>
            </div>
		</div>
        <div ng-class='resp2Col67'
             ng-if='attr.type === "text" && (!attr.group || editor.showGroup[attr.group])'
             class='nl-dlg-field-value'>
            <textarea rows="5" ng-model='ext.item[attr.name]'
                      class='w100'
                      ng-focus="attr.focus=true" ng-blur="attr.focus=false">
            </textarea>
        </div>
        <div ng-class='resp2Col67'
             ng-if='attr.type === "object" && (!attr.group || editor.showGroup[attr.group])'
             class='nl-dlg-field-value'>
            <textarea rows="5" nl-object-to-json ng-model='ext.item[attr.name]'
                      class='w100'
                      ng-focus="attr.focus=true" ng-blur="attr.focus=false">
            </textarea>
        </div>
        <div ng-class='resp2Col67' 
        	 ng-if='attr.type === "lessonlink" && (!attr.group || editor.showGroup[attr.group])'
        	 class='nl-dlg-field-value'>
            <div class='row row-center padding0 margin0'>
                <input class='col' 
                 ng-model='ext.item[attr.name]' type='text'
                 ng-focus="attr.focus=true" ng-blur="attr.focus=false">
                <i class='icon ion-android-open fsh4 padding-small nl-link-img'
                   ng-click='onLaunch($event, ext.item)'></i>
            </div>
		</div>
        <nl-inline-help class='w100' ng-show='attr.focus && editor.showHelp'>
            {{attr.help}}
        </nl-inline-help>
    </div>
</div>
