<div class='nl-thin-scroll'>
    <style>
        @media print {
            @page {
                size: A4 landscape;
                margin: 1mm;
                margin-top: 21mm;
                margin-bottom: 21mm;
            }
        }
        .cert {
            position: relative;
        }
        .minbgimg {
        	min-height: 90vh;
            width: 100%;
        }
        .certlogo {
            position: absolute;
            top: 0;
            height: 15%;
            left: 0;
            width: 100%;
        }
        .content {
            position: absolute;
            top: 10%;
            left: 10%;
            width: 80%;
            height: 90%;
            overflow: hidden;
            font-family: Times New Roman, Verdana, Helvetica, Arial, sans-serif;
            text-align: center;
        }

        .nl-screen-small .content {
            font-size: 90%;
        }

        .nl-screen-medium .content {
            font-size: 120%;
        }

        @media print {
            .content {
                font-size: 180% !important;
            }
        }

        .nl-screen-large .content {
            font-size: 180%;
        }

        .dont-print {
            position: relative;
        }
        
        .fmttitle {
        }
    
        .fmtttext {
        }
    
        .fmtuser {
            font-style: italic;
            font-weight: 900;
            font-size: 130%;
        }
        
        .sample {
        	color: red;
        }
    
        .fmtdate {
        }
    
        .fmtcourse {
            font-weight: 900;
        }
    
    </style>
    <div ng-if='available'
         class='cert'>
         <div ng-if='!bgimg' class='minbgimg'></div>
         <img ng-if='bgimg' class='minbgimg' ng-src='{{bgimg}}'>
         <div ng-if='certlogo' class='certlogo text-center'>
            <img ng-src='{{certlogo}}' style='max-height: 100%; max-width: 100%'>
         </div> 
         <div class='content row row-center margin0 padding0'>
            <div class='col padding0 margin0'>
                <p class='fmttitle'>This is to certify that</p>
                <p class='fmtuser {{sample ? "sample": ""}}'>{{userName}}</p>
                <p class='fmttext'>
                    has successfully completed the online training module 
                </p>
                <p class='fmtcourse'>{{courseName}}</p>
                <p class='fmttext'>
                    <span ng-show='avgQuizScore'> with a score of {{avgQuizScore}}% </span>
                    on <span class='fmtdate {{sample ? "sample": ""}}'>{{completionTime | date : 'dd-MMMM-yyyy'}}</span>.
                </p>
            </div>
         </div>
    </div>
    <div ng-if='available && !isTouchDevice'
         class='dont-print padding-mid'>
        <div class='padding-mid'>
            <p>You could print or save as PDF. For a pretty print, you could use the below print options:</p>
            <ul>
                <li>Set print layout to <b>landscape</b></li>
                <li>Set paper size to <b>A4</b></li>
            </ul>
            <p>Look at the preview before saving as PDF or printing.</p>
        </div>
        <div class='padding-mid text-center'>
            <button class='nl-button w100' ng-click='onPrint()'>Print</button>
        </div>
    </div>
    <div ng-show='available && canShowMobileDownloadBtn' class='padding-mid'>
        <div class='padding-mid text-center'>
            <button class='nl-button w100' ng-click='onScreenshot()'>Download</button>
        </div>
    </div>

    <div ng-if='!available'
         class='cert'>
        <h3>Error</h3>
        <p>Your certificate cannot be generated at the moment!</p>
    </div>
</div>
