<div class='section bgwhite'>
	<div class='nl-sp-bg-img'></div>
    <div class='fsh2 w100 text-center fblue padding-vertical'>
        Pricing
    </div>
    <div class='row'>
        <div class='col'>
            <div class='row row-top row-stretch padding-small sp-border-bottom margin0'>
                <div class='col fsh5 fblue text-right'>
                    <i class="icon ion-ios-arrow-back fsh1 nl-link-text padding-small"
                       ng-show='content.slabSlider.canSlideDown'
                       ng-click='callFn("slabSlideDown")'></i>
                    <i style='padding-right: 19px'></i>
                </div>
                <div class='col bgdark bgbox-content fwhite text-center padding-small'
                     ng-repeat='slab in content.pricing_slabs'
                     ng-show='content.slabSlider.shown[$index]'>
                    <div class='padding-small'>
                        <div class='fsh3'>{{slab.name}}</div>
                        <div class='fsh5'>{{slab.price}}</div>
                        <div class=''>{{slab.billing}}</div>     
                    </div>
                </div>
            </div>
            <div class='row row-top row-stretch padding-small sp-border-bottom margin0'>
                <div class='col padding-small fsh5 fblue'>Users</div>
                <div class='col text-center padding-small'
                     ng-repeat='slab in content.pricing_slabs'
                     ng-show='content.slabSlider.shown[$index]'>
                    <div class='fsh4 fblue'>{{slab.users}}</div>
                </div>
            </div>
            <div class='row row-top row-stretch padding-small sp-border-bottom margin0'
                 ng-repeat='p in content.pricing_attrs'>
                <div class='col padding-small fsh6'>{{p}}</div>
                <div class='col text-center padding-small'
                     ng-repeat='slab in content.pricing_slabs'
                     ng-show='content.slabSlider.shown[$index]'>
                    <div>
                        <span ng-show='slab.attrs[$parent.$index] != "tick"'>
                            {{slab.attrs[$parent.$index]}}
                        </span>
                        <i ng-show='slab.attrs[$parent.$index] == "tick"'
                           class="icon ion-checkmark-round fgreen bold">
                        </i>
                    </div>
                </div>
            </div>
        </div>
        <div class='col fixed-100' ng-hide='screenSize == "large"'>
            <div class='row row-top row-stretch padding-small margin0'>
                <div class='col fsh5 fblue'>
                    <i class="icon ion-ios-arrow-forward fsh1 text-right nl-link-text padding-small"
                               ng-show='content.slabSlider.canSlideUp'
                       ng-click='callFn("slabSlideUp")'></i>
                </div>
            </div>
        </div>
    </div>
</div>
