<style>
    .l-bg-black {
        background-color: rgba(0, 0, 0, 0.3);
        color: #FFFFFF;
    }
    .l-bg-black2 {
        background-color: rgba(0, 0, 0, 0.4);
        color: #FFFFFF;
    }
    .l-bg-blue {
        background-color: rgba(0, 0, 77, 0.3);
        color: #FFFFFF;
    }
    
    .landing_ticker {
        min-height: 2.5em;
        font-weight: bold;
        font-size: 90%;
        color: #FFCC00;
    }

    .landing-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background-size: cover;
        background-image: url({{content.landingBgImage}});
    }
    .landing-bg-video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 1;
        object-fit: cover;
    }

    .landing-request-button {
        font-family: Lato, Verdana, Helvetica, Arial, sans-serif;
        font-size: 75%;
        border: 3px solid white;
        border-radius: 4px;
        color: #FFCC00;
        background-color: transparent;
        background-color: rgba(0, 163, 204, 0.8);
    }
    .landing-request-button:hover {
        color: #FFFFFF;
    }   

    .landing-video-button {
        border-radius: 50%;
        padding: 5px 15px 5px 20px;
        background-color: #999999;
        border: 4px solid white;
        color: #FFFFFF;
        opacity: 0.9;
    }
    .landing-video-button:hover {
        background-color: #AAAAAA;
        border-color: #DDDDDD;
        color: #FFFFFF;
        opacity: 1;
    }
    .landing-video-button .icon:before {
        font-size: 50px;
        line-height: 60px;
    }
    .landing-video-overlay {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        height: 90vh;
        background-color: #000000;
        border: 2px solid white;
        border-radius: 2px;
    }
    .landing-video-overlay-close {
        position: absolute;
        top: -10px;
        right: -10px;
        border-radius: 50%;
        background-color: #777777;
        padding: 1px 5px 3px 5px;
    }
    
    .landing-video-frame {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
</style>

<div class='section {{content.pageBgClass}} vh100'>
    <div class='nl-sp-bg-img'
         ng-if='!content.landingBgImage'>
    </div>
    <div class='landing-bg-img'
         ng-if='content.landingBgImage'>
    </div>
         
    <video class='landing-bg-video'
           ng-if='content.landingBgVideo'
           autoplay="autoplay" height="100%" loop preload>
           <source ng-repeat='v in content.landingBgVideo'
                   ng-src='{{v.src}}' ng-type='{{v.typ}}'>
           </source>
    </video>
    <nl-sp-menu></nl-sp-menu>
    <div class='row row-center row-wrap vh90'>
        <div class='fsh3 text-center padding w100'>
            <div ng-show='screenSize == "small"'
                 class='text-center padding w100'>
                <img ng-src='{{baseResUrl}}/nittiologowhite.png'
                   alt='Nittio Learn - {{content.commonMsg}}'
                   title='Nittio Learn - {{content.commonMsg}}'
                   style='height: 28px'/>
            </div>
            <p class='{{content.title1Cls}}'>{{content.title1}}</p>
            <p class='fsh5'>{{content.title2}}</p>
            <p ng-if='content.landingTicker' class='landing_ticker'>{{content.ticker}}</p>
            </br>
            <div class='padding'>
                <span title='Watch video'
                      class='button landing-video-button'
                      ng-click='visitorManager.watchVideo($event)'>
                    <i class="icon fsh3 ion-play"></i>
                </span>
            </div>
            <div class='padding-mid'>
                <span class='button landing-request-button'
                      ng-click='visitorManager.demoRequest($event)'>Request a demo</span>
            </div>
            <div class='padding0'>
                <a href='#/welcome#page2'
                   ng-click='visitorManager.exploreMore($event)'
                   class='fsmall3'>or explore more</a>
            </div>
        </div>
    </div>
    <div class='landing-video-overlay' ng-if='showVideo'>
        <iframe class='landing-video-frame' frameborder="0" allowfullscreen
                src="https://www.youtube.com/embed/xmmjg3Lr29M?modestBranding=1&rel=0&autoplay=1">
        </iframe>
        <div class='landing-video-overlay-close nl-link-img fsh5'
             title='Close'
             ng-click='visitorManager.closeVideo($event)'>
             <i class="icon ion-ios-close-outline"></i>
        </div>
    </div>
</div>
