/*-----------------------------------------------------------------------------------------*
 * Wecome page and other static page styling
 *-----------------------------------------------------------------------------------------*/
$purple1: #403050 !default; // rgb(64, 48, 80) Darkest
$purple2: #675187 !default; // rgb(103, 81, 135)
$purple3: #807090 !default; // rgb(128, 112, 144)
$purple4: #B0A0C0 !default; // rgb(176, 160, 192)

.nl-static {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  
  //---------------------------------------------------------------------------
  // Generic overrides
  //---------------------------------------------------------------------------
  font-family: Lato, Verdana, Helvetica, Arial, sans-serif;
  font-size: 16px;

  a {
    text-decoration: none;
  }
  
  //---------------------------------------------------------------------------
  // Background colors
  //---------------------------------------------------------------------------
  .bgdark {
    background-color: rgba(0, 163, 204, 0.8);
    color: #FFFFFF;
  }

  .bgwhite {
    background-color: rgba(255, 255, 225, 0.8);
    color: #000000;
  }
  
  .bgwhite1 {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .bgblue1 {
    background-color: rgba(0, 0, 255, 0.1);
  }

  .nl-sp-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;   
    background-size: repeat;
  }

  .bgbox-content {
    background-clip: content-box;
  }
  
  //---------------------------------------------------------------------------
  // Top menu bar
  //---------------------------------------------------------------------------
  .sp-menu {
    position: absolute;
    top: 50px;
    right: 10px;
  }

  //---------------------------------------------------------------------------
  // Other utilities
  //---------------------------------------------------------------------------
  .sp-border-bottom {
    border-bottom: 1px solid #CCCCCC;
  }

  .border-right {
    border-right: 1px solid #777777;
  }
  
  //---------------------------------------------------------------------------
  // Other specific class styling
  //---------------------------------------------------------------------------
  .section {
    position: relative;
  }

  .box {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.7);
    &.clickable:hover, &.clickable:focus {
      background-color: rgba(255, 255, 255, 0.9);
      cursor: pointer;
    }
  }
  
  .box2 {
    border-radius: 4px;
    &.clickable:hover, &.clickable:focus {
      background-color: rgba(255, 255, 255, 0.3);
      cursor: pointer;
    }
  }
}
