/*-----------------------------------------------------------------------------------------*
 * Wecome page and other static page styling
 *-----------------------------------------------------------------------------------------*/
$purple1: #403050 !default; // rgb(64, 48, 80) Darkest
$purple2: #675187 !default; // rgb(103, 81, 135)
$purple3: #807090 !default; // rgb(128, 112, 144)
$purple4: #B0A0C0 !default; // rgb(176, 160, 192)

$grey: #A0A0C0 !default; // rgb(160, 160, 192)

$orange:  #FFA500 !default; // rgb(255, 165, 0)
$orange1: #E06000 !default; // rgb(224, 96, 0)
$orange2: #F54B22 !default; // rgb(245, 75, 34)

.nl-static {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;

  //---------------------------------------------------------------------------
  // Generic overrides
  //---------------------------------------------------------------------------
  font-family: Lato, Verdana, Helvetica, Arial, sans-serif;
  font-size: 16px;

  a {
    text-decoration: none;
  }
  
  //---------------------------------------------------------------------------
  // Background colors
  //---------------------------------------------------------------------------
  .bgdark {
    background-color: $purple2;
  }

  .bgwhite {
    background-color: white;
  }
  
  .bgbox-content {
    background-clip: content-box;
  }
  
  //---------------------------------------------------------------------------
  // Background images
  //---------------------------------------------------------------------------
  .bg-img, .bg-img-opaque {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .bg-img-opaque {
    background-color: black;
    z-index: -1;
    opacity: 0.4;
  }
  
  .bg-img {
    z-index: -2;   
    background-size: cover;
    /* background-image: will be defined in the html fragment */
  }

  //---------------------------------------------------------------------------
  // Font colors
  //---------------------------------------------------------------------------
  * {
    color: inherit;
  }
  
  .fblack {
    color: black;
  }

  .fwhite {
    color: white;
  }

  .forange {
    color: $orange2;
  }

  .fgreen {
    color: #007700;
  }
  
  .fgrey {
    color: $grey;
  }
  
  //---------------------------------------------------------------------------
  // Font sizes
  //---------------------------------------------------------------------------
  .fsh1 {
    font-size: 400%;
    font-weight: bold;
  }

  .fsh2 {
    font-size: 175%;
    font-weight: bold;
  }

  .fsh3 {
    font-size: 175%;
  }
  
  .fsh4 {
    font-size: 150%;
  }
    
  .fsh5 {
    font-size: 120%;
    font-weight: bold;
  }
    
  .fsh6 {
    font-size: 120%;
  }
    
  //---------------------------------------------------------------------------
  // Element sizes
  //---------------------------------------------------------------------------
  .vh100 {
    min-height: 100vh;
  }
  
  .vh75 {
    min-height: 75vh;
  }

  .vh25 {
    min-height: 25vh;
  }

  .w100 {
    width: 100%;
  }

  .col-12-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 12.5%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 12.5%;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  //---------------------------------------------------------------------------
  // Top menu bar
  //---------------------------------------------------------------------------
  .menuitems {
    text-align: right;
    color: #FFFFFF;
    font-size: 120%;
    a, span {
      padding: 8px 20px;
      border-radius: 4px;
      cursor: pointer;
      &:hover, &:focus {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
    .bgyellow {
      background-color: rgba(255, 204, 0, 0.9);
      &:hover, &:focus {
        background-color: rgba(255, 204, 0, 1);
        color: black;
      }
    }
  }

  //---------------------------------------------------------------------------
  // Other utilities
  //---------------------------------------------------------------------------
  .trans50 {
    opacity: 0.5;
  }

  .line {
    border-bottom: 1px solid #CCCCCC;
  }

  .hpad-small {
    padding: 0 4px;
  }

  .border-right {
    border-right: 1px solid #777777;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  //---------------------------------------------------------------------------
  // Other specific class styling
  //---------------------------------------------------------------------------
  .section {
    position: relative;
  }

  .box {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.7);
    &.clickable:hover, &.clickable:focus {
      background-color: rgba(255, 255, 255, 0.9);
      cursor: pointer;
    }
  }
  
  .box2 {
    border-radius: 4px;
    &.clickable:hover, &.clickable:focus {
      background-color: rgba(255, 255, 255, 0.3);
      cursor: pointer;
    }
  }
  
  .pageicon {
    position: absolute;
    top: 51px;
    left: 0;
    width: 200px;
  }
}
