<style>
    .team-container {
        position: relative;
    }
    .team-links {
        position: absolute;
        top: 0; 
        height: 100%;
    }
    .team-member-photo {
        width: 100%;
        max-width: 300px;
        border-radius: 8px;
        box-shadow: inset 0 0 5px rgba(170,0,0,0.1), 0 0 10px rgba(0,0,0,1);
    }
    
</style>
<nl-sp>
	<div class='section bgdark'>
		<div class='nl-sp-bg-img'></div>
		<nl-sp-menu></nl-sp-menu>
        <div class='fsh2 text-center padding'>Our team</div>
        <div class='team-container'>
            <img class='w100' ng-src='{{pageResUrl}}/nittioteam3.png'
                 alt='Nittio Team'>
            <div class='row row-stretch margin0 team-links'>
                <div class='col col-12-5 padding-small box2 clickable'
                     ng-click='gotoAnchor("gagan2")'>
                </div>
                <div class='col col-12-5 padding-small box2 clickable'
                     ng-click='gotoAnchor("ritu2")'>
                </div>
                <div class='col col-12-5 padding-small box2 clickable'
                     ng-click='gotoAnchor("aravind2")'>
                </div>
                <div class='col col-12-5 padding-small box2 clickable'
                     ng-click='gotoAnchor("ruchi2")'>
                </div>
                <div class='col col-12-5 padding-small box2 clickable'
                     ng-click='gotoAnchor("puneet2")'>
                </div>
                <div class='col col-12-5 padding-small box2 clickable'
                     ng-click='gotoAnchor("sarada2")'>
                </div>
                <div class='col col-12-5 padding-small box2 clickable'
                     ng-click='gotoAnchor("varsha2")'>
                </div>
                <div class='col col-12-5 padding-small box2 clickable'
                     ng-click='gotoAnchor("naveen2")'>
                </div>
            </div>
        </div>
        <div class='col min-400 padding'>
            <div class='fsh2 text-center padding'>Meet the people behind Nittio Learn</div>
            <div class='fsh6 padding-small text-center'>Our customers identify us with a scrupulously efficient user experience on the product and the most responsive and effective support. This is the team that makes it happen.</div>
        </div>
    </div>
    <div ng-repeat='member in content.profiles'
         id='{{member.id}}' class='section' ng-class-even='"bgdark"' ng-class-odd='"bgwhite"'>
		<div class='nl-sp-bg-img'></div>
        <div class='fsh2 text-center padding'>{{member.name}}</div>
        <div class='fsh5 text-center padding-small'>{{member.role}}</div>
        <div class='row row-wrap row-center'>
            <div class='padding text-center' ng-class='resp2Col33'>
                <img class='team-member-photo' ng-src='{{pageResUrl}}/{{member.id}}.png'
                     alt='{{member.name}}'>
            </div>
            <div class='padding' ng-class='resp2Col67'>
                <p ng-repeat='desc in member.desc'>{{desc}}</p>
            </div>
        </div>
    </div>
    <div class='section bgwhite'>
		<div class='nl-sp-bg-img'></div>
        <div class='fsh2 text-center padding'>Is that you?</div>
        <div class='fsh5 text-center padding-small'></div>
        <div class='row row-wrap row-center'>
            <div class='padding text-center' ng-class='resp2Col33'>
                <img class='team-member-photo' ng-src='{{pageResUrl}}/you2.png'
                     alt='Want to join us?'>
            </div>
            <div class='padding' ng-class='resp2Col67'>
                <p>Interested in joining the Nittio team? Email your resume to <a class='nl-link-text' href='mailto:hello@nittio.com'><b><u>hello@nittio.com</u></b></a>.
            </div>
        </div>
    </div>
    <nl-sp-footer id='contact_us'></nl-sp-footer>
</nl-sp>