<div class='nl-thin-scroll nl-full padding bgblue2 fwhite'>
    <div class='row row-center margin0 padding0'>
        <div class='padding-mid'>
            Title
        </div>
        <div class='padding-mid col'>
            <input ng-model='data["title"]' class='w100'>
        </div>
        <div class='padding-mid'>
            Ctype
        </div>
        <div class='padding-mid  col'>
            <input ng-model='data["ctype"]' class='w100'>
        </div>
        <div class='padding-mid'>
            Repid
        </div>
        <div class='padding-mid  col'>
            <input ng-model='data["repid"]' class='w100'>
        </div>
        <div class='padding-mid'>
            <button class='button bgorange' ng-click='onSendNotification()'>Send Notification</button>
        </div>
        <div class='padding-mid' ng-show='isFrameOn'>
            <button class='button' ng-click='isFrameOn=false;'>Close App</button>
        </div>
        <div class='padding-mid' ng-hide='isFrameOn'>
                <button class='button' ng-click='isFrameOn=true;'>Open App</button>
            </div>
        </div>
    <div style='position: relative; left: 0%; width: 100%; top: 0; height: 80%' class='padding-mid'>
        <iframe id='nittio_mobile_sim_iframe' ng-if='isFrameOn'
            ng-src={{iframeUrl}} frameborder='0' style='width: 100%; height:100%'></iframe>
    </div>
</div>
