<style>
    .button.highlight {
        background-color: #B03000;
    }
</style>

<nl-dlg dlgtitle='Execute REST API'>
    <nl-dlg-help>
        <p>Execute any REST API defined in the server - input the URL and the parameters as JSON</p>
    </nl-dlg-help>
    <nl-dlg-content>
        <div class='popup-buttons no-border'>
            <button ng-click='view="req"' class='button' ng-class='{"highlight": view=="req"}'>Request</button>
            <button ng-click='view="json_res"' class='button' ng-class='{"highlight": view=="json_res"}'>JSON Result</button>
            <button ng-click='view="fmt_res"' class='button' ng-class='{"highlight": view=="fmt_res"}'>Formatted Result</button>
        </div>
        <table ng-hide='view!="req"' class='nl-table'>
            <tr><td>Execute in loop</td><td class='nl-dlg-field-value'>
                <span ng-click='data.loop = !data.loop'>
                    <i ng-show='data.loop' class="icon ion-android-checkbox-outline"></i>
                    <i ng-hide='data.loop' class="icon ion-android-checkbox-outline-blank"></i>
                    Execute in loop
                </span>
                <button ng-show='data.paused' ng-click='data.paused = false'>Resume</button>
                <button ng-hide='data.paused' ng-click='data.paused = true'>Pause</button>
            </td></tr>
            <tr nl-form-select fieldname='Server Type' fieldmodel='serverType'></tr>
            <tr nl-form-input fieldname='URL' fieldmodel='url' fieldtype='text' ng-keypress='onUrlEnter($event)'></tr>
            <tr nl-form-textarea fieldname='Params' fieldmodel='params' fieldcls='nl-fixed-width'></tr>
        </table>
        <pre ng-hide='view!="json_res"' contenteditable="true">{{result.json}}</pre>
        <div ng-hide='view!="fmt_res"'>
            <h4 ng-bind-html='result.fmt.error'></h4>
            <div class='row row-center margin0 padding-small'>
                <input class='col padding-mid' ng-model='search.filter'>
                <i class='padding-mid'></i>
                <button ng-click='onSave()'>Save to CSV</button>
            </div>
            <div class='padding-small fgrey'>{{(result.fmt.rows | filter:search.filter).length}} items</div>
            <br/>
            <table class='nl-table nl-table-styled'>
            <tr>
                <th ng-repeat='col in result.fmt.header track by $index' ng-bind-html='col'></th>
            </tr>
            <tr ng-repeat='row in result.fmt.rows | filter:search.filter track by $index'>
                <td ng-repeat='col in row track by $index' ng-bind-html='col'></td>
            </tr>
			</table>
            <br/>
        </div>
    </nl-dlg-content>
</nl-dlg>
