<style>
    .nl-pagecanvas-bgimg {
        background-image: url({{pgBgimg}});
    }
</style>
    
<link ng-if='pgInfo.groupCustomCss' rel="stylesheet" 
      id='group_custom_css' ng-href="{{pgInfo.groupCustomCss}}">

<div id='nl-pagecanvas' ng-click='onCanvasClick($event)' ng-keydown="onKeyDown($event)" tabindex='0'
    ng-class='{"nl-hide":!pgInfo.isPageShown}'>
    <div ng-show='pgBgimg' class='nl-pagecanvas-bg {{ currentPageURL != "/learner_view2" ? "nl-pagecanvas-bgimg"  : "" }}'></div>

    <nl-topbar></nl-topbar>
    <div id='nl-body' ng-class='{fullpage:!topbar.isShown, rightpane:announcement.mode == "pane"}'>
        <ion-nav-view name='appContent'>
        </ion-nav-view>
    </div>
    <nl-announcement id='rightpane' ng-if='announcement.mode == "pane"' 
        style='border-left: 1px solid rgba(0, 0, 0, 0.1);'
        ng-class='{fullpage:!topbar.isShown}'></nl-announcement>
</div>