<div class='nl-thin-scroll' style='position:absolute; width: 100%; height: 100%'>
<div> <!-- Dummy div to solve scrolled view disappears with popup issue #701 -->
    <div ng-if='!tabData.dataLoaded && tabData.selectedTab.id == "assigned"'
        class='nl-limitwidth bgdefault shape-rounded-small padding nl-txt-white'>
        Hi {{userName}}! Your learning records are being loaded from the server. Please wait ...
    </div>
    <div ng-if='tabData.selectedTab.id == "assigned" && tabData.dataLoaded && !tabData.summaryStats && !tabData.explore'>
        <div>
            <nl-learner-view-top-section tabData='tabData'></nl-learner-view-top-section>        
        </div>
        <div ng-if='tabData.sectionData[0].cardlist.length > 0' id="anchor-progress" class="mt-20">
            <nl-cards cards='tabData.sectionData[0]'></nl-cards>
        </div>
        <div ng-if='tabData.sectionData[1].cardlist.length > 0' id="anchor-pending">
            <nl-cards cards='tabData.sectionData[1]'></nl-cards>
        </div>
        <div ng-if='tabData.sectionData[2].cardlist.length > 0' id="anchor-upcoming">
            <nl-cards cards='tabData.sectionData[2]'></nl-cards>
        </div>
        <div ng-if='tabData.sectionData[3].cardlist.length > 0' id="anchor-completed">
            <nl-cards cards='tabData.sectionData[3]'></nl-cards>
        </div>
        <div ng-if='tabData.sectionData[4].cardlist.length > 0' id="anchor-expired">
            <nl-cards cards='tabData.sectionData[4]'></nl-cards>
        </div>
        <div ng-if="!(tabData.sectionData[0].cardlist.length || tabData.sectionData[1].cardlist.length || tabData.sectionData[2].cardlist.length || tabData.sectionData[3].cardlist.length 
                        || tabData.sectionData[4].cardlist.length)" class="padding nl-txt-white nl-font-25 nodata-container nl-display-flex">
            <img ng-src='{{nodata}}' alt='no-data' class='nodata' >
            <span class="nl-font-25 font-16-in-small nl-txt-white fblue" ng-if="tabData.recordsLen">Oops! Looks like no assignments match your search.</span>
            <span class="nl-font-25 font-16-in-small nl-txt-white fblue" ng-if="!tabData.recordsLen">Currently you have no assignments.</span>
        </div>
    </div>
    <div ng-if='tabData.selectedTab.id == "assigned" && tabData.dataLoaded && tabData.summaryStats'> 
        <nl-learning-stats></nl-learning-stats>
    </div>
    <div ng-if='tabData.selectedTab.id == "assigned" && tabData.dataLoaded && tabData.explore'>
        <nl-learner-section2  ng-repeat="card in exploreCards"
            card='card'>
        </nl-learner-section2>
    </div>
    <div ng-if='tabData.selectedTab.id == "admin"'
        class='padding'>
        <nl-cards cards='adminCards' class='nl-thin-scroll'></nl-cards>
    </div>
</div>
</div>

    