
<div class="explore-card-container" ng-click="explore(card)">	
	<div ng-if='card.hideCardList'>
		<div class="horizontal-card-container">
			<div class="hcardimg-container col-50">
				<img ng-if='icon != "icon:"' class='card2-img {{canCover() ? "old-learnerview-cover" : ""}}' style='width: 100%;height: 100%;' ng-src='{{card.icon}}' nl-compute-img-info></img>
				<div ng-if='icon == "icon:"' class='card2-img text-center'><i class='ion-ios-bookmarks-outline fblue' style='width: 100%;height: 100%;'></i></div>
			</div>
			<div class="col padding-mid" style="height: 100%;">
				<div class="nl-txt-white font-16-in-small" style="font-size: 20px;height: 20%;">{{card.title}}</div>
				<div class="nl-txt-white font-12-in-small" style="font-size: 16px;height: 60%;">
					{{card.help}}
				</div>
				<div style="height: 20%;">
					<div class='row row-center margin0 padding0' style="justify-content: flex-end;">
						<div class='nl-link-text'>
							<img style="width: 35px; height: 35px;" ng-src='{{card.dropdownBtn}}'></img>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>

<div ng-if='card.cardlist && !card.hideCardList'>
	<div ng-if='card.cardlist.length > 0'>
		<nl-cards2 cards='card'></nl-cards2>
	</div>
	<div ng-if='card.cardlist.length == 0 && card.isSelected' class="explore-card-container" style="width: 100%;">
		<div class="horizontal-card-container" style="display: block;">
			<div>
				<div ng-click='card.hideCardList = !card.hideCardList' class="row">
					<div class="col-90 section-header-text font-20-in-small">{{card.title}}</div>
					<div class="col-10 nl-display-flex" style="justify-content: flex-end;">
						<img src='{{card.closeDlgBtn}}' alt='close_container' style="height: 30px;width:35px;">
					</div>
				</div>
				<div class="row row-center nl-txt-white row-justify-evenly" style="align-items: center;padding:40px">
					There are no items to display.
				</div>
			</div>
		</div>
	</div>
</div>

