<div class='nl-topbar-background' ng-if="!tabdata.summaryStats">
    <div class='nl-limitwidth-learner-view padding-mid'>
        <div class='row row-center row-wrap margin0 padding0-mid'>
            <div class='padding-mid' ng-repeat='button in tabdata.tabs'>
                <div class='center-in-small nl-learner-button {{button.count > 0 ? "nl-link-text" : ""}} {{button.class}}' 
                    ng-click='toScroll(button)'>
                    <div style="align-items: center;justify-content: center;grid-gap: 5px;height: 100%;" class="nl-display-flex">
                        <span style="font-size: 14px;">{{button.title}}:</span> 
                        <span style="font-size:14px;">{{button.count}}</span>
                    </div>
                </div>
            </div>
            <div class='padding-mid nl-display-flex'>
                <div class='learner-view-stats-button tabs-in-small center-in-small' 
                    ng-click='viewStatistics()'>
                    <span class="nl-display-flex" style="grid-gap:5px">
                        <img ng-src="{{summary}}" style="width: 20px; height: 30px; filter: invert(90%);" alt="summary">
                        <span class="nl-display-flex" style="justify-content: center; align-items: center;">Statistics</span> 
                    </span> 
                </div>
                <div class='learner-view-explore-button tabs-in-small center-in-small' 
                    ng-click='Explore()'>
                    <span class="nl-display-flex" style="grid-gap:5px">
                        <img ng-src="{{explore}}" style="width: 20px; height: 30px; filter: invert(90%);" alt="summary">
                        <span class="nl-display-flex" style="justify-content: center; align-items: center;">Explore</span> 
                    </span> 
                </div>
            </div>
        </div>
        <div class='padding-small'></div>
        <div class='row row-top row-wrap margin0 padding-mid'>
            <div class='padding0 learner-view-searchbox nl-display-flex' style='padding: 0px 4px;grid-gap: 20px;margin-left:10px'>
                <div class='row row-center margin0 padding0 learner-view-searchbox2 col-67 dark-default-input'>
                    <span style='padding: 0px 6px'><i class='icon ion-ios-search-strong fsh5'></i></span>
                    <div class='col padding0'>
                        <input class='padding-small w100 search-placeholder'
                            ng-model='tabdata.search'
                            ng-attr-placeholder='{{tabdata.searchPlaceholder}}'
                            ng-keydown='tabdata.onSearch($event)'
                            ng-keyup='tabdata.onKeyupSearch($event)'
                            style='border: none; height: 32px; background-color:inherit'>
                    </div>
                </div>
                <div class='fetch-more bgblue3 nl-txt-white justify:center margin0 nl-link-text padding-0 row row-center'
                        ng-show='tabdata.canFetchMore'
                        title='Fetch more learning records from the server'
                        ng-click='tabdata.fetchMore($event)' style="align-items: center;width:auto; border-radius: 4px;">
                        <i class='icon ion-refresh' style="font-size: 20px;margin: 2px;"></i>
                    <span ng-if='$root.screenSize != "small"' style='font-size:15px;margin: 2px;'>Fetch more</span>
                </div>
            </div>
        </div>
     </div>  
</div>
<div ng-if="tabdata.summaryStats">
    <div ng-click='goback()' class='learner-view-stats-button tabs-in-small center-in-small nl-learner-button margin-auto-in-small' 
        style="width: 100px;">
        <img ng-src="{{learn}}" style="width: 14px; height: 14px;margin: 2px;" alt="left_arrow">
        <span style="margin: 2px;">Learn</span>
    </div>
</div>
