<div class='nl-topbar-background'>
    <div class='row nl-limitwidth-learner-view padding-mid'>
        <div class='{{$root.screenSize == "small" ? "col" : "col-70"'>
            <div class='row row-center row-wrap'>
                <div class='row row-center row-wrap'>
                    <div ng-if="!tabdata.summaryStats && !tabdata.explore" class='padding-mid learner-btn-firstchild flex-33' ng-repeat='button in tabdata.tabs' style="flex-basis: 1">
                        <div class='center-in-small nl-learner-button {{button.count > 0 ? "nl-learner-button-hover nl-link-text" : ""}} {{button.class}}' 
                            ng-click='toScroll(button)'>
                            <div style="align-items: center;justify-content: center;grid-gap: 5px;height: 100%;" class="nl-display-flex">
                                <span style="font-size: 14px;" class="font-10-in-small">{{button.title}}:</span> 
                                <span style="font-size:14px;" class="font-10-in-small">{{button.count}}</span>
                            </div>
                        </div>
                    </div>
                    <div ng-if="tabdata.exploreSection && !(tabdata.explore || tabdata.summaryStats)" class="padding-mid flex-33" style="flex-basis: 1">
                        <div class='learner-view-explore-button tabs-in-small center-in-small' ng-click='exploreAvailable()'>
                            <span class="nl-display-flex" style="grid-gap:5px">
                                <img ng-src="{{explore}}" style="width: 20px; height: 30px; filter: invert(90%);" alt="summary">
                                <span class="nl-display-flex font-10-in-small" style="justify-content: center; align-items: center;">Explore</span> 
                            </span> 
                        </div>
                    </div>
                    <div ng-if='!(tabdata.summaryStats || tabdata.explore)' ng-click='viewStatistics()' class="padding-mid flex-1-sm" style="margin-right: 0px;">
                        <div ng-show='!tabdata.showCreditpoints' class='col learner-view-stats-button tabs-in-small center-in-small '>
                            <span class="nl-display-flex" style="grid-gap:5px">
                                <img ng-src="{{summary}}" style="width: 20px; height: 30px; filter: invert(90%);" alt="summary">
                                <span class="nl-display-flex font-10-in-small" style="justify-content: center; align-items: center;">Statistics</span> 
                            </span> 
                        </div>
                    </div>
                </div>
                <div class='{{$root.screenSize == "small" ?  "row" : ""}} nl-display-flex' style="grid-gap: 15px;">
                    <div ng-if="tabdata.summaryStats || tabdata.explore" class="center-in-small col learner-view-stats-button nl-learner-button tabs-in-small padding-mid flex-1-sm">
                        <div ng-click='goback()' class='row' 
                            style="justify-content: center;grid-gap:10px">
                            <img ng-src="{{learn}}" alt="left_arrow">
                            <span>Learn</span>
                        </div>
                    </div>
                    <!-- for mobile -->
                    <div ng-if='tabdata.showCreditpoints && !tabdata.summaryStats && !tabdata.explore' ng-click='viewStatistics()' class="learner-btn-firstchild flex-1-sm nl-force-hide show-in-small">
                        <div class='{{$root.screenSize == "small" ? "mt-10" : ""}}'>
                            <div class="padding-mid points_container_background nl-display-flex" style="flex-direction:column;align-items: center; justify-content: center; grid-gap:10px;">
                                <div class="nl-txt-white">Total Points Earned</div>
                                <div class='row w100' style="align-items: center;">
                                    <img ng-src="{{creditStar}}" class='col-50 text-center' style="width: 50px; height: 50px;" alt="creditpointstar">
                                    <div class='col-50 text-center Montserrat-font earned-points nl-txt-white fupcoming nl-font-25'>{{tabdata.currentlearnerStats[0].lcredits90}}</div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show='tabdata.showSearchbar' class='row row-top row-wrap margin0 padding-mid'>
                <div class='padding0 learner-view-searchbox nl-display-flex'>
                    <div class='row row-center margin0 padding0 learner-view-searchbox2 dark-default-input {{$root.screenSize == "small" ? "" : "col-67"}}'>
                        <span style='padding: 0px 6px'><i class='icon ion-ios-search-strong fsh5'></i></span>
                        <div class='col padding0'>
                            <input class='padding-small w100 search-placeholder'
                                ng-model='tabdata.search'
                                ng-attr-placeholder='{{tabdata.searchPlaceholder}}'
                                ng-keydown='tabdata.onSearch($event)'
                                ng-keyup='tabdata.onKeyupSearch($event)'
                                style='border: none; height: 32px; background-color:inherit'>
                        </div>
                    </div>
                    <div class='fetch-more bgblue3 nl-txt-white justify:center margin0 nl-link-text padding-0 row row-center'
                            ng-show='tabdata.canFetchMore && !tabdata.explore'
                            title='Fetch more learning records from the server'
                            ng-click='tabdata.fetchMore($event)' style="align-items: center;width:auto; border-radius: 4px;">
                            <i class='icon ion-refresh' style="font-size: 20px;margin: 2px;"></i>
                        <span ng-if='$root.screenSize != "small"' style='font-size:15px;margin: 2px;'>Fetch more</span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if='tabdata.showCreditpoints && !tabdata.summaryStats && !tabdata.explore' class='{{$root.screenSize == "small" ? "nl-force-hide" : ""}} col-30 padding nl-cursor' ng-click='viewStatistics()' style="flex: 1;min-width: 225px;" >
          <div class="row padding-mid points_container_background points_container_hover" style="border: 1px solid whitesmoke;align-items: center;height: 100%;">
            <div class='col-34 text-center'>
                <img ng-src="{{creditStar}}" class='' style="width: 50px; height: 50px;" alt="creditpointstar">
            </div>
            <div class='col-66 text-center' style="grid-gap: 10px;align-items: center;justify-content: left;display: flex;flex-direction: column;">
                <div class="nl-txt-white Montserrat-font">Total Points Earned</div>
                <div class='col-50 text-center Montserrat-font earned-points nl-txt-white fupcoming nl-font-25'>{{tabdata.currentlearnerStats[0].lcredits90}}</div>
            </div>  
          </div>
        </div>
     </div>  
</div>

