<div ng-if='!card.resultList || card.resultList.length == 0' class="row">
	<div class="horizontal-card-container">
		<div class="hcardimg-container col-50">
            <img ng-if='icon != "icon:"' class='card2-img {{canCover() ? "old-learnerview-cover" : ""}}' style='width: 100%;height: 100%;' ng-src='{{icon}}' nl-compute-img-info></img>
            <div ng-if='icon == "icon:"' class='card2-img text-center'><i class='ion-ios-bookmarks-outline fblue' style='width: 100%;height: 100%;'></i></div>
		</div>
		<div class="h-card-desc col">
			<h6 class="nl-txt-white">{{card.nltitle}}</h6>
			<span class="nl-txt-white">
				{{card.desc}}
			</span>
			<div class='card2-buttons'>
				<div class='row row-center margin0 padding0'>
					<i class='{{record.stats.status.icon}}' style='font-size:180%'></i>
					<span style='padding: 0 4px' class="nl-txt-white">{{record.stats.status.txt}}</span>
					<span class='col padding0 margin0 text-center'></span>
					<span ng-show='card.url'>
						<button target='' class='row row-center padding0 margin0 nl-link-text'>
							<span class='nl-button-lowlight lnblue2' ng-click="myfun(card)">Explore</span>
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-if='selected.id == card.id && card.resultList && card.resultList.length > 0'>
	{{card.resultList}}
</div>
<style>
    .horizontal-card-container{
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 0 auto;
	overflow: hidden;
	width: 875px;
    height:200px;
    border: solid 1px rgba(255, 255, 255, 0.3);
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}
.hcardimg-container {
	max-width: 250px;
    height: 100%;
}
.h-card-desc {
	padding: 30px;
	position: relative;
	width: 100%;
}

.btn {
	position: absolute;
    bottom: 30px;
    right: 30px;
}
</style>