<div class='nl-topbar-background'>
    <div class='nl-limitwidth-learner-view padding-mid'>
        <div class='row row-center row-wrap margin0 padding0-mid'>
            <div class='padding-mid' ng-repeat='button in tabdata.tabs'>
                <div class='tabs-in-small center-in-small nl-learner-button {{button.count > 0 ? "nl-link-text" : ""}} {{button.class}}' 
                    ng-click='toScroll(button)'>
                    {{button.title}}: {{button.count}}
                </div>
            </div>
            <div class='col'></div>
            <div ng-if='0' class='padding-mid'>
                <div class='learner-view-stats-button' 
                    ng-click='viewStatistics()'>
                    <i class="icon ion-stats-bars fsh3 padding-mid"></i>
                    <span class='padding-mid'>
                        Summary
                    </span>
                </div>
            </div>
        </div>
        <div class='padding-small'></div>
        <div class='row row-top row-wrap margin0 padding-mid'>
            <div class='padding0 learner-view-searchbox' style='padding: 0px 4px'>
                <div class='row row-center margin0 padding0 learner-view-searchbox2'>
                    <span style='padding: 0px 6px'><i class='icon ion-ios-search-strong fsh5'></i></span>
                    <div class='col padding0' style='padding-top: 4px'>
                        <input class='padding-small w100'
                            ng-model='tabdata.search'
                            ng-attr-placeholder='{{tabdata.searchPlaceholder}}'
                            ng-keydown='tabdata.onSearch($event)'
                            style='border: none; height: 32px; background-color:inherit'>
                    </div>
                    <div class='bgblue3 nl-link-text fbold fwhite padding-mid'
                        ng-show='tabdata.canFetchMore'
                        title='Fetch more learning records from the server'
                        ng-click='tabdata.fetchMore($event)'>
                        <i class='icon ion-refresh'></i>
                        <span ng-if='$root.screenSize != "small"' style='font-size:80%'>Fetch more</span>
                    </div>
                </div>
            </div>
        <div>
    </div>    
</div>
