<div class='nl-thin-scroll padding-small'>
    <div class='nl-dlg-field-name'>Package Title</div>
    <div class='nl-dlg-field-value nl-forum'>
        <nl-input fieldmodel='title' fieldtype='text'></nl-input>
    </div>
    <div class='nl-dlg-field-name'>SCORM version</div>
    <div class='nl-dlg-field-value nl-forum'>
        <nl-select fieldmodel='version'></nl-select>
    </div>
    <div ng-hide='data.courseid'>
        <div class='nl-dlg-field-name'>Enter comma seperated list of module ids to export</div>
        <div class='nl-dlg-field-value nl-forum'>
            <nl-textarea fieldmodel='lessonIds'></nl-textarea>
        </div>
    </div>
    <div ng-show='data.courseid'>
        <div class='nl-dlg-field-name'>List of modules</div>
        <div ng-repeat='module in data.courseModules.names' class='padding-mid'>{{module}}</div>
        <div class='padding-mid'></div>
    </div>
    <div class='nl-dlg-field-value nl-forum'
         ng-if='do_not_show_for_now_there_is_a_bug'>
        <input ng-model='data.mathjax' type='checkbox'><span>include MathJax libraries</span>
    </div>
    <div class='padding-small' ng-hide='ongoing'>
        <div class='nl-button' ng-click='onExport()'>Export</div>
    </div>
    <nl-progress-log ng-show='started'></nl-progress-log>
</div>