<nl-dlg dlgtitle='{{dlgTitle}}' show-close='1'>
	<nl-dlg-help>
		<div>
			<h2>Configure course dependencies</h2>
			<p>
				You could specify a set of prerequisite conditions that have to be met for current item. Only after all the specified
				conditions are met, the curent item is made available to the learner. If the prerequisites are not met, this current
				item is shown in a locked state to the learner. 
			</p>
			<p>
				If you need to specify multiple conditions, please press on the plus icon.
			</p>
			<ul>
				<li class='padding-mid'><b>Start after:</b> you could select any item above the current item which is a prerequisite
					for the current item. Only after the specified item is completed, the current item will be unlocked for the
					learner.</li>
				<li class='padding-mid'><b>Mininum score:</b> optioanlly, you could also configure the minimum score required in the
					specified module for the prerequisite condition to be satisfied. For example, you may want to open up the
					certificate only if the user has scored at least 90% in the quiz.</li>
			</ul>
		</div>
	</nl-dlg-help>
	<nl-dlg-content>
		<table class='nl-table-styled2 nl-table-padded fsh6'>
		    <tr>
		    	<th style='width:5%'></th>
		        <th>Start after</th>
		    </tr>
		    <tr ng-repeat-start='item in moduleList track by $index'
		        class='{{item.error ? "nl-bg-red" : ""}}'>
		    	<td class="nl-link-text"
		    	    title='Remove this dependency'
		    	    ng-click='moduleList.splice($index, 1)'
					style='vertical-align: middle'>
		    	    <i class='icon ion-ios-trash fsh4 fblue2'></i>
		    	</td>
				<td style='vertical-align: middle; padding: 4px 20px 20px 20px'>
					<div class='row row-center row-wrap margin0 padding0 nl-dlg-field-value'> 
						<div ng-class='respCol221' style='padding-top:30px'>
							<select ng-model='item.module' 
									ng-options='opt as opt.name for opt in moduleOptions track by opt.id'
									class='{{fieldcls}}'
									autofocus=''
									tabindex="{{tabindex}}"
									ng-change='onModuleSelect(item)'>
							</select>
						</div>
						<div ng-class='respCol221'>
							<div class='row row-center margin0 padding0 nl-dlg-field-value'>
								<div class='col padding0' ng-if='item.canShowMinScore'>
									<div class='row row-center margin0 padding0' style='padding: 4px 0px;font-size: 80%'>Min score(%)</div>
									<div class='row row-center margin0 padding0'  style='padding-right: 10px'><input ng-model='item.min_score' type="number" min='0' max='100'></input></div>
								</div>
								<div class='col padding0' ng-if='item.canShowMaxScore && showMaxScore'>
									<div class='row row-center margin0 padding0' style='padding: 4px 0px;font-size: 80%'>Max score(%)</div>
									<div class='row row-center margin0 padding0'><input ng-model='item.max_score' type="number" min='0' max='100'></input></div>
								</div>
								<div class='col padding0' ng-if='item.canShowSelectBox' style='padding-top:25px'>
									<select ng-model='item.selectedOption' 
											ng-options='opt as opt.name for opt in item.options track by opt.id'
											class='{{fieldcls}}'
											autofocus=''
											tabindex="{{tabindex}}">
									</select>
								</div>
							</div>
						</div>
				    </div>
				</td>
		    </tr>
		    <tr ng-repeat-end ng-show='item.error'>
		    	<td style='padding: 0'>
		    	</td>
				<td style='padding-top: 4px'>
					<div class='forange padding-small'>{{item.error}}</div>
				</td>
		    </tr>
		    <tr>
                <td class='nl-link-text'
                    title='Add a new dependency'
                    ng-click='moduleList.push({})'>
                    <i class='icon ion-plus-circled fsh4 fblue2'></i>
                </td>
		    	<td></td>
		    </tr>
		</table>
	</nl-dlg-content>
</nl-dlg>