<nl-dlg dlgTitle='{{dlgTitle}}' show-help='0'>
<nl-dlg-content>
<nl-inline-help>
    Please fill the checklist below to validate if the course is ready for distribution.
</nl-inline-help>
 <div class='row row-center margin0 padding-mid fsh6 fblue nl-link-text'
    ng-repeat='item in data.checklist' ng-click='item.selected = !item.selected'>
    <span>
        <i ng-show='item.selected' class="icon ion-android-checkbox-outline black"></i>
        <i ng-hide='item.selected' class="icon ion-android-checkbox-outline-blank black"></i>
        <span>{{item.name}}</span>
    </span>
 </div>
</nl-dlg-content>
</nl-dlg>
