<!-- <nl-dlg dlgtitle='{{dlgTitle}}'>
    <nl-dlg-help>
        <p>
            This shows the count of all the active trainers as of now.
        </p>
    </nl-dlg-help>
    <nl-dlg-content>
        <div class='row row-wrap row-top padding0 margin0'>
            <table class="nl-table nl-table-styled nl-table-styled2 nl-table-styled3">
                <thead>
                    <th>User Type</th>
                    <th>Active</th>
                    <th>Inactive</th>
                </thead>
                <tr ng-repeat='(ut,data) in usersStatus'>
                    <td>{{ut}}</td>
                    <td>{{data.active}}</td>
                    <td>{{data.inactive}}</td>
                </tr>
            </table>
        </div>
        <br/>
    </nl-dlg-content>
</nl-dlg> -->
<nl-dlg show-help='0' show-close='1'>
    <nl-dlg-content>
        <div class="userstatus nl-card-dlg2-img padding">
            <div class="nl-txt-white Montserrat-font text-center fontsize20">User Status</div>
            <div class="row mt-20 padding-mid users">
                <div class="row padding-top-0" style="align-items: center; grid-gap: 15px;">
                    <img ng-src='{{usersStatus.img}}' class="Montserrat-font usericon img-in-small" alt='totaluser'>
                    <span class=" Montserrat-font fontsize16 font-16-in-small fwhite">Total Users</span>
                </div>
                <div class="row padding-top-0 nl-txt-white margin0 useralign show-in-small">
                    <span class=" Montserrat-font fontsize24 font-16-in-small fprogress">{{usersStatus.total.active}}</span>
                    <span class="Montserrat-font font-12-in-small fontsize16 fwhite">Active</span>
                </div>
                <div class="divider"></div>
                <div class="row padding-top-0 nl-txt-white margin0 useralign show-in-small">
                    <span class=" Montserrat-font fontsize24 font-16-in-small ffailed">{{usersStatus.total.inactive}}</span>
                    <span class="Montserrat-font font-12-in-small fontsize16 fwhite">Inactive</span>
                </div>
            </div>

            <div ng-repeat='(ut,data) in usersStatus' >
                <div ng-if='!(ut=="total" || ut=="img")' class="row mt-20 padding-mid users">
                    <div class="padding-top-0 {{$root.screenSize == 'small' ? '' : 'row' }}">
                        <span class="Montserrat-fontfontsize16 fwhite">{{ut}}</span>
                    </div>
                    <div class="padding-top-0 nl-txt-white margin0 useralign show-in-small {{$root.screenSize == 'small' ? 'show-in-small' : 'row'}}">
                        <div class=" Montserrat-font fontsize24 font-16-in-small fprogress">{{data.active}}</div>
                        <div class="Montserrat-font font-12-in-small fontsize16 fwhite">Active</div>
                    </div>
                    <div class="divider"></div>
                    <div class="padding-top-0 nl-txt-white margin0 useralign show-in-small {{$root.screenSize == 'small' ? 'show-in-small' : 'row'}}">
                        <div class="Montserrat-font fontsize24 font-16-in-small ffailed">{{data.inactive}}</div>
                        <div class="Montserrat-font font-12-in-small fontsize16 fwhite">Inactive</div>
                    </div>
                </div>
            </div>
        </div>
    </nl-dlg-content>
</nl-dlg> 