<div class='padding-mid'>
	<div style='border:1px solid #FFFFFF; box-shadow: 4px -2px 5px 0px rgba(0, 0, 0, 0.06)'>
		<div class='row row-center padding-mid margin0' style='background-color: #FFFFFF;border-bottom: 1px solid #EFEFF5;'
			ng-show='rootStat.folderCount > 0'>
			<div class='col padding-mid'></div>
			<div style='padding-right: 10px'>
		        <div class='lnblue2 text-center padding-mid'
		        	ng-click='onExpandOrCollapseAll()'>
		        	<span class='fdarkgrey2' style='font-size:16px'>{{currentStateText}}</span>
		        </div>
			</div>
		</div>
		<div ng-repeat='cm in modules' class='anim fade'
			style='background-color: #FFFFFF; border-bottom: 1px solid #EFEFF5' ng-hide='cm.hideItem'>
	        <div ng-click='onRowClick($event, cm)'
	        	class='row row-center row-wrap margin0 padding0 fdarkgrey1 {{ext.item.id == cm.id ? "item-selected" : ""}} {{cm.type != "certificate" ? "nl-link-text" : ""}}'>
				<div ng-class='resp2Col67' class='margin0 padding-mid' style='padding-left: {{cm.indentationLevel*16 + 8}}px'>
					<div class='row row-center margin0 padding-mid'>
						<div ng-if="cm.type == 'module'" style="width: 20px;">
			                <i ng-show="!cm.isOpen" class="icon ion-arrow-right-b bold fsh3"></i>
			                <i ng-show="cm.isOpen" class="icon ion-arrow-down-b bold fsh3 ng-hide"></i>
			            </div>
						<div class='col padding0' style='font-size: 16px; padding-right: 8px'>{{cm.name}}</div>
						<div class=''>
							<span class='padding' style='text-align:right'>
								<i ng-if='!ext.isStaticMode() && cm.state.icon' class="icon fsh3 {{cm.state.icon}}"></i>
							</span>
						</div>
					</div>
				</div>
				<div ng-class='resp2Col33' 
					class='margin0 padding-mid' 
					style='padding-left: {{screenSize == "small" ? cm.indentationLevel*16 + 8 : 0}}px'>
					<div class='row row-center text-center row-justify-evenly padding-mid margin0'>
						<div style='min-width:100px;' class='padding-mid text-center'>
							<div ng-show='(cm.type != "module" && cm.maxScore > 0) || (cm.type == "module" && (cm.completedItems == cm.totalItems) && (cm.stats.maxScore > 0))'
								class='row row-center text-center padding0 mmargin0'>
								<span style='width:100%;font-size:12px;' class='text-center '>Score</span>
							</div>
							<div class='row row-center text-center padding0 margin0'>
								<span ng-if='cm.type != "module" && cm.maxScore > 0' style='width:100%; font-weight: 600;'>{{cm.perc || "0"}}%</span>
								<span ng-if='cm.type == "module" && (cm.completedItems == cm.totalItems) && (cm.stats.maxScore > 0)' style='width:100%; font-weight: 600;'>{{cm.stats.perc}}%</span>
							</div>
						</div>
						<div class='col padding0' ng-show='cm.type == "module"'>
							<div class='row row-center margin0 padding0'>
								<div class='col padding0'>
									<nl-progress-bar percval='{{cm.completedItems ? ext.getRoundedPercentage(cm.completedItems, cm.totalItems) : 0}}'>
									</nl-progress-bar>
								</div>
							</div>
						</div>
						<div ng-if='cm.type != "module"' class='col'></div>
						<div ng-show='ext.canShowTryAgain(cm)'
							class='lnblue2 nl-button-highlight'
							ng-click='onReattempt($event, cm)'>
							<span>Try again</span>
						</div>
					    <div ng-show='ext.canShowLaunch(cm)' 
					    	class='lnblue2 {{getLaunchButtonState(cm) == "dark" ? "nl-button-highlight" : "nl-button-lowlight"}} {{ext.canHighlightReviewButton(cm) ? "nl-button-review" : ""}}'
			                ng-click='onLaunch($event, cm)'
			                title='{{ext.getLaunchString(cm)}}'>
						        <span>{{ext.getLaunchString(cm)}}</span>
					    </div>
					    <span class='sep4'></span>
					</div>
				</div>
			</div>
			<div ng-show='cm.type != "certificate" && cm.type != "module" && cm.id == ext.item.id && isDetailsShown' class='fdarkgrey1 padding-mid anim fade'>
				<div style='border: 1px #CCCCCC solid'>
					<nl-course-large-screen-details></nl-course-large-screen-details>
				</div>
			</div>
		</div>
	</div>
</div>
