<div style='padding-left:2px'>
    <div><b>Completed attempts:</b></div>
    <div class='padding-small'></div>
	<div class='row row-center padding-small margin0'>
    	<div ng-class='respCol111'>
    		<div class='row row-center padding0 margin0 fgrey'>
				<div class='col'><b>Started</b></div>
				<div ng-hide='screenSize == "small" || vp.i == true' class='col'><b>Ended</b></div>
				<div class='col'><b>Score</b></div>
    		</div>
    	</div>
	</div>
    <div class='row row-center padding-small margin0' 
    	ng-repeat='attempt in ext.pastAttemptData' >
    	<div ng-class='respCol111'>
    		<div class='row row-center padding0 margin0 fgrey {{(ext.hideReviewButton(ext.item) || ext.isLessonInProgress(ext.item)) ? "" : "nl-link-text"}}' 
    			ng-click='ext.showPastReport(attempt)'>
				<div class='col'>{{attempt.started | date : 'dd-MMM-yy HH:mm:ss'}}</div>
				<div ng-hide='screenSize == "small" || vp.i == true' class='col'>{{attempt.ended | date : 'dd-MMM-yy HH:mm:ss'}}</div>
				<div class='col'>{{ext.getRoundedPercentage(attempt.score, attempt.maxScore, attempt)}}</div>
		        <a ng-href='{{attempt.url}}'>{{attempt.text}}</a>
    		</div>
    	</div>
    </div>
</div>
