<div ng-show='ext.canShowRemarks()'>
    <div class='padding-small'></div>
    <div ng-show='!ext.canUpdateStatus() && ext.data.remarks'>
        <div><b>Remarks:</b></div>
        <div ng-bind-html='ext.data.remarks'class='padding-small-v'></div>
    </div>
    <div ng-show='ext.canUpdateStatus()'>
        <div><b>Remarks:</b></div>
        <div class='nl-dlg-field-value'>
            <textarea ng-model='ext.data.remarks'
                      class='w100'
                      tabindex='1'
                      autofocus=''>
            </textarea>
        </div>
    </div>
</div>
<div class='row row-top row-wrap margin0'
	style='padding: 16px 16px 16px 0px'
	ng-show='ext.canUpdateStatus()'>
        <div class='col'>
		    <div ng-show='ext.item.state.status == "success"'
		         class='forange2'>
		        This item is currently marked as completed. You could reopen this by clicking the 'Reopen' button.
		    </div>
        </div>
	    <div class='lnblue2 {{ext.item.state.status == "success" ? "nl-button-lowlight" : "nl-button-highlight"}}'
            ng-click='ext.updateStatus(ext.item.state.status != "success")'>
	        <span>{{ext.item.state.status == 'success' ? 'Reopen' : 'Done'}}</span>
	    </div>
	    
    </div>
</div>
