<div class='nl-thin-scroll nl-full'>

    <div class='row row-center margin0 padding0'
         style='height: 36px; overflow: hidden; border-bottom: 1px solid rgba(0, 0, 0, 0.1)'>
       <div class='col text-center fsh3 padding0'>
       </div>
       <span ng-repeat='tb in toolbar'
             ng-show='canShowToolBar(tb)'
             title='{{tb.title}}'
             class='nl-toolbar-icon {{getToolbarCls(tb)}}'
             ng-click='tb.onClick()'>
           <i class="icon {{tb.icon}}"></i>
       </span>
   </div>
   
   <div class='padding-mid'>
        <div class='row row-center margin0 padding0'>
            <input class='col padding-mid'
                ng-model='search.filter'
                placeholder='{{search.placeholder}}'
                ng-keydown='searchKeyHandler($event)'>
        </div>
        <div class='padding-small'></div>
        <div class='fgrey fsmall1'>
            <span>Showing {{displayRecords.length}} items.</span>
            <span ng-hide='canFetchMore'>Fetch complete.</span>
            <span ng-show='canFetchMore'>You could fetch more from server.</span>
        </div>
        <div class='padding-mid'></div>
        <table class='nl-table nl-table-styled'>
            <tr>
                <th ng-repeat='col in tableColumnHeaders'>{{col.name}}</th>
            </tr>
            <tr ng-repeat='record in displayRecords'>
                <td ng-repeat='col in tableColumnHeaders'>{{record[col.id]}}</td>
            </tr>
        </table>
   </div>

</div>