<style>
.nl-signin-bg {
    background-image: url({{bgImg}});
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.nl-signin-logo {
    max-width: 240px;
    max-height: 80px;
}

.nl-signin-img {
    max-width: 100%;
    max-height: 75vh;
}

.nl-signin-button {
    border: 2px solid cornflowerblue;
    text-align: center;
    height: 44px;
    font-weight: bold;
    vertical-align: middle;
    border-radius: 5px;
    padding: 10px;
    font-size: 110%;
}

.nl-login-lightbg {
	color: black;
}

.nl-login-darkbg {
	color: white;
}

input.nl-border-radius {
	border-radius: 5px;
}
</style>
<div class='nl-thin-scroll nl-full nl-signin-bg {{bgShade}}'>
<div ng-if='logo1' class='padding {{screenSize != "large" ? "text-center" : ""}}'>
	<div class='padding-mid {{logo1url ? "nl-link-img" : ""}}'
		 ng-click='onLinkClicked(logo1url)'
		 title='{{logo1text}}'
		 style='display: inline-block'>
		<img ng-src='{{logo1}}' class='nl-signin-logo'>
	</div>
</div>

<div class='row row-center padding0 margin0 text-center'>
	<div ng-show='screenSize == "large"' class='col padding'>
		<img src='{{imageContent}}' class='nl-signin-img'>
	</div>
	<div class='padding-mid {{screenSize != "large"? "col" : ""}}' style='min-width:300px'>
		<div ng-if='logo2' class='padding'>
			<div class='padding-mid {{logo2url ? "nl-link-img" : ""}}'
				 ng-click='onLinkClicked(logo2url)'
				 title='{{logo2text}}'
				 style='display: inline-block'>
				<img ng-src='{{logo2}}' class='nl-signin-logo'>
			</div>
		</div>

	    <div class='row row-wrap row-top padding0 margin0 text-left'>
	        <div ng-class='resp2Col33' class='padding-mid'>
	            <div class='padding-mid-v'>User ID</div></div>
	        <div ng-class='resp2Col67' class='padding-mid-v'>
	            <nl-input fieldmodel='username' fieldtype='text' fieldcls='w100 nl-border-radius'
	                      ng-keypress="onUsernameEnter($event)"></nl-input>
	        </div>
	    </div>

	    <div class='row row-wrap row-top padding0 margin0 text-left'
	         ng-show='isLogin'>
	        <div ng-class='resp2Col33' class='padding-mid'>
	            <div class='padding-mid-v'>Password</div></div>
	        <div ng-class='resp2Col67' class='padding-mid-v'>
	            <nl-input fieldmodel='password' fieldtype='password' fieldcls='w100 nl-border-radius'
	                      ng-keypress="onPasswordEnter($event)"></nl-input>
	        </div>
	    </div>
	    <div class='padding-mid'></div>
	    <div ng-show='isLogin' class='nl-link-text2 padding-mid text-left'
	         ng-click='lostPassword()'>
	         <div class='padding-mid-v'>Lost Password?</div>
	    </div>
	    <div class='padding-mid'>
		    <div class='nl-signin-button nl-link-text2'
		    	 ng-click='loginWithSignInOrEnter()'>Sign in</div>
	    </div>
	</div>
</div>
<div class='padding text-center'
	ng-show='screenSize != "large"'>
	<img src='{{imageContent}}' class='nl-signin-img'>
</div>
</div>