
<nl-dlg title='Approve lessons'>
    <nl-dlg-help></nl-dlg-help>
    <nl-dlg-content>
			<div class='row'>
				<span class='col col-20'>Visibality</span>
				<select class='col col-80 nl-grade-search' ng-model="data.approveto">
						<option ng-repeat='approve in cards.approveto' value='{{approve}}'>{{approve}}</option>
			    </select>
			</div>
		</br>
			<div class='row'>
				<span class='col col-20'>Visible to</span>
				<span class='col col-80'>lesson.name</span>
			</div>
		</br>
			<div class= 'row'>
				<span class='col col-20'></span>
				<div class='col col-80' ng-model="data.approvedto" ng-repeat='approve in cards.approveto'>
			    <span>{{approve}}</span></br>
			    </div>				
			</div>
    </nl-dlg-content>
</nl-dlg>