<style>

    .page_format_preview {
        box-shadow: 0 0 5px rgba(200,200,255,0.8);
        position: relative;
        top: 0;
    }
    .page_format_preview2 {
        position: absolute;
        top: 6%;
        height: 86%;
        left: 4%;
        width: 92%;
    }

    .page_format_preview_sec_dark {
        position: absolute;
        box-shadow: inset 0 0 2px rgba(255, 255,255, 1), 0 0 2px rgba(0, 0, 0, 1);
    }

    .page_format_preview_sec_light {
        position: absolute;
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 1), 0 0 2px rgba(255, 255, 255, 1);
    }

    .njsSlides .page_format_preview_sec_dark.page_format_preview_selected {
        border: 1px solid blue;
    }

    .njsSlides .page_format_preview_sec_light.page_format_preview_selected {
        border: 1px solid blue;
    }
    
    .page_format_marker {
        position: absolute;
        z-index: 1;
    }

    .page_format_tb {
        width: 100%;
        overflow: auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .page_format_tb_sep {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        height: 40px;
    }

    .page_format_tb_icon_selected {
        border-radius: 5px;
        background-color: rgba(220, 220, 255, 1);
    }

	.nl-pagetype-preview {
        box-shadow: 0 0 5px rgba(200,200,255,0.8);
        position: relative;
        top: 0;
        width: 240px;
	    height: 135px;
	}

	.nl-layout-selected {
	    background-color: #CCCCDD;
	}

    .nl-pagetype-preview-title {
      white-space: nowrap;
      text-overflow : ellipsis;
      overflow : hidden;
      max-width: 240px;
    }
	
	.nl-pagetype-selected {
	    background-color: #CCCCDD;
		border-radius: 8px 0px 0px 8px;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		border-left: 1px solid rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		z-index: 10;
	}

	.nl-border-tab{
		border-left: 1px solid rgba(0, 0, 0, 0.1);
		padding-left: 0px;
		min-height: 82vh;
	}
</style>

<nl-dlg dlgtitle='{{dlgTitle}}'
show-help='{{showHelp}}'
show-close='{{showClose}}'>
	<nl-dlg-content>
		<div class='row row-top padding0 margin0 row-stretch'
			ng-show='mode == "addpage" || mode == "changelayout"'>
			<div class='col col-25'
				style='padding-right:0px'
				ng-hide='screenSize == "small"'>
				<div class='padding-mid fsh4'>Page Types</div>
				<div ng-repeat='page in options.pagetype track by page.id'
					class='nl-link-text {{page.selected ? "nl-pagetype-selected" : ""}}'>
					<div class='padding-mid' 
						ng-click='onClick("pagetype", page)'
						style='position:relative'>
						{{page.name}}
					</div>
				</div>
			</div>
			<div class='col {{screenSize != "small" ? "nl-border-tab" : ""}}'>
				<div ng-show='screenSize == "small"'>
					<nl-dlg-row attr='pagetype' data='data' help='help'>
						<nl-select fieldmodel='pagetype'></nl-select>
					</nl-dlg-row>
				</div>
				<div class='padding-mid text-center fsh4'>Layouts</div>
				<div class='row row-center row-wrap row-justify-evenly padding-mid margin0'>
			        <div ng-repeat='layout in options.layouts track by layout.id'>
			        	<div class='padding'>
					        <div class='padding-mid  nl-link-img {{layout.id == data.layout.id ? "nl-layout-selected" : ""}}'>
		                        <div class='nl-pagetype-preview-title text-center padding-mid fsh6'>{{layout.layoutName}}</div>
							    <div class='row margin0 padding0'>
							        <div class='col padding0'></div>
			                        <div class='nl-pagetype-preview {{data.bgImg == "module_popup_img" ? "module_popup_img" : ""}}'
			                        	ng-click='onClick("layout", layout)'>
			                            <div class='page_format_preview2'>
			                                <div class='njsSlides'>
			                                    <div class='{{data.bgshade}}'>
			                                        <div ng-repeat='sec in layout.layout track by sec.pos'
			                                        style='top: {{sec.t}}%; left: {{sec.l}}%; height: {{sec.h}}%; width: {{sec.w}}%;'
			                                        class='{{sec.style}} pgSec {{data.bgshade == "bglight" ? "page_format_preview_sec_dark" : "page_format_preview_sec_light"}} '>
			                                            <div class='secViewContent' style='height: 100%;'>
			                                                <div class='row {{sec.aligntype == "content" ? "row-top" : "row-center"}} margin0 padding0'
			                                                     style='height:100%'>
			                                                </div>
			                                            </div>
			                                        </div>
			                                    </div>
			                                </div>
			                                <div ng-show='data.section' class='page_format_marker pgNoStyle'
			                                     ng-style='markerPositions'>{{data.section.pos}}</div>
			                            </div>
			                        </div>
			                        <div class='col padding0'></div>
							    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-show='mode == "changeformat"'>
			<div class='row row-top row-wrap padding0 margin0'>
				<div class='col'></div>
				<div class='nl-toolbar-icon padding-small nl-link-text'
						ng-click='onChangePageType()'>
						<i class='icon ion-ios-paper'></i>
						<span class='text-center' style='padding-right: 10px; vertical-align:super;'>Change layout</span>
				</div>					
			</div>
			<div class='row row-top row-wrap padding-left margin0' ng-show='isRaw && !data.showLayoutEdit'>
				<span class='nl-dlg-field-value padding-mid'>
					<button type="button" ng-keypress='$event.keyCode == 13  ? data.showLayoutEdit = !data.showLayoutEdit : ""' ng-click='data.showLayoutEdit = !data.showLayoutEdit'>
						Edit layout attributes
					</button> 
				</span>
			</div>
			<div ng-show='data.showLayoutEdit' class='nl-dlg-field-value padding-mid'>
				<nl-textarea fieldmodel='sectionLayout' fieldcls='nl-fixed-width'></nl-textarea>
				<div style='padding:8px 4px'>
					<button type="button" ng-keypress='$event.keyCode == 13 ? editLayoutDone() : "" ' ng-click='editLayoutDone()'>
						Done
					</button>
				</div>
			</div>
			<div class='row row-top row-wrap padding0 margin0'>
				<div ng-class='respCol221' class='padding-mid'>
				    <div class='row margin0 padding0'>
				        <div class='col padding0'></div>
                        <div class='page_format_preview {{data.bgImg == "module_popup_img" ? "module_popup_img" : ""}}'
                             ng-style='previewPositions'
                             ng-click='onSectionSelect($event, null)'>
                            <img ng-show='data.bgImg != "module_popup_img"' ng-src='{{data.bgImg}}' class='bgimg'
                                 style='{{(data.toolTab.attr == "mobPosition") ? "height:100%" : ""}}'>
                            <div class='page_format_preview2'>
                                <div class='njsSlides'>
                                    <div class='{{data.bgshade}}'>
                                        <div ng-repeat='sec in sections track by sec.pos'
                                        ng-click='onSectionSelect($event, sec)'
                                        style='top: {{data.toolTab.attr == "mobPosition" ? sec.t1: sec.t}}%; left: {{data.toolTab.attr == "mobPosition" ? sec.l1 : sec.l}}%; height: {{data.toolTab.attr == "mobPosition" ? sec.h1 : sec.h}}%; width: {{data.toolTab.attr == "mobPosition" ? sec.w1 : sec.w}}%;'
                                        class='{{sec.style}} pgSec {{data.bgshade == "bglight" ? "page_format_preview_sec_dark" : "page_format_preview_sec_light"}} nl-link-text {{data.section.pos === sec.pos ? "page_format_preview_selected" : ""}}'>
                                            <div class='secViewContent' style='height: 100%;'>
                                                <div class='row {{sec.aligntype == "content" ? "row-top" : "row-center"}} margin0 padding0'
                                                     style='height:100%'>
                                                    <div class='col padding0'>
                                                        <p style='font-size:100%'>Sample</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show='data.section' class='page_format_marker pgNoStyle'
                                     ng-style='markerPositions'>{{data.section.pos}}</div>
                            </div>
                        </div>
                        <div class='col padding0'></div>
				    </div>
				</div>
				<div ng-class='respCol221'>
					<div ng-hide='data.section' class='padding fsh4'>
						Please click on a section to edit the properties of that section.
					</div>
					<div ng-show='data.section' 
						class='row row-wrap row-stretch margin0 padding0 text-center'>
						<div class='col col-33 padding-small {{(data.toolTab.attr == "style") ? "page_format_tab_selected" : "page_format_tab_not_selected"}} nl-link-text'
							ng-click='changeTab("style")'>Styles</div>
						<div class='col col-33 padding-small {{(data.toolTab.attr == "position") ? "page_format_tab_selected" : "page_format_tab_not_selected"}} nl-link-text'
							ng-click='changeTab("position")'>Landscape</div>
						<div class='col col-33 padding-small {{(data.toolTab.attr == "mobPosition") ? "page_format_tab_selected" : "page_format_tab_not_selected"}} nl-link-text'
							ng-click='changeTab("mobPosition")'>Portrait</div>
					</div>
					<div class='padding-small'></div>
					<div ng-show='data.section' class='padding0'>
						<div ng-show='data.toolTab.attr == "style"'>
							<div class='row row-center padding0 margin0 nl-toolbar text-left page_format_tb'>
								<span class='nl-toolbar-icon padding-small'
									title='bold'
									ng-click='data.styles.bold = !data.styles.bold; onSectionPropChange()'>
									<i class=' icon material-icons {{data.styles.bold ? "page_format_tb_icon_selected" : ""}}'>format_bold</i>
								</span>
								<span class='nl-toolbar-icon padding-small'
									title='italic'
									ng-click='data.styles.italic = !data.styles.italic; onSectionPropChange()'>
									<i class='icon material-icons {{data.styles.italic ? "page_format_tb_icon_selected" : ""}}'>format_italic</i>
								</span>
								<span class='nl-toolbar-icon padding-small'
									title='underline'
									ng-click='data.styles.underline = !data.styles.underline; onSectionPropChange()'>
									<i class='icon material-icons {{data.styles.underline ? "page_format_tb_icon_selected" : ""}}'>format_underline</i>
								</span>
								<span class='padding-small page_format_tb_sep'></span>
								<span class='padding-small'></span>
	
                                <span class='nl-toolbar-icon padding-small'
									title='left align'
									ng-click='data.styles.hAlign = "align-left"; onSectionPropChange()'>
									<i class='icon material-icons {{data.styles.hAlign == "align-left" ? "page_format_tb_icon_selected" : ""}}'>format_align_left</i> 
								</span>
                                <span class='nl-toolbar-icon padding-small'
									title='center align'
									ng-click='data.styles.hAlign = "align-center"; onSectionPropChange()'>
									<i class='icon material-icons {{data.styles.hAlign == "align-center" ? "page_format_tb_icon_selected" : ""}}'>format_align_center</i>
								</span>
                                <span class='nl-toolbar-icon padding-small'
									title='right align'
									ng-click='data.styles.hAlign = "align-right"; onSectionPropChange();'>
									<i class='icon material-icons {{data.styles.hAlign == "align-right" ? "page_format_tb_icon_selected" : ""}}'>format_align_right</i>
								</span>
                                <span class='nl-toolbar-icon padding-small'
									title='justify'
									ng-click='data.styles.hAlign = "align-justify"; onSectionPropChange()'>
									<i class='icon material-icons {{data.styles.hAlign == "align-justify" ? "page_format_tb_icon_selected" : ""}}'>format_align_justify</i>
								</span>
								<span class='padding-small page_format_tb_sep'></span>
								<span class='padding-small'></span>
								
                                <span class='nl-toolbar-icon padding-small'
									title='vertical center'
									ng-click='data.styles.vAlignTop = false; onSectionPropChange()'>
									<i class='icon material-icons {{!data.styles.vAlignTop ? "page_format_tb_icon_selected" : ""}}'>vertical_align_center</i>
								</span>
                                <span class='nl-toolbar-icon padding-small'
									title='vertical top'
									ng-click='data.styles.vAlignTop = true; onSectionPropChange()'>
									<i class='icon material-icons {{data.styles.vAlignTop ? "page_format_tb_icon_selected" : ""}}'>vertical_align_top</i>
								</span>
							</div>
							<div class='padding-small'></div>
							<nl-dlg-row attr='Color' data='data'>
								<nl-select fieldmodel='colors'></nl-select>
							</nl-dlg-row>
							<nl-dlg-row attr='Shape' data='data'>
								<nl-select fieldmodel='shapes'></nl-select>
							</nl-dlg-row>
							<nl-dlg-row attr='Shadow' data='data'>
								<nl-select fieldmodel='shadow'></nl-select>
							</nl-dlg-row>
							<nl-dlg-row attr='Font size' data='data'>
								<nl-select fieldmodel='fontsize'></nl-select>
							</nl-dlg-row>
						</div>
						<div ng-show='data.toolTab.attr == "position"'>
							<div class='row row-wrap row-center margin0'>
								<div ng-class='respCol442' class='padding-mid'>
									<b>Top</b>
								</div>
								<div ng-class='respCol442' >
									<input class='nl-input' type='number' min='-10' max='110' ng-change='onSectionPropChange()' ng-model='data.section.t'>
								</div>
								<div ng-class='respCol442' class='padding-mid'>
									<b>Height</b>
								</div>
								<div ng-class='respCol442'>
									<input class='nl-input' type='number' min='0' max='120' ng-change='onSectionPropChange()' ng-model='data.section.h'>
								</div>
							</div>
							<div class='row row-wrap row-center margin0'>
								<div ng-class='respCol442' class='padding-mid'>
									<b>Left</b>
								</div>
								<div ng-class='respCol442'>
									<input class='nl-input' type='number' min='-10' max='110' ng-change='onSectionPropChange()' ng-model='data.section.l'>
								</div>
								<div ng-class='respCol442' class='padding-mid'>
									<b>Width</b>
								</div>
								<div ng-class='respCol442'>
									<input class='nl-input' type='number' min='0' max='120' ng-change='onSectionPropChange()' ng-model='data.section.w'>
								</div>
							</div>
						</div>
						<div ng-show='data.toolTab.attr == "mobPosition"'>
							<div class='row row-wrap row-center margin0'>
								<div ng-class='respCol442' class='padding-mid'>
									<b>Top</b>
								</div>
								<div ng-class='respCol442' >
									<input class='nl-input' type='number' min='-10' max='110' ng-change='onSectionPropChange()' ng-model='data.section.t1'>
								</div>
								<div ng-class='respCol442' class='padding-mid'>
									<b>Height</b>
								</div>
								<div ng-class='respCol442'>
									<input class='nl-input' type='number' min='0' max='120' ng-change='onSectionPropChange()' ng-model='data.section.h1'>
								</div>
							</div>
							<div class='row row-wrap row-center margin0'>
								<div ng-class='respCol442' class='padding-mid'>
									<b>Left</b>
								</div>
								<div ng-class='respCol442'>
									<input class='nl-input' type='number' min='-10' max='110' ng-change='onSectionPropChange()' ng-model='data.section.l1'>
								</div>
								<div ng-class='respCol442' class='padding-mid'>
									<b>Width</b>
								</div>
								<div ng-class='respCol442'>
									<input class='nl-input' type='number' min='0' max='120' ng-change='onSectionPropChange()' ng-model='data.section.w1'>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nl-dlg-content>
</nl-dlg>
