<nl-dlg title='{{dlgTitle}}' show-help='0'>
<nl-dlg-content>
    <div class='row row-top row-wrap margin0 padding-mid' 
         ng-repeat='item in data.moduleProps'
         ng-if='!item.group || data.showAdditional[item.group]'>
	    <div class='w100 nl-link-text padding-mid' 
	         ng-if='item.type === "group"'
	         ng-click='data.showAdditional[item.id] = !data.showAdditional[item.id]'
	         tabindex='0'
	         ng-keypress='$event.keyCode == 32 ? data.showAdditional[item.id] = !data.showAdditional[item.id] : ""'>
	        <span class='fsh6'>
	            <i ng-show='data.showAdditional[item.id]' class="icon ion-android-checkbox-outline"></i>
	            <i ng-hide='data.showAdditional[item.id]' class="icon ion-android-checkbox-outline-blank"></i>
	            {{item.name}}
	        </span>
	    </div>
		<div ng-if='item.type !== "group" && item.type !== "hidden" && item.id !== "pdfUrl"' ng-class='resp2Col33'
		     class='padding-mid' ng-click='item.showHelp = !item.showHelp'>
		     <div class='row row-center row-wrap margin0 padding0'>
	             <span class='col padding0'>{{item.name}}</span>
	             <i class='padding-mid nl-link-text icon fsh4 fgrey2 ion-ios-help'></i>
		     </div>
		</div>
		<div ng-if='item.id == "pdfUrl" && data.isPdf' ng-class='resp2Col33'
		     class='padding-mid' ng-click='item.showHelp = !item.showHelp'>
		     <div class='row row-center row-wrap margin0 padding0'>
	             <span class='col padding0'>{{item.name}}</span>
	             <i class='padding-mid nl-link-text icon fsh4 fgrey2 ion-ios-help'></i>
		     </div>
		</div>
        <div ng-class='resp2Col67'
        	 class='nl-dlg-field-value padding-mid'
        	 ng-show='item.type == "string" || item.type == "number"'>
        	<input ng-model='data.lessonData[item.id]' 
        	 	   type='{{item.type == "number" ? "number" : "text"}}'
        	 	   class='w100 padding-mid'></input>
        	<div ng-show='error[item.id]' class='nl-dlg-field-errormsg'>{{error[item.id]}}</div>
        </div>
        <div ng-class='resp2Col67'
        	 class='nl-dlg-field-value padding-mid'
        	 ng-show='item.type == "pdfString" && data.isPdf'>
        	 <div class='row row-top row-wrap margin0 padding0'>
        	 	<div ng-class='resp2Col80'
        	 		 class='padding0 margin0'>
		        	<input ng-model='data.lessonData[item.id]' 
		        	 	   type='{{item.type == "number" ? "number" : "text"}}'
		        	 	   class='w100 padding-mid'></input>
		        </div>
		   		<div ng-class='resp2Col20'
		   			 class='padding-mid'>
			        <span class='fsh6 nl-link-text' ng-click='data.pdfSinglePage = !data.pdfSinglePage'>
			            <i ng-show='data.pdfSinglePage' class="icon ion-android-checkbox-outline"></i>
			            <i ng-hide='data.pdfSinglePage' class="icon ion-android-checkbox-outline-blank"></i>
			            Single page
			        </span>
		        </div>
        	 </div>
        	<div ng-show='error[item.id]' class='nl-dlg-field-errormsg'>{{error[item.id]}}</div>
        </div>
        <div ng-class='resp2Col67'
        	 class='nl-dlg-field-value padding-mid'
        	 ng-show='item.type == "textarea"'>
        	<textarea ng-model='data.lessonData[item.id]'></textarea>
        	<div ng-show='error[item.id]' class='nl-dlg-field-errormsg'>{{error[item.id]}}</div>
        </div>
        <div ng-class='resp2Col67'
        	 class='nl-dlg-field-value padding-mid'
        	 ng-show='item.type == "select" && item.id !== "content_type" && item.id !== "image"'>
		    <select ng-model='data[item.id]' 
		            ng-options="elem.name group by elem.group for elem in options[item.id] track by elem.id"
		            autofocus=''
		            tabindex="{{tabindex}}">
		    </select>
		</div>
        <div ng-class='resp2Col67'
        	 class='nl-dlg-field-value padding-mid'
        	 ng-show='item.type == "select" && item.id == "image"'>
		    <select ng-model='data[item.id]' 
		            ng-options="elem as elem.name group by elem.group for elem in options[item.id] track by elem.id"
		            autofocus=''
		            ng-change='data.imageChange(data[item.id])'
		            tabindex="{{tabindex}}">
		    </select>
		    <i class='sep4'></i>
	        <div ng-show='item.id == "image"' class='row row-center padding0 margin0'>
		        <div class='col padding0 margin0'>
			        <input ng-model='data.imageUrl' class='w100'
			        	   type='text'
			        	   ng-if='data.image.id === "Custom"'>
	        	</div>
	        </div>
	        <div ng-show='item.id == "image"' class='row row-center padding-mid margin0'>
		        <div class='col padding-mid margin0'>
		        	<img ng-show='data.image.id != "Custom"' ng-src='{{data.imageConvert}}' class='nl-100'/>
		        	<img ng-show='data.image.id == "Custom" && data.imageUrl !==  null' ng-src='{{data.imageUrl}}' class='nl-100'/>
	        	</div>
	        </div>
        </div>
        <div ng-class='resp2Col67'
        	 class='nl-dlg-field-value padding-mid'
        	 ng-show='item.type == "select" && item.id === "content_type"'>
		    <select ng-model='data.learningType' 
		            ng-options='opt as opt.name for opt in options.learningMode track by opt.id'
		            autofocus=''
		            tabindex="{{tabindex}}">
		    </select>
        </div>
        <div ng-class='resp2Col67'
        	 class='nl-dlg-field-value padding-top'
        	 ng-show='item.type === "status"'>
        	 <img ng-src='{{data.lessonState.icon}}' class='{{data.lessonState.cls}}'/><i class='{{data.lessonState.cls}}'>{{data.lessonState.title || "unknown"}} </i> 
        </div>
		<div class='w100 inline-help-padding padding-mid' ng-show='item.showHelp && data.moduleHelp[item.id].desc && item.type !== "hidden"'>
		    <nl-inline-help>
		        <div>
			        <span class='fsh6 fblue2'>{{data.moduleHelp[item.id].name || item.name}}:</span>
			        <span ng-bind-html='data.moduleHelp[item.id].desc'></span>
		        </div>
		    </nl-inline-help>
		</div>
    </div>
</nl-dlg-content>
</nl-dlg>
