<nl-dlg title='{{dlgTitle}}' show-help='0'>
<nl-dlg-content>
	<div class='padding-mid'>
	    <nl-inline-help>
	        <div class='fsh6'>
		    	Name is the only mandatory property. You may leave the rest of the properties to default. Properties could be changed anytime later.
	        </div>
	    </nl-inline-help>
	</div>

    <nl-dlg-field class='row row-top row-wrap margin0 padding0'
    			  ng-repeat='item in data.moduleProps'
    			  ng-if='data.canShow(item.condition, item)'
    			  data='data' error='error' options='options' item='item'>
     </nl-dlg-field>
    </div>
</nl-dlg-content>
</nl-dlg>
