<nl-dlg dlgtitle='{{data.dlgTitle}}' show-help='0'>
<nl-dlg-content>
	<div ng-show='autoVoiceProvider'>
		<div class='row row-top margin0 padding0' ng-repeat='script in data.autoVoicePolly track by $index' style='border-bottom: 1px solid #CCCCDD'>
			<div class='padding' style='width: 52px'>
				<span ng-show='$index > 0' class="nl-link-text" 
						title='Remove this voice text'
						ng-click='data.autoVoicePolly.splice($index, 1)'>
						<i class='icon ion-ios-trash fsh4 fblue2'></i>
				</span>
			</div>
			<div class='col'>
				<div class='fsh5' style='color: #0083AC; padding: 10px 0px'>Fragment no {{$index+1}}</div>
				<nl-dlg-row attr='pageAudioType' data='data' help='help'>
					<select ng-model='script.type' 
						ng-change='selectAudioUrl($index)'
						ng-options='elem as elem.name group by elem.group for elem in script.options track by elem.id'
						style='height: 40px; width: 100%;'
						autofocus=''
						tabindex="{{fieldindex}}">
					</select>
				</nl-dlg-row>
				<nl-dlg-row ng-show='script.type.id == "audio" && script.mp3' attr='Page audio url' data='data' help='help'>
					<div class='row row-center margin0 padding0'>
						<div class='col'>
							<div class='fsh6'>Audio url: {{script.mp3}}</div>
						</div> 
						<button type="button" ng-keypress='$event.keyCode == 13 ? selectAudioUrl($index) : "" ' ng-click='selectAudioUrl($index)'>
							<i class='icon ion-more' title='Change audio'></i>
						</button>
					</div>
				</nl-dlg-row>
				<nl-dlg-row ng-show='script.type.id == "autovoice"' attr='languageInfo' data='data' help='help'>
					<nl-tree-select info='script.voiceLanguageInfo'></nl-tree-select>
				</nl-dlg-row>
				<nl-dlg-row ng-show='script.type.id == "autovoice"' attr='delay' data='data' help='help'>
					<input ng-model='script.delay' type="number"></input>
				</nl-dlg-row>
				<nl-dlg-row ng-show='script.type.id == "autovoice"' attr='voicetext' data='data' help='help'>
					<textarea ng-model='script.text' type="text" rows='4'></textarea>
				</nl-dlg-row>
			</div>
		</div>
		<div class='row row-center margin0 padding0'>
			<span class='nl-link-text padding'
				title='Add a new voice text'
				ng-click='data.addPollyVoiceField()'>
				<i class='icon ion-plus-circled fsh4 fblue2'></i>
			</span>
			<div class='col'></div>
		</div>
	</div>
	<div ng-show='!autoVoiceProvider'>
		<nl-dlg-row attr='audioUrl' data='data' help='help'>
			<div class='row row-center row-wrap margin0 padding0'>
				<div class='col padding0'>
					<nl-input fieldmodel='audioUrl'></nl-input>
				</div>				
				<div class='padding-small'>
					<button type="button" ng-keypress='$event.keyCode == 13 ? clickOnMoreOptions() : "" ' ng-click='clickOnMoreOptions()'>
						<i class='icon ion-more' title='Select audio'></i>
					</button>
				</div>
			</div>
		</nl-dlg-row>		
		<nl-dlg-row attr='autoVoice' data='data' help='help'>
			<div ng-show='data.audioUrl' class='padding-mid fsh4'>The voice script cannot be given if the audio url is provided.</div>
			<nl-textarea ng-show='!data.audioUrl' fieldmodel='autoVoice' fieldcls='nl-fixed-width'></nl-textarea>
		</nl-dlg-row>
	</div>
</nl-dlg-content>
</nl-dlg>
