/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$nltopbar:                        #403050 !default; // Top Bar Bg-Color
$nltopbar1:                       #807090 !default; // Top Bar Bg-Color gradiant
$nltopbar2:                       #675187 !default; // A darker shade for other usages
$nltopbar3:                       #B0A0C0 !default; // A lighter shade for other usages
$nldlgbar:                        #E06000 !default; // Dialog Box header Bg-Color
$nlgrey:                          #EEEEFF !default; // Mild border
$nlgreen1:                        #BBFFBB !default; // Light green
$nldarkgrey:                      #CCCCDD !default; // Darker border
$nlgreen:                         #008000 !default; // green

$energized:                       $nltopbar;
$positive:                        $nldlgbar;

// Padding definition
$nlpad_x:                         20px !default; 
$nlpad_y:                         20px !default; 
$nlpad_x_small:                   10px !default; 
$nlpad_y_small:                   10px !default; 

$grey: #A0A0C0 !default; // rgb(160, 160, 192)

$orange: #F54B22 !default; // rgb(245, 75, 34)
$orange1:  #FFA500 !default; // rgb(255, 165, 0)
$orange2: #E06000 !default; // rgb(224, 96, 0)

$yellow: #FFDC46 !default; // rgb(255, 220, 70)

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../_external_bundles/ionicfonts" !default;

// Include all of Ionic
@import "www/_extern/ionic/scss/ionic";

//-------------------------------------------------------------------------------------------
// nl specific definitions used in overriding ionic defaults
//-------------------------------------------------------------------------------------------

/*-----------------------------------------------------------------------------------------*
 * Dialog Box animations
 *-----------------------------------------------------------------------------------------*/
  .popup-container.popup-hidden .popup {
    -webkit-animation-name: scaleOut;
    animation-name: scaleOut;
    -webkit-animation-duration: 0.1s;
    animation-duration: 0.1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
@-webkit-keyframes nlDropDown {
  from {
    @include transform(translate(0, -100%));
    opacity: 1; 
  }
  to {
    @include transform(translate(0, 0));
    opacity: 1; 
  }
}

@keyframes nlDropDown {
  from {
    @include transform(translate(0, -100%));
    opacity: 1; 
  }
  to {
    @include transform(translate(0, 0));
    opacity: 1; 
  }
}

@-webkit-keyframes nlRaiseUp {
  from {
    @include transform(translate(0, 0));
    opacity: 1; 
  }
  to {
    @include transform(translate(0, -100%));
    opacity: 0; 
  }
}

@keyframes nlRaiseUp {
  from {
    @include transform(translate(0, 0));
    opacity: 1; 
  }
  to {
    @include transform(translate(0, -100%));
    opacity: 0; 
  }
}

//-------------------------------------------------------------------------------------------
// overriding some ionic defaults
//-------------------------------------------------------------------------------------------

/*-----------------------------------------------------------------------------------------*
 * Generic Overrides
 *-----------------------------------------------------------------------------------------*/
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include user-select(text); 
}

body {
  position: relative;
  font-stretch: inherit;
  line-height: inherit;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  padding-left: 8px;
  padding-right: 8px;
  background-color: $nlgrey;
  border-radius: 4px;
  display:inline;
  margin:4px;
}

ion-nav-view, ion-view {
  /*border-radius: 8px;*/
}

ol, ul {
    display: inline-block;
    text-align: left;
    word-wrap: break-word;
    margin-left: 18px;
}

ol>li {
    -webkit-margin-start: 1em;
    margin-left: 1em;
}

ul>ol, ol>ol {
    margin-left: 1.8em;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
}

ul ul {
    list-style-type: square;
}

ul ul ul {
    list-style-type: circle;
}

ul ul, ul ol, ol ol, ol ul {
    display: block;
}

.pane, .view {
    background-color: transparent;
}

/*-----------------------------------------------------------------------------------------*
 * Popup-container specific overrides
 *-----------------------------------------------------------------------------------------*/
$animation-duration: 200ms !default;
.popup-container {
  &.active .popup {
    //@include animation-name(nlDropDown);
    @include animation-duration($animation-duration);
  }

  &.popup-hidden .popup {
    //@include animation-name(nlRaiseUp);
    @include animation-duration($animation-duration);
  }

  input[type='checkbox'], input[type='radio'] {
    width: auto;
    margin: 10px 5px;
  }
}

/*-----------------------------------------------------------------------------------------*
 * Loading-background specific overrides
 *-----------------------------------------------------------------------------------------*/
.loading-container .loading {
  padding: 2%;
  border-radius: 50%;
}

.loading-container {
    pointer-events: none;
}

//-----------------------------------------------------------------------------------------
// nl specific styling - lib_ui modules
//-----------------------------------------------------------------------------------------
.nl-border-bottom {
  border-bottom: 1px dotted black;
}

.nl-green {
  color: $nlgreen;
}

.nl-table {
  margin-top: 5px;
  width: 100%;
  td, th {
    padding: 4px;
  }
  td *, th * {
    vertical-align: middle;
  }
  th {
    font-weight: bold; 
  }
}

.nl-table-styled {
  td, th {
    text-align: left;
    border: 1px solid #FFFFFF;
  }
  td {
    background-color: $nlgrey;
  }
  th {
    background-color: $nldarkgrey;
  }
}

.nl-16 {
  align: center;
  width: 16px;
  height: 16px;
}

.nl-24 {
  width: 24px;
  height: 24px;
}

.nl-max-50 {
  width: 50px;
  height: 50px;
}

.nl-100 {
  width: 100px;
  height: 100px;
}

.nl-max-100 {
  max-width: 100px;
  max-height: 100px;
}

.nl-max-200 {
  max-width: 200px;
}

.nl-max-300 {
  max-width: 300px;
}

.nl-min-200 {
  min-width: 200px;
}

.nl-clickable, .nl-clickable1 {
  cursor: pointer;
  color: #000077;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: underline;
  }
}

a.black {
  color: #000000;
}

img.nl-clickable {
  &:hover, &:focus {
    box-shadow: inset 0 0 5px rgba(170,0,0,0.1), 0 0 10px rgba(0,0,0,1);
  }
}

.nl-clickable-container {
  cursor: pointer;
  &:hover, &:focus {
    box-shadow: inset 0 0 5px rgba(170,0,0,0.1), 0 0 10px rgba(0,0,0,1);
  }
}

.nl-fixed-width {
  font-family: Courier;
}

.sep4 {
  padding: 4px;
}

.nl-toolbar {
  width: 100%;
  text-align: right;
}

.nl-toolbar-icon {
  padding-top: 10px;
  color: $orange1;
  cursor: pointer;
  font-weight: bold;
  i.icon {
    font-size: 26px;
  }
  i.icon:hover, i.icon:focus {
    color: $orange2;
  }
}

/*-----------------------------------------------------------------------------------------*
 * Thin scroll bar
 *-----------------------------------------------------------------------------------------*/
.nl-full {
  position: absolute;
  width: 100%;
  height: 100%;
}

.nl-full-withtoolbar {
  position: absolute;
  width: 100%;
  top: 40px;
  bottom: 0;
}

.nl-thin-scroll {
  overflow: auto;
}

.nl-thin-scroll1 {
  overflow: auto;
  &::-webkit-scrollbar {
    width:  8px;
    height: 8px;
  }
  
  &::-webkit-scrollbar-track {
    background: #DDDDDD;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #AAAAAA;
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.4);
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: #777777;
    box-shadow: inset 2px 0 0 rgba(255, 255, 255, 0.4);
  }
}

/*-----------------------------------------------------------------------------------------*
 * page animations
 *-----------------------------------------------------------------------------------------*/
.nl-anim-pg-down.ng-hide-add,
.nl-anim-pg-down.ng-hide-remove,
.nl-anim-pg-up.ng-hide-add,
.nl-anim-pg-up.ng-hide-remove {
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

/*-----------------------------------------------------------------------------------------*/
.nl-anim-pg-down.ng-hide-add {
  transform:translateY(0);
}

.nl-anim-pg-down.ng-hide-add.ng-hide-add-active { 
  transform:translateY(-100%);
}

.nl-anim-pg-down.ng-hide-remove {
  transform:translateY(100%);
}

.nl-anim-pg-down.ng-hide-remove.ng-hide-remove-active {
  transform:translateY(0);
}

/*-----------------------------------------------------------------------------------------*/
.nl-anim-pg-up.ng-hide-add {
  transform:translateY(0);
}

.nl-anim-pg-up.ng-hide-add.ng-hide-add-active { 
  transform:translateY(100%);
}

.nl-anim-pg-up.ng-hide-remove {
  transform:translateY(-100%);
}

.nl-anim-pg-up.ng-hide-remove.ng-hide-remove-active {
  transform:translateY(0);
}

/*-----------------------------------------------------------------------------------------*/
.nl-anim-pg-same.ng-hide-add {
  transform:translateY(0);
}

.nl-anim-pg-same.ng-hide-add.ng-hide-add-active { 
  transform:translateY(0);
}

.nl-anim-pg-same.ng-hide-remove {
  transform:translateY(0);
}

.nl-anim-pg-same.ng-hide-remove.ng-hide-remove-active {
  transform:translateY(0);
}

/*-----------------------------------------------------------------------------------------*
 * nl-dlg styles
 *-----------------------------------------------------------------------------------------*/
.nl-dlg {
  .popup {
    width: auto;
    height: auto;
    max-width: 96vw;
    max-height: 96vh;
    border-radius: 4px;
    box-shadow: 2px 2px 10px 5px #402000;
    text-align: left;
    background-color: #FFFFFF;
  }
 
  .popup-head {
    background-color: $nldlgbar;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 4px 62px 4px 4px;
    min-height: 32px;
    height: 32px;
    overflow: hidden;
    border: none;
  }

  .popup-body {
    @extend .nl-thin-scroll;
    min-width: 30vw;
    min-height: 30vh;
  }

  .popup-title {
    color: #FFFFFF;
    font-size: 120%;
  }
}

.popup-buttons {
  min-height: 37px;
  height: 37px;
  width: 100%;
  padding: 2px 5px;
  border-top: 1px solid $nldlgbar;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  .button {
    text-align: center;
    font-size: 120%;
    color: #FFFFFF;
    background-color: $nldlgbar;
    min-height: 32px;
    height: 32px;
    padding: 3px;
    
    &:last-child {
      margin-right: 0;
    }

    &:hover, &:focus {
      background: #B03000;
    }
  }
}

.popup-buttons.no-border {
  border-top: none;
}

.nl-dlg-title-buttons {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 32px;
  padding: 4px;
  img {
    height: 24px;
    width: 24px;
    cursor:pointer;
  }
}

nl-dlg-help {
  background-color: #E5FF80;
  border-radius: 4px;
  padding: 8px;
  margin: 8px;
  box-shadow: inset 0 0 10px rgba(170,0,0,0.1), 0 0 30px rgba(0,0,0,1);
  display: block;
}

.nl-dlg-help-hidden nl-dlg-help {
  display: none;
}

.nl-dlg.nl-width-max {
  .popup-body {
    width: 96vw;
  }
}

.nl-dlg.nl-height-max {
  .popup-body {
    height: 96vh;
  }
}

.nl-dlg.nl-max {
  .popup {
    max-width: 99vw;
    max-height: 99vh;
  }
  .popup-body {
    width: 99vw;
    height: 99vh;
  }
  nl-dlg-content {
    position: absolute;
    left: 0;
    top: 32px;
    bottom: 0;
    right: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

/*-----------------------------------------------------------------------------------------*
 * nl-dlg-field styles
 *-----------------------------------------------------------------------------------------*/
.nl-dlg-field-name {
  padding: 10px 4px 4px 4px;
  font-weight: 900;
}

tr .nl-dlg-field-name {
  text-align: right;
  padding-right: 10px;
  width: 20%;
}
.nl-top-align {
  vertical-align: top;
}

.nl-dlg-field-value {
  text-align: left;
  padding: 4px;
  input {
    margin: 0;
  }
  input[type='checkbox'], input[type='radio'] {
    width: auto;
    margin: 10px 5px;
  }
  textarea {
    margin: 0;
    height: 10em;
    resize: none;
  }
  textarea.small {
    height: 5em;
  }
  select {
    background-color: #EEEEFF;
    border: 0;
    border-radius: 4px;
    height: 34px;
    width: 100%;
  }
  select.nl-multi-select {
    height: 10em;
  }
  *:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }
}

input.nl-dlg-field-error {
  border: 1px solid #FF0000;
}

.nl-dlg-field-errormsg {
  padding: 5px;
  color: red;
}

/*-----------------------------------------------------------------------------------------*
 * nl-dlg.popupStatus
 *-----------------------------------------------------------------------------------------*/
#statusBox {
  z-index: 1000;
  border-radius: 8px;
  box-shadow: inset 0 0 10px rgba(170,0,0,0.1), 0 0 30px rgba(0,0,0,1);
  position: absolute;
  bottom: 1%;
  left: 1%;
  height: auto;
  width: auto;
  max-width: 40%;
  background: #403050;
  color: #ffffff;
  padding: 8px;
  cursor: pointer;
  div {
    height: auto;
    max-height: 50px;
    overflow: hidden;
  }
}

/*-----------------------------------------------------------------------------------------*
 * nl-card
 *-----------------------------------------------------------------------------------------*/
nl-cards {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nl-card {
  display: inline-block;
  text-align: center;
  position: relative;
  margin-top: 20px;
  
  /* Stuff changed in javascript*/
  height: 240px;
  width: 360px;
  font-size: 100%;
  line-height: 170%;

  a {
    text-decoration: none;
    color: #000077;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.nl-card-holder {
  position: absolute;
  top: 8%;
  left: 8%;
  height: 84%;
  width: 84%;
  
  border-radius: 4px;
  box-shadow: inset 0 0 0 rgba(170,170,255,0.1), 0 0 20px rgba(128,128,255,0.8);
  background-color: #FFFFFF;
}

.nl-card-header {
  position: absolute;
  top: 2%;
  left: 2%;
  height: 14%;
  width: 96%;
  font-size: 130%;
  color: #000077;
  white-space: nowrap;
  text-overflow : ellipsis;
  overflow : hidden;
}
.nl-card-description{
  position: absolute;
  height: 25%;
  width: 100%;
  white-space: nowrap;
  text-overflow : ellipsis;
  overflow : hidden;  
}
.nl-review-color {
  color: #FA0;
}
.nl-revision-color {
  color: #C04040;
}
.nl-template-color{
  color: #40C040;
  font-weight: 700;
}
.nl-grades{
  border: 1px solid black;
}

.nl-card-img {
  position: absolute;
  top: 27.5%;
  left: 2%;
  height: 45%;
  width: 30%;
  text-align: center;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

a.nl-card-img:hover, a.nl-card-img:focus {
  box-shadow: inset 0 0 5px rgba(170,0,0,0.1), 0 0 10px rgba(0,0,0,1);
}

.nl-card-desc {
  position: absolute;
  top: 18%;
  left: 36%;
  height: 68%;
  width: 62%;
  font-size: 100%;
  text-align: left;
  overflow: hidden;
}

.nl-card-fullDesc {
  position: absolute;
  top: 18%;
  left: 2%;
  height: 80%;
  width: 96%;
  font-size: 100%;
}


.nl-card-links {
  position: absolute;
  height: 10%;
  bottom: 2%;
  left: 2%;
  right: 2%;
  font-size: 100%;
  text-align: center;
}

.nl-card-links > span {
  cursor:pointer;
  padding: 0 4px 0 4px;
  border-right: 1px solid #0000FF;
  
  &:last-child {
    border-right: none;
  }
}

.nl-card-details-dlg-img {
  height: 100px;
  width: 100px;
  text-align: center;
  img {
    max-height: 100px;
    max-width: 100px;
  }
}

.nl-bg-red {
  background-color: rgba(255, 178, 178, 1);
}

.nl-bg-blue {
  background-color: rgba(229, 229, 255, 1); 
}

//-----------------------------------------------------------------------------------------
// search-box css code
//------------------------------------------------------------------------------------------   
.nl-card-search {
  position: relative;
  height: 32px;
  padding: 18px 8px 2px 8px;

  input {
    height: 28px;
    border: 1px solid #9999ff;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #888888;
    &:focus {
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    }
  }
  img {
    height: 28px;
    width: 28px;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #888888;
    background-color: #F5F5F5;
  }
  span {
    height: 28px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #9999ff;
    text-align: center;
    background-color: #807090;
    color: #ffffff;
  }
}

.nl-grade-search {
  padding:3px;
  margin: 0;
  border-radius:4px;
  background: #f8f8f8;
  color:#888;
  outline:none;
  cursor:pointer;
  &:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }
}

//-----------------------------------------------------------------------------------------
// Overall page layout styling
//-----------------------------------------------------------------------------------------

/*-----------------------------------------------------------------------------------------*
 * applayout.html elements
 *-----------------------------------------------------------------------------------------*/
#nl-pagecanvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;

  &.nl-hide {
    opacity: 0;
    pointer-events: none; 
  }
}

@media print {
  #nl-pagecanvas {
    display: none !important;
  }
}

#nl-topbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: $nltopbar;
  background-image: linear-gradient(to bottom,$nltopbar,$nltopbar1);
  color: #ffffff; 
}

#nl-logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 120px;
}

#nl-logo img {
  max-width: 120px; 
  max-height: 40px;
}

#nl-top-menu {
  position: absolute;
  top: 0;
  right: 2px;
  height: 40px;
  width: 120px;
  padding: 8px 2px;
  text-align: right;
}

img.nl-icon {
  width: 24px;
  height: 24px;
}

#nl-header {
  position: absolute;
  padding: 8px 4px;
  left: 124px;
  right: 124px;
  height: 40px;
  width: auto;
  font-size: 120%;
  text-align: center;
}

#nl-header small {
  font-size: 70%;
}

#nl-header small a {
  color: #FFFF80;
}

#nl-header small a:hover {
  color: #FF8080;
}

.nl-textellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#nl-user-menu {
  position: absolute;
  top: 45px;
  right: 5px; 
  width: 100px;
  padding: 0;

  background-color: #C0B0D0;
  border-radius: 8px;
  box-shadow: inset 0 0 10px rgba(170,0,0,0.1), 0 0 30px rgba(0,0,0,1);
    
  z-index: $z-index-popup;
  text-align: center;

  img {
    width: 90px;
    height: 55px;
    margin: 2px 0 0 0;
    cursor:pointer;
    border-bottom: #A090B0 solid 1px;
    &:hover {
        box-shadow: inset 0 0 10px rgba(170,0,0,0.1), 0 0 30px rgba(0,0,0,1);
    }
  }
}

#nl-body {
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}


/*-----------------------------------------------------------------------------------------*
 * applayout.html elements: full page view
 *-----------------------------------------------------------------------------------------*/
/* TODO - when you need to apply a visual transition
.fullpage {
  -webkit-transition:0.3s linear all;
  transition:0.3s linear all;
}

.borderpage {
  -webkit-transition:0.3s linear all;
  transition:0.3s linear all;
}
*/

#nl-body.fullpage {
  top: 0px;
}

#nl-topbar.fullpage {
  height: 0;
  opacity: 0;
}

//-----------------------------------------------------------------------------------------
// Modules under view_controllers
//-----------------------------------------------------------------------------------------

/*-----------------------------------------------------------------------------------------*
 * forum elements
 *-----------------------------------------------------------------------------------------*/
.nl-forum {
  input, textarea {
    width: 100%;
    border: 1px solid $nldarkgrey;
  }
}

.nl-forum-input {
  border: 1px solid $nldarkgrey;
  border-radius: 8px 0 8px 8px;
}

.nl-forum-input.newmsg {
  width: 95%;
  margin-left: 5%;
}

.nl-forum-header {
  font-weight: bold;
  font-size: 120%;
}

.nl-forum-header2 {
  font-weight: bold;
  color: #000000;
}

.nl-forum-ts, .nl-forum-msg-details {
  font-size: 80%;
}

.nl-forum-msg {
  border-radius: 0 8px 8px 8px;
  width: 95%;
  background-color: $nlgrey;
  border: 1px solid $nldarkgrey;
}

.nl-forum-msg.me {
  border-radius: 8px 0 8px 8px;
  background-color: $nlgreen1;
  margin-left: 5%;
}

.nl-forum-msg.editing {
  background-color: #FFFFFF;
}

.nl-forum-msg-content {
    min-height: 2em;
}

.nl-forum-msg-edit {
    input, textarea {
        border: 1px solid $nldarkgrey;
    }
}

.nl-forum-msg-tools img {
    opacity: 0.3;
}

.nl-forum-msg-tools img:hover, .nl-forum-msg-tools img:focus, {
    opacity: 1;
}

/*-----------------------------------------------------------------------------------------*
 * course_view elements
 *-----------------------------------------------------------------------------------------*/
.nl-cv-indent {
    padding: 0 0.6em;
}

/*-----------------------------------------------------------------------------------------*
 * rno elements
 *-----------------------------------------------------------------------------------------*/
.nl-rno-table {
  width: 100%;
  border: 1px solid #CCCCDD;
  td, th {
    padding: 4px;
  }
  td *, th * {
    vertical-align: middle;
  }
  th {
    font-weight: bold; 
  }
}

.nl-rno-0 {
  background-color: #AAAAAA;
}

.nl-rno-1 {
  background-color: #BBBBFF;
}

.nl-rno-2 {
  background-color: #CCCCFF;
}

.nl-rno-size-0 {
  font-size: 140%;
  font-weight: 900;
}

.nl-rno-size-1 {
  font-size: 140%;
}

.nl-rno-size-2 {
  font-size: 120%;
}

.nl-rno-list-item {
  background-color: $nlgrey;
  border: 1px solid $nldarkgrey;
  border-radius: 4px; 
  border-top-left-radius: 0;
}

.nl-rno-list-item.select {
  background-color: $nlgreen1;
}

.nl-hover {
  &:hover, &:focus {
    border: 1px solid black;
  }
}

/*-----------------------------------------------------------------------------------------*
 * resource elements
 *-----------------------------------------------------------------------------------------*/
.nl-thumbnail-container {
  position: relative;
  padding: 4px;
  box-sizing: border-box;
  display: inline-block;
  
  .nl-thumbnail {
    border: 1px solid black;
    border-radius: 4px;
    width: 110px;
    height: 135px;
    cursor: pointer;
    .nl-thumbnail-img {
      position: absolute;
      top: 9px;
      left: 9px;
      height: 100px;
      width: 100px;
      cursor: pointer;
      img {
        max-height: 100px;
        max-width: 100px;
      }
    }
    .nl-thumbnail-close {
      position: absolute;
      top: -4px;
      right: -4px;
      padding: 2px 4px;
      font-size: 20px;
      border-radius: 50%;
      background-color: white;
      color: rgba(180, 0, 0, 0.5);
      cursor: pointer;
      &:hover, &:focus {
        color: rgba(180, 0, 0, 1);
      }
    }
    .nl-thumbnail-txt {
      position: absolute;
      top: 114px;
      left: 9px;
      height: 20px;
      width: 100px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-align: center;
    }
  }
}

img.nl-full-width {
  max-width: 100%;
}

/*-----------------------------------------------------------------------------------------*
 * Sizing related classes
 *-----------------------------------------------------------------------------------------*/
.col.min-400 {
  -webkit-box-flex: 0;
  -webkit-flex: 1 0 400px;
  -moz-box-flex: 0;
  -moz-flex: 1 0 400px;
  -ms-flex: 1 0 400px;
  flex: 1 0 400px;
  min-width: 400px; 
}

.col.min-200 {
  -webkit-box-flex: 0;
  -webkit-flex: 1 0 200px;
  -moz-box-flex: 0;
  -moz-flex: 1 0 200px;
  -ms-flex: 1 0 200px;
  flex: 1 0 200px;
  min-width: 200px; 
}

.col.fixed-100 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100px;
  -moz-box-flex: 0;
  -moz-flex: 0 0 100px;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  max-width: 100px; 
}

.col.fixed-200 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 200px;
  -moz-box-flex: 0;
  -moz-flex: 0 0 200px;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  max-width: 200px; 
}

.col.no-grow {
    flex-grow: 0;
}

.col.no-shrink {
    flex-shrink: 0;
}

.padding0 {
    padding: 0;
}

.padding-small {
    padding: 4px;
}

.margin0, .row.margin0 {
    margin: 0;
}

//---------------------------------------------------------------------------
// Font colors
//---------------------------------------------------------------------------
.nl-static * {
  color: inherit;
}

.fblack {
  color: black;
}

.fwhite {
  color: white;
}

.forange {
  color: $orange;
}

.forange1 {
  color: $orange1;
}

.forange2 {
  color: $orange2;
}

.fyellow {
  color: $yellow;
}

.fgreen {
  color: #007700;
}

.fgrey {
  color: $grey;
}

//---------------------------------------------------------------------------
// Font sizes
//---------------------------------------------------------------------------
.fsh1 {
  font-size: 400%;
  font-weight: bold;
}

.fsh2 {
  font-size: 175%;
  font-weight: bold;
}

.fsh3 {
  font-size: 175%;
}

.fsh4 {
  font-size: 150%;
}
  
.fsh5 {
  font-size: 120%;
  font-weight: bold;
}
  
.fsh6 {
  font-size: 120%;
}
  
//---------------------------------------------------------------------------
// Element sizes
//---------------------------------------------------------------------------
.vh100 {
  min-height: 100vh;
}

.vh50 {
  min-height: 50vh;
}

.vh25 {
  min-height: 25vh;
}

.vh10 {
  min-height: 10vh;
}

.vh5 {
  min-height: 5vh;
}

.w100 {
  width: 100%;
}

.col-12-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 12.5%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 12.5%;
  -ms-flex: 0 0 12.5%;
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

//-------------------------------------------------------------------------------------------
// Large screen specific
//-------------------------------------------------------------------------------------------
.padding, .padding-top, .padding-vertical {
  padding-top: $nlpad_y;
}

.padding, .padding-right, .padding-horizontal {
  padding-right: $nlpad_x;
}

.padding, .padding-bottom, .padding-vertical {
  padding-bottom: $nlpad_y;
}

.padding, .padding-left, .padding-horizontal {
  padding-left: $nlpad_x; 
}

//-------------------------------------------------------------------------------------------
// Small screen specific
//-------------------------------------------------------------------------------------------
.nl-screen-small {
  .col.min-400 {
    -webkit-box-flex: 0;
    -webkit-flex: 1 0 350px;
    -moz-box-flex: 0;
    -moz-flex: 1 0 350px;
    -ms-flex: 1 0 350px;
    flex: 1 0 350px;
    min-width: 350px; 
  }
  
  .col.fixed-100 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 70px;
    -moz-box-flex: 0;
    -moz-flex: 0 0 70px;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    max-width: 70px; 
  }

  .padding, .padding-top, .padding-vertical {
    padding-top: $nlpad_y_small;
  }

  .padding, .padding-right, .padding-horizontal {
    padding-right: $nlpad_x_small;
  }

  .padding, .padding-bottom, .padding-vertical {
    padding-bottom: $nlpad_y_small;
  }

  .padding, .padding-left, .padding-horizontal {
    padding-left: $nlpad_x_small; 
  }
}    

/*-----------------------------------------------------------------------------------------*
 * Some animation classes
 *-----------------------------------------------------------------------------------------*/
@mixin nl_animation_class($name, $duration, $fn, $mode) {
  -webkit-animation-name: $name;
  animation-name: $name;
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-timing-function: $fn;
  animation-timing-function: $fn;
  -webkit-animation-fill-mode: $mode;
  animation-fill-mode: $mode;
}

@-webkit-keyframes animGrow {
  from {
    -webkit-transform: scale(0.5);
    opacity: 0.5; }

  to {
    -webkit-transform: scale(1);
    opacity: 1; } }

@keyframes animGrow {
  from {
    transform: scale(0.5);
    opacity: 0.5; }

  to {
    transform: scale(1);
    opacity: 1; } }

.nl-anim-grow {
    @include nl_animation_class(animGrow, 1s, ease-in-out, both);
}
    
