/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$energized:                       #403050 !default;
$positive:                        #E06000 !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/_extern/ionic/scss/ionic";

/*-----------------------------------------------------------------------------------------*
 * nl specific definitions used in overriding ionic defaults
 *-----------------------------------------------------------------------------------------*/

//-----------------------------------------------------------------------------------------
// Dialog Box animations
@-webkit-keyframes nlDropDown {
  from {
    @include transform(translate(0, -100%));
    opacity: 1; 
  }
  to {
    @include transform(translate(0, 0));
    opacity: 1; 
  }
}

@keyframes nlDropDown {
  from {
    @include transform(translate(0, -100%));
    opacity: 1; 
  }
  to {
    @include transform(translate(0, 0));
    opacity: 1; 
  }
}

@-webkit-keyframes nlRaiseUp {
  from {
    @include transform(translate(0, 0));
    opacity: 1; 
  }
  to {
    @include transform(translate(0, -100%));
    opacity: 0; 
  }
}

@keyframes nlRaiseUp {
  from {
    @include transform(translate(0, 0));
    opacity: 1; 
  }
  to {
    @include transform(translate(0, -100%));
    opacity: 0; 
  }
}

/*-----------------------------------------------------------------------------------------*
 * overriding some ionic defaults
 *-----------------------------------------------------------------------------------------*/
$animation-duration: 200ms !default;

.popup-container {
  &.active .popup {
    //@include animation-name(nlDropDown);
    @include animation-duration($animation-duration);
  }

  &.popup-hidden .popup {
    //@include animation-name(nlRaiseUp);
    @include animation-duration($animation-duration);
  }
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  padding-left: 8px;
  padding-right: 8px;
  background-color: #EEEEFF;
  border-radius: 4px;
  display:inline;
  margin:4px;
}


