<nl-dlg title='{{data.title}}' show-help='0'>
<nl-dlg-content>
<div class='padding-mid margin0 fsh3'>
	<span ng-if='data.userList.length == 1'>{{data.userList.length}} user nominated.</span>
	<span ng-if='data.userList.length > 1'>{{data.userList.length}} users nominated.</span>
</div>
<table class='nl-table nl-table-styled fsh6 padding-mid'>
	<tr>
        <th ng-repeat='item in data.headerCol'>
        	<span>{{item.name}}</span>
        </th>
	</tr>
	<tr>{{}}</tr>
    <tr ng-repeat-start='user in data.userList'>
        <td>
        	<span>{{user.name}}</span>
        </td>
        <td>
        	<span>{{user.orgunit}}</span>
        </td>
        <td>
        	<span ng-show='user.completed'>
        		<i class='nl-24 ion-checkmark-circled nl-green padding-mid'></i>Completed
        	</span>
        	<span ng-show='!user.completed'>
        		<i class='nl-24 ion-record fgrey padding-mid'></i>Pending
        	</span>
        </td>
    </tr>
    <tr ng-repeat-end>
    </tr>
</table>
</nl-dlg-content>
</nl-dlg>