<style>
	.training_attr {
		text-align: right;
		padding-right: 8px;
		font-weight: bold;
		font-size: 120%;
	}
	.training_values {
		font-size: 120%;
	}
	.training-desc {
		line-height: 120%;
	}
</style>

<nl-dlg dlgtitle='{{dlgTitle}}' show-close='1' show-help='0'>
<nl-dlg-content>
<div>
	<nl-dlg-row attr='trainingkind' help='help'
		ng-show='isCreate'>
		<div class='row row-center padding0 margin0'>
			<div class='col'>
				<nl-select fieldmodel='trainingkind'></nl-select>
			</div>
			<span ng-show='isAssignmentManage' 
				class='nl-toolbar-icon'
				ng-click='onCreateTrainingKind()'
				title='Create new training'>
				<i class='icon ion-android-add-circle'></i>
			</span>
		</div>
	</nl-dlg-row>
	<div ng-show='data.kindName && !isCreate' ng-class='respCol111'>
		<div class='row row-wrap padding0 margin0'>
			<div ng-class='respCol441'>
				<span class='training_attr'>{{help.kindName.name}}:</span>
			</div>
			<div class='col'>
				<span class='training_values'>{{data.kindName}}</span>
			</div>
		</div>
		<hr/>
	</div>
	<div ng-show='trainigKindSelected'>
		<div class='row row-center'>
			<div class='w100 padding-mid nl-link-text padding-mid' 
			     ng-click='data.showTrainingAttrs = !data.showTrainingAttrs'
			     tabindex='0'
			     ng-keypress='$event.keyCode == 13 ? data.showTrainingAttrs = !data.showTrainingAttrs : ""'>
			    <div class='fsh6'>
			        <i ng-show='data.showTrainingAttrs' class="icon ion-android-checkbox-outline"></i>
			        <i ng-hide='data.showTrainingAttrs' class="icon ion-android-checkbox-outline-blank"></i>
			        Show training details
			    </div>
			</div>
		</div>
		<div ng-show='data.showTrainingAttrs'>
		    <hr/>
		    <div ng-show='data.training_kind' class='row row-center row-wrap padding0 margin0 text-center'>
				<div class='col'></div>
			    <div class='padding-small nl-link-text'
		              ng-click='onClickOnEditTrainingKind()'
			          title='{{$root.screenSize == "small" ? "Edit training" : ""}}'>
			        <div class='row row-center padding0 margin0'>
						<i class="icon ion-edit nl-dlg-field-icon"></i>
						<span ng-show='$root.screenSize != "small"' class='padding-mid'>Edit training</span>		        	
					</div>
			    </div>
			</div>
			<div class='row row-wrap margin0 padding0'>
				<div ng-show='data.kindDesc' ng-class='respCol111'>
					<div class='row row-wrap padding0 margin0'>
						<div ng-class='respCol441'>
							<span class='training_attr'>{{help.kindDesc.name}}:</span>
						</div>
						<div class='col'>
							<span class='training_values' ng-bind-html='data.descMultiKind'></span>
						</div>
					</div>
				</div>
				<div ng-class='respCol111'>
					<div class='row row-wrap padding0 margin0'>
						<div ng-show='data.grade' ng-class='respCol442'>
							<span class='training_attr'>{{help.grade.name}}:</span>
						</div>
						<div ng-class='respCol442'>
							<span class='training_values'>{{data.grade}}</span>
						</div>
						<div ng-show='data.subject' ng-class='respCol442'>
							<span class='training_attr'>{{help.subject.name}}:</span>
						</div>
						<div ng-class='respCol442'>
							<span class='training_values'>{{data.subject}}</span>
						</div>
					</div>
				</div>
				<div ng-show='data.modulename' ng-class='respCol111'>
					<div class='row row-wrap padding0 margin0'>
						<div ng-class='respCol441'>
							<span class='training_attr'>{{help.modulename.name}}:</span>
						</div>
						<div class='col'>	
							<span class='training_values'>{{data.modulename}}</span>
						</div>
					</div>
				</div>
				<div ng-class='respCol111'
					ng-show='data.sessions && (data.sessions.length != 0)'>
					<div class='row row-wrap row-top padding0 margin0'>
						<div ng-class='respCol441' style='font-size:120%'><b>{{help.sessions.name}}:</b></div>
						<div ng-class='resp2Col67'>
							<div class='row row-center padding0 margin0'>
								<div class='col training_values'><b>Session name</b></div>
								<div class='col training_values'><b>Duration</b></div>
							</div>
							<div class='row row-center margin0 padding0' 
								ng-repeat='session in data.sessions'>
								<div class='col training_values'>{{session.name}}</div>
								<div class='col training_values'>{{data.defDurationName[session.duration].name || data.defDurationName[session.duration.id].name}}</div>
							</div>
						</div>
					</div>
					<hr/>
				</div>
			</div>
		</div>
		<nl-dlg-row attr='batchTitle' help='help'>
		    <nl-input fieldtype='text' fieldmodel='batchTitle'></nl-input>
		</nl-dlg-row>
		<nl-dlg-row attr='start_date' help='help'>
			<div style='padding: 0 4px 0 4px'>
		        <nl-date-time-select fieldmodel='start_date' fieldCls='nl-dlg-field-value'></nl-date-time-select>
			</div>
		</nl-dlg-row>
		<nl-dlg-row attr='end_date' help='help'>
			<div style='padding: 0 4px 0 4px'>
		        <nl-date-time-select fieldmodel='end_date' fieldCls='nl-dlg-field-value'></nl-date-time-select>
			</div>
		</nl-dlg-row>

		<div class='row row-center'>
			<div class='w100 padding-mid nl-link-text padding-mid' 
			     ng-click='data.showAdditionalAttrs = !data.showAdditionalAttrs'
			     tabindex='0'
			     ng-keypress='$event.keyCode == 13 ? data.showAdditionalAttrs = !data.showAdditionalAttrs : ""'>
			    <div class='fsh6'>
			        <i ng-show='data.showAdditionalAttrs' class="icon ion-android-checkbox-outline"></i>
			        <i ng-hide='data.showAdditionalAttrs' class="icon ion-android-checkbox-outline-blank"></i>
			        Show additional attributes
			    </div>
			</div>
		</div>
		<div ng-show='data.showAdditionalAttrs'>
			<nl-dlg-row attr='trainername' help='help'>
			    <nl-input fieldtype='text' fieldmodel='trainername'></nl-input>
			</nl-dlg-row>
	
			<nl-dlg-row attr='venue' help='help'>
			    <nl-input fieldtype='text' fieldmodel='venue'></nl-input>
			</nl-dlg-row>

			<nl-dlg-row attr='costInfra' help='help'>
			    <nl-input fieldtype='number' fieldmodel='costInfra' fieldminvalue='0'></nl-input>
			</nl-dlg-row>
	
			<nl-dlg-row attr='costTrainer' help='help'>
			    <nl-input fieldtype='number' fieldmodel='costTrainer' fieldminvalue='0'></nl-input>
			</nl-dlg-row>
	
			<nl-dlg-row attr='costFood' help='help'>
			    <nl-input fieldtype='number' fieldmodel='costFood' fieldminvalue='0'></nl-input>
			</nl-dlg-row>
	
			<nl-dlg-row attr='costTravel' help='help'>
			    <nl-input fieldtype='number' fieldmodel='costTravel' fieldminvalue='0'></nl-input>
			</nl-dlg-row>
	
			<nl-dlg-row attr='costMisc' help='help'>
			    <nl-input fieldtype='number' fieldmodel='costMisc' fieldminvalue='0'></nl-input>
			</nl-dlg-row>
		</div>

		<nl-dlg-row attr='desc' help='help'>
	        <nl-textarea fieldmodel='desc'></nl-textarea>
	    </nl-dlg-row>

	</div>
</div>
</nl-dlg-content>
</nl-dlg>