<style>
	.training_details {
		background-color: rgba(255, 255, 255, 0.8);
		padding: 8 px;
	}
</style>
<div class='padding-mid'>
	<div class='training_details'>
		<div class='row row-center margin0 padding0'>
			<div class='col'>
				<span class='fsh6'><i>Created</i>: {{card.training.updated}}</span>
			</div>
			<div class='col'>
				<span class='fsh6'><i>Updated</i>: {{card.training.updated}}</span>
			</div>
		</div>
	</div>
    <div class='nl-mildtoolbar text-left'>
        <span title='edit'
              class='nl-toolbar-icon'
              ng-click='onCardInternalUrlClicked(card, "training_nomination_list")'>
            <i class="icon ion-person" style='font-size: 22px'></i>
        </span>
        <span title='edit'
              class='nl-toolbar-icon'
              ng-click='onCardInternalUrlClicked(card, "training_edit")'>
            <i class="icon ion-edit" style='font-size: 22px'></i>
        </span>
    </div>
</div>
