<div class='nl-thin-scroll'>
    <nl-cards ng-if='cards' cards='cards'></nl-cards>
    <div ng-if='!cards' class='padding'>
		<nl-avpair avpname='Training name' avpval='{{content.kindName}}'></nl-avpair>
		<nl-avpair avpname='Batch' avpval='{{content.name}}'></nl-avpair>
		<nl-avpair avpname='From' avpval='{{start}}'></nl-avpair>
		<nl-avpair avpname='Till' avpval='{{end}}'></nl-avpair>
		<nl-avpair avpname='Status' avpval='{{overallStatus}}'></nl-avpair>
		<nl-avpair avpname='Description' avpval='{{content.kindDesc}}'></nl-avpair>
		<nl-avpair avpname='' avpval='{{content.desc}}'></nl-avpair>
		
		<div ng-if='sessions.length > 0'>
			<div class='padding-mid fsh5'>There are {{sessions.length}} sessions in this training.</div>
			
			<nl-avpair ng-repeat='s in sessions'
				avpname='{{s.attended}}' avpval='{{s.name}}'></nl-avpair>
		</div>

    	<div class='padding nl-button'
    		 ng-click='onLaunchModule(item)'>Launch module</div>
    </div>
</div>
