<div class='nl-thin-scroll'>
    <nl-cards ng-if='cards' cards='cards'></nl-cards>
    <div ng-if='!cards' class='padding'>
    	<div class='row row-center row-wrap margin0 padding0'>
    		<div ng-class='resp2Col67' class='padding0 margin0'>
    			<div class='padding-mid fsh4'>
	    			<span>{{record.content.kindName}}</span>
	    			<span ng-if='record.content.kindName'>:</span>
	    			<span>{{record.content.name}}</span>
    			</div>
    			<div class='row row-center row-wrap padding0 margin0 fsh6'>
    				<div class='padding0' ng-bind-html='record.statusInfo.html'></div>
    			</div>
    			<div class='row row-center row-wrap padding0 margin0 fsh6'>
    				<div class='padding0' ng-bind-html='record.feedbackhtml'></div>
    			</div>
    			<div class='row row-center row-wrap padding0 margin0 fsh6'>
    				<div ng-class='resp2Col20' class='padding-mid'><b>From</b></div>
    				<div ng-class='resp2Col80' class='padding-mid'>{{start}}</div>
    			</div>
    			<div class='row row-center row-wrap padding0 margin0 fsh6'>
    				<div ng-class='resp2Col20' class='padding-mid'><b>Till</b></div>
    				<div ng-class='resp2Col80' class='padding-mid'>{{end}}</div>
    			</div>
    		</div>
    		<div ng-class='resp2Col33'>
	    		<img style='max-height: 100%; max-width: 100%'
	    			 class='padding-mid'
	    			 ng-if='record.content.moduleicon'
	    			 ng-src='{{record.content.moduleicon}}'>
    		</div>
    	</div>
    	<hr/>
    	<div class='row row-center row-wrap margin0 padding0'>
    		<div class='col margin0 padding0'></div>
    		<div class='padding-mid nl-link-text'
    			ng-click='onLaunchModule(record)'
    			title='Navigate to the learning module associated with this training'>
    			<div class='row row-center margin0 padding0'>
	    			<i class='icon nl-dlg-field-icon ion-play'></i>
	    			<span ng-show='record.content.trainingStatus.childStatus == "completed"'>View feedback</span>
	    			<span ng-hide='record.content.trainingStatus.childStatus == "completed"'>Provide feedback</span>
    			</div>
    		</div>
    	</div>

		<div class='padding-mid fgrey' ng-bind-html='kindDesc'></div>
		<div class='padding-mid fgrey' ng-bind-html='desc'></div>

		<div class='row row-center row-wrap padding0 margin0'
			ng-show='record.content.venue'>
			<div ng-class='resp2Col20' class='padding-mid'>Venue</div>
			<div ng-class='resp2Col80' class='padding-mid' ng-bind-html='record.content.venue'></div>
		</div>
		<div class='row row-center row-wrap padding0 margin0'
			ng-show='record.content.trainername'>
			<div ng-class='resp2Col20' class='padding-mid'>Trainer</div>
			<div ng-class='resp2Col80' class='padding-mid' ng-bind-html='record.content.trainername'></div>
		</div>
    	<hr/>
    	
    	<div class='row row-wrap margin0 padding0'
    		ng-repeat='s in record.content.sessions'>
    		<div ng-class='resp2Col80' class='padding-mid'>{{s.name}}</div>
    		<div ng-class='resp2Col20' class='padding-mid' ng-bind-html='s.statusInfo.html'></div>
		</div>
</div>
