<nl-dlg dlgtitle='{{record.repcontent.name}}' show-help='0' show-close='1'>
    <nl-dlg-content>
        <div class='row row-center margin0 padding0'>
            <div class='nl-card-details-dlg-img padding0'>
                <img ng-if='record.repcontent.icon != "icon:"' ng-src='{{record.repcontent.icon}}' nl-compute-img-info></img>
                <div ng-if='record.repcontent.icon == "icon:"' class='fsh2'><i class='fsh1 ion-ios-bookmarks-outline fblue'></i></div>
            </div>
            <div class='col padding-mid fblue2'>
                {{record.repcontent.name}}
            </div>
        </div>
        <div ng-repeat='avp in record.detailsavps' class='nl-border-bottom row row-top margin0 padding0'>
            <a ng-if='avp.url' ng-href='{{avp.url}}'
               class='col col-34 padding-mid nl-link-text'>{{avp.attr}}</a>
            <b ng-if='!avp.url'
                  class='col col-34 padding-mid'>{{avp.attr}}</b>
            <span ng-if='avp.type != "links"'
                  class='col padding-mid' ng-bind-html='avp.val'></span>
            <span ng-if='avp.type == "links"'
                  class='col padding-mid'>
            	<span ng-repeat='op in avp.val track by $index'>
	            	<a ng-if="op.url" ng-href='{{op.url}}' class='nl-link-text'>{{op.val}}</a>
	            	<span ng-if="op.linkid" ng-click='onCardInternalUrlClicked($event, card, op.linkid)' class='nl-link-text'>{{op.val}}</span>
	            	<span ng-if="$index < avp.val.length - 1"> | </span>
            	</span>
            </span>
        </div>
    </nl-dlg-content>
</nl-dlg>
