<style>
.minw-details-number{
    width: 105px;
}

.padding-left-22{
    padding-left: 22px;
}

.padding-left-44{
    padding-left: 44px;
}

.padding-left-66{
    padding-left: 66px;
}
</style>
<div class='padding-mid'>
    <div class='row row-center padding0 margin0' ng-repeat='col in columns '>
        <div class='col padding0' ng-if='item[col.id] || col.showAlways' style='padding: 1px 0px'>
            <div class='row row-center padding-small margin0 {{col.background}}'>
                <div class='col'><b class='{{col.indentation}}'>{{col['name']}}</b></div>
                <div class='{{$root.screenSize == "small" ? "" : "col"}}'>
                    <div class='row row-center padding0 margin0 {{!col.hidePerc ? "text-right" : "text-center"}}  minw-details-number'
                        style='{{col.style}}'>
                        <div class='col'><b>{{item[col.id] || 0}}</b></div>
                        <div class='col nl-perc-class text-left' ng-if='!col.hidePerc'>{{(col.percid && item[col.percid] > 0) ? item[col.percid]+'%' : ''}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
