<div class='padding-mid'></div>
<div class='row row-center nl-hcard'>
    <div class='nl-hcard-img-holder text-center'>
        <img ng-if='icon != "icon:"' class='nl-hcard-img' ng-src='{{icon}}' nl-compute-img-info></img>
        <div ng-if='icon == "icon:"' class='nl-hcard-img text-center'><i class='ion-ios-bookmarks-outline fblue' style='font-size: 500%'></i></div>
    </div>
    <div class='nl-hcard-desc row row-center margin0 padding0'>
        <div class='col margin0 padding0'>
            <div>
                <b class='fblue2'>{{title}}</b>
                <span ng-show='record.not_before && isreport' class='fsmall1 fgrey'>
                    <span>From <b>{{record.not_before}}</b></span>
                    <span ng-if='record.not_after'>, till {{record.not_after}}</span>
                </span>
                </div>
                <div class='fdarkgrey2' style='padding-top: 4px'>
                    {{record.raw_record.assign_remarks}}
                </div>
        </div>
    </div>
    <div class='nl-hcard-buttons'>
        <div class='row row-center margin0 padding0'>
            <i class='{{record.stats.status.icon}}' style='font-size:180%'></i>
            <span style='padding: 0 4px'>{{record.stats.status.txt}}</span>
            <span class='col padding0 margin0 text-center'></span>
            <span ng-if='isreport'
                  class='fgrey lnblue2 padding-mid shape-rounded-h'
                  ng-click='onDetailsLinkClicked($event, record, "details")'>
                  details ...
            </span>
            <span ng-show='url' class='padding-small'></span>
            <span ng-show='url'>
                <a ng-href='{{url}}' target='' class='row row-center padding0 margin0 nl-link-text'>
                    <span ng-show='buttontype == "lowlight"' class='nl-button-lowlight lnblue2'>{{buttontext}}</span>
                    <span ng-show='buttontype == "highlight"' class='nl-button-highlight lnblue2'>{{buttontext}}</span>
                </a>
            </span>
        </div>
    </div>
</div>
