<style>
.learner-view-bg{
    background-color: #f5f5f5;
}

.section-header{
    color: #999999;
    font-weight: bold;
}

.overview-card-holder{
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 10px 15px 0 rgba(54, 54, 54, 0.05);
}

.bg-white{
    background-color: #ffffff;
}

.w70 {
    width: 70%;
}

.learner-card-subtitle {
    font-size: 85%;
    color: #838383;
}

.nl-learner-card-header {
    font-weight: bold;
    color: #245dd1;
    font-size: 100%;
}
.learner-perc-area {
    background-color: blue;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
}
.margin-auto {
    margin: auto;
}
</style>
<div class='nl-learning-report-body padding-small nl-thin-scroll learner-view-bg' style='position:absolute; width: 100%; height: 100%'>
<div> <!-- Dummy div to solve scrolled view disappears with popup issue #701 -->
    <div ng-show='!tabData.dataLoaded'
         class='nl-limitwidth padding'>
         Learning records are being loaded from the server. Please wait ...
    </div>
    <div ng-show='tabData.selectedTab.id == "assigned" && tabData.dataLoaded'
         class='nl-limitwidth padding'>

        <!-- Search box -->
        <div class='row row-center margin0 padding0'>
            <div class='col'></div>
            <span style='width: 100%; max-width: 250px'>
                <input class='padding-small w100'
                    ng-model='tabData.search'
                    ng-attr-placeholder='{{tabData.searchPlaceholder}}'
                    ng-keydown='tabData.onSearch($event)'
                    style='border: none; border-radius: 5px; height: 35px'>
            </span>
        </div>
            
        <!-- Active, Upcomming, Past Sections -->
        <div ng-repeat='section in tabData.assignedSections'>
            <div class='section-header'>{{section.title}}</div>
            <div ng-show='section.count == 0' class='padding'>
                Nothing to display.
            </div>
            <div class='anim fade' ng-repeat="record in tabData.records"
                ng-show='record.recStateObj.type == section.type'>
                <nl-learner-section record='record' attr='section.type'></nl-learner-section>
            </div>
        </div>
    </div>
    <div ng-show='tabData.selectedTab.id == "summary" && tabData.dataLoaded'
         class='nl-limitwidth padding'>
        <div class='row row-top row-wrap margin-auto padding0'>
            <div ng-class='respCol221' class='text-center padding-mid'>
                    <div class='padding-small'></div>
                    <div class='fsh5 padding-mid'>{{charts[0].title}}</div>
                    <div class='padding-small'></div>
                    <div>
                        <canvas class='chart chart-doughnut'
                                height='200'
                                width='200'
                                chart-data='charts[0].data'
                                chart-labels='charts[0].labels'
                                chart-colours='charts[0].colors'
                                chart-series='charts[0].series'
                                chart-options='charts[0].options'>
                        </canvas>
                    </div>
                </div>
                <div ng-class='$root.respCol221' class='text-center padding-mid'>
                    <div class='padding-small'></div>
                    <div class='fsh5 padding-mid'>{{charts[1].title}}</div>
                    <div class='padding-small'></div>
                    <div on-load="chartsOnLoad()">
                        <canvas class='chart chart-bar'
                                height='250'
                                width='350'
                                chart-data='charts[1].data'
                                chart-labels='charts[1].labels'
                                chart-colours='charts[1].colors'
                                chart-series='charts[1].series'
                                chart-options='charts[1].options'>
                        </canvas>
                    </div>
                </div>
            </div>
            <div class='padding'></div>
            <div class='margin-auto padding0 bg-white'>
                <nl-learning-status-counts item='tabData.learningCounts' attr='"learner"'></nl-learning-status-counts>
            </div>
    </div>
</div>
</div>