<div class='nl-intelli-textarea w-100 nl-fixed-width'>
    <textarea rows="5" ng-model="model" ng-keydown="onTextAreaKeyDown($event)"
              ng-click="selectBoxIsShown = false;"
              class="w100 nl-fixed-width"  id="nlIntellisenseTextarea" 
              ng-class="{'inactive-bg': selectBoxIsShown == true}">
    </textarea>

    <select ng-model="intelliSelect" ng-show="selectBoxIsShown" size="6"
            ng-keydown="onSelectEvent($event, 'keydown')" 
            ng-change="onSelectEvent($event, 'change')" 
            ng-mousedown="onSelectEvent($event, 'mousedown')"
            id="intelliSelect"
            ng-options="opt as opt.name for opt in intellisenseOptions track by opt.val">
    </select>
</div>