<div class='row row-center margin0 padding0 nl-link-text2'
     ng-click='canShowSessionDetails = !canShowSessionDetails'>
    <div class='col padding0'><b>Session and online meeting details:</b></div>
    <span> 
        <i ng-show='!canShowSessionDetails' class='icon ion-chevron-down fsh5'></i>
        <i ng-show='canShowSessionDetails' class='icon ion-chevron-up fsh5'></i>
    </span>
</div>
<div ng-if='canShowSessionDetails'>
    <div ng-repeat='session in data.onlineSessions' class='nl-bbgrey'>
        <div class='row row-center row-wrap padding0 margin0'>
            <div ng-class='respCol331' class='padding0'>
                <div class='padding-mid fgrey fsmall1'> Session name </div>
                <div class='padding-mid' style='height:42px'> {{session.name}} </div>
            </div>
            <div ng-class='respCol331' class='padding0'>
                <div class='padding-mid fgrey fsmall1'> Starts on </div>
                <div class='row row-center margin0 nl-xxx-select nl-link-text padding-small'
                    ion-datetime-picker 
                    autofocus=''
                    tabindex="{{fieldindex || 0}}"
                    ng-model="session.start">
                    <div class='col margin0 padding0'>{{session.start | nlDateTimeFormat}}</div>
                    <i ng-show='session.start'
                    class='icon ion-ios-close nl-dlg-field-icon forange2'
                    ng-click='session.start=null; $event.stopImmediatePropagation()'>
                    </i>                
                    <i class='icon ion-android-time nl-dlg-field-icon'></i>
                </div>
            </div>
            <div ng-class='respCol331' class='padding0'>
                <div class='padding-mid fgrey fsmall1'>Duration</div>
                <div class='padding-mid'><input ng-model='session.duration' type='number' fieldCls='w100'></input></div>
            </div>
        </div>
        <div>
            <div class='row row-center row-wrap padding0 margin0' ng-if='session.canShowUrlField'>
                <div ng-class='respCol221' class='padding0'>
                    <div class='padding-mid fgrey fsmall1'>Online meeting url</div>
                    <div class='padding-mid'><input ng-model='session.url' type='text' fieldCls='w100'></input></div>
                </div>
                <div ng-class='respCol221' class='padding0'>
                    <div class='padding-mid fgrey fsmall1'>Meeting invitation notes</div>
                    <div class='padding-mid'><input ng-model='session.notes' type='text' fieldCls='w100'></input></div>
                </div>
            </div>
            <div class='row row-center row-wrap padding-mid margin0 nl-link-text2' ng-if='session.canShowUrlField'
                ng-click='data.useSameUrlForAll = !data.useSameUrlForAll'>
                <span>
                    <i ng-show='data.useSameUrlForAll' class="icon ion-android-checkbox-outline"></i>
                    <i ng-hide='data.useSameUrlForAll' class="icon ion-android-checkbox-outline-blank"></i>
                    Use same url for all sessions
                </span>
            </div>
        </div>
    </div>
</div>
