<nl-dlg dlgtitle='{{assignInfo.dlgTitle ? assignInfo.dlgTitle : "Send assignment"}}'>
<nl-dlg-content>
    <div class='row row-center padding-mid margin0'
         ng-hide='assignInfo.assigntype == "training"'>
        <div ng-class='resp2Col33' class='padding0' 
             ng-hide='screenSize == "small"'>
            <img ng-show='assignInfo.icon != "icon:"' class='nl-max-100' ng-src='{{assignInfo.icon}}'>
            <div ng-if='assignInfo.icon == "icon:"' class='fsh4'><i class='fsh1 ion-ios-bookmarks fblue'></i></div>
        </div>
        <div ng-class='resp2Col67' class='padding0'>
            <div class='row row-center padding0 margin0'>
                <img class='nl-max-50 padding-small'
                     ng-show='screenSize == "small" && assignInfo.icon && assignInfo.icon != "icon:"'
                     ng-src='{{assignInfo.icon}}'>
                <div ng-if='assignInfo.icon == "icon:" && screenSize == "small"' class='fsh4'><i class='fsh1 ion-ios-bookmarks fblue'></i></div>
                <span class='col fsh4 padding-small'>{{assignInfo.title}}</span>
            </div>
            <div ng-hide='screenSize == "small"'>
                <div class='padding-small'>by: <b>{{assignInfo.authorName}}</b></div>
                <div ng-show='assignInfo.subjGrade' class='padding-small'>{{assignInfo.subjGrade}}</div>
                <div class='padding-small'>{{assignInfo.description}}</div>
            </div>
        </div>
    </div>

	<nl-dlg-row ng-show='assignInfo.assigntype != "training"' attr='batchname' data='data' help='help'>
		<nl-input fieldmodel='batchname' fieldtype='text' fieldCls='w100'></nl-input>
	</nl-dlg-row>

	<nl-dlg-row attr='ouUserTree' data='data' help='help'>
		<div style='padding:4px'>
	        <nl-tree-select info='data.ouUserTree' tabindex='0' autofocus=''>
	        </nl-tree-select>
		</div>
	</nl-dlg-row>

	<nl-dlg-row ng-show='assignInfo.showDateField' attr='starttime' data='data' help='help'>
		<div style='padding:4px'>
	        <nl-date-time-select fieldmodel='starttime'></nl-date-time-select>
		</div>
	</nl-dlg-row>

	<nl-dlg-row ng-show='assignInfo.showDateField' attr='endtime' data='data' help='help'>
		<div style='padding:4px'>
	        <nl-date-time-select fieldmodel='endtime'></nl-date-time-select>
		</div>
	</nl-dlg-row>

	<nl-dlg-row ng-show='assignInfo.assigntype == "lesson"' attr='maxduration' data='data' help='help'>
        <nl-input fieldmodel='maxduration' fieldtype='number' fieldcls='w100'></nl-input>
	</nl-dlg-row>

	<nl-dlg-row ng-show='assignInfo.assigntype == "lesson"' attr='showAnswers' data='data' help='help'>
		<nl-select fieldmodel='showAnswers'></nl-select>
	</nl-dlg-row>

	<nl-dlg-row ng-show='assignInfo.assigntype != "training"' attr='forum' data='data' help='help'>
        <nl-checkbox fieldmodel='forum' 
                     fieldname='allow users to discuss in the forum'
                     fieldcls= 'padding-mid'
                     fieldindex="0">
        </nl-checkbox>
	</nl-dlg-row>

	<nl-dlg-row attr='submissionAfterEndtime' data='data' help='help'
         ng-show='assignInfo.enableSubmissionAfterEndtime && data.endtime'>
        <nl-checkbox fieldmodel='submissionAfterEndtime' 
                     fieldname='allow users to submit assignment after endtime'
                     fieldcls= 'padding-mid'
                     fieldindex="0">
        </nl-checkbox>
    </nl-dlg-row>

	<nl-dlg-row ng-show='enableEmailNotifications' attr='sendEmail' data='data' help='help'>
        <nl-checkbox fieldmodel='sendEmail'
                     fieldname='notify learners by email'
                     fieldcls= 'padding-mid'
                     fieldindex="0">
        </nl-checkbox>
	</nl-dlg-row>

	<nl-dlg-row ng-show='assignInfo.blended' attr='trainerName' data='data' help='help'>
        <nl-input fieldmodel='trainerName' fieldtype='text' fieldcls='w100'></nl-input>
	</nl-dlg-row>

	<nl-dlg-row ng-show='assignInfo.blended' attr='venue' data='data' help='help'>
        <nl-input fieldmodel='venue' fieldtype='text' fieldcls='w100'></nl-input>
	</nl-dlg-row>

	<nl-dlg-row ng-show='assignInfo.blended' attr='infrastructureCost' data='data' help='help'>
        <nl-input fieldmodel='infrastructureCost' fieldtype='number' fieldcls='w100'></nl-input>
	</nl-dlg-row>

	<nl-dlg-row ng-show='assignInfo.blended' attr='trainerCost' data='data' help='help'>
        <nl-input fieldmodel='trainerCost' fieldtype='number' fieldcls='w100'></nl-input>
	</nl-dlg-row>

	<nl-dlg-row ng-show='assignInfo.blended' attr='stsAndFoodCost' data='data' help='help'>
        <nl-input fieldmodel='stsAndFoodCost' fieldtype='number' fieldcls='w100'></nl-input>
	</nl-dlg-row>

	<nl-dlg-row ng-show='assignInfo.blended' attr='travelAndAccomodationCost' data='data' help='help'>
        <nl-input fieldmodel='travelAndAccomodationCost' fieldtype='number' fieldcls='w100'></nl-input>
	</nl-dlg-row>

	<nl-dlg-row ng-show='assignInfo.blended' attr='miscellaneousCost' data='data' help='help'>
        <nl-input fieldmodel='miscellaneousCost' fieldtype='number' fieldcls='w100'></nl-input>
	</nl-dlg-row>

	<nl-dlg-row attr='remarks' data='data' help='help'>
        <nl-textarea fieldmodel='remarks' fieldcls='w100'></nl-textarea>
	</nl-dlg-row>

</nl-dlg-content>
</nl-dlg>
